Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

fix(bin/bench): on upload, do not also request large download
  neqo-bin/src/client/mod.rs
Due: none

refactor(bin/bench): fix typo %s/resp/req
  neqo-bin/benches/main.rs
Due: none

llvm
  .github/workflows/fuzz-bench.yml
Due: none

Again
  .github/workflows/fuzz-bench.yml
Due: none

No `SmallVec`
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-transport, neqo-udp

refactor(bin/bench): fix typo %s/resp/req (#2547)
  neqo-bin/benches/main.rs
Due: none

Minimize
  neqo-udp/src/lib.rs
Due: neqo-udp

PartialEq
  neqo-udp/src/lib.rs
Due: neqo-udp

DatagramMetaData
  neqo-bin/src/udp.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-udp

Fix fuzzer
  fuzz/Cargo.toml
Due: none

Minimize
  .github/actions/rust/action.yml
  .github/workflows/fuzz-bench.yml
Due: none

Flags
  .github/workflows/fuzz-bench.yml
Due: none

No mold
  .github/actions/rust/action.yml
  .github/workflows/fuzz-bench.yml
Due: none

Finalize
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

Finalize
  .github/actions/rust/action.yml
  .github/workflows/fuzz-bench.yml
Due: none

No `-v`
  .github/workflows/fuzz-bench.yml
Due: none

fix: Unbreak the fuzzer (#2545)
  .github/workflows/fuzz-bench.yml
  fuzz/Cargo.toml
Due: none

SmallVec again
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-transport, neqo-udp

ci: Don't use `quickinstall` for `cargo-fuzz`
  .github/actions/rust/action.yml
  .github/workflows/fuzz-bench.yml
Due: none

Space
  .github/actions/rust/action.yml
Due: none

Optimize
  .github/actions/rust/action.yml
Due: none

CARGO_PROFILE_RELEASE_LTO=false
  .github/workflows/fuzz-bench.yml
Due: none

static
  .github/actions/rust/action.yml
  neqo-crypto/build.rs
Due: neqo-crypto

More
  neqo-crypto/build.rs
Due: neqo-crypto

Again
  neqo-crypto/build.rs
Due: neqo-crypto

Again
  .github/actions/nss/action.yml
  neqo-crypto/build.rs
Due: neqo-crypto

Again
  .github/workflows/check.yml
  neqo-crypto/build.rs
Due: neqo-crypto

Again
  .github/actions/nss/action.yml
  .github/workflows/fuzz-bench.yml
  neqo-crypto/build.rs
Due: neqo-crypto

Again
  .github/actions/nss/action.yml
Due: none

Finalize
  .github/actions/nss/action.yml
  neqo-crypto/build.rs
Due: neqo-crypto

fix: Statically link fuzzing builds (#2548)
  .github/workflows/check.yml
  .github/workflows/fuzz-bench.yml
  neqo-crypto/build.rs
Due: neqo-crypto

chore: prepare v0.13.0
  Cargo.lock
  Cargo.toml
Due: none

fix: Fix condition in #2548
  neqo-crypto/build.rs
Due: neqo-crypto

fix: Fix condition in #2548 (#2550)
  neqo-crypto/build.rs
Due: neqo-crypto
