Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

chore: Fix clippy (#3584)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Fix more clippy lints
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

chore: Fix more clippy lints (#3585)
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

ci(mutants): exclude test-fixture/src/assertions.rs from cargo-mutants (#3583)
  .cargo/mutants.toml
Due: none

docs(README): add release documentation
  README.md
Due: none

add tests for SEARCH
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/search.rs
Due: neqo-transport

docs(README): add release documentation (#3586)
  README.md
Due: none

fix: gate SCONE Initial padding on the `scone` connection parameter (#3575)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

more test things
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
Due: neqo-transport

fix 32-bit usize overflows and saturation
  neqo-transport/src/cc/search.rs
Due: neqo-transport

address reviews
  neqo-transport/src/cc/search.rs
Due: neqo-transport

wip slower pacing in ca
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

more test coverage and typo
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

chore: Update nss-rs to 0.9.0
  Cargo.lock
  Cargo.toml
Due: none

chore: Update nss-rs to 0.9.0 (#3590)
  Cargo.lock
  Cargo.toml
Due: none

feat: drain instead of rotate+truncate in TxBuffer::mark_as_acked
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: cache effective retransmission priority in `SendStream`
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: drain instead of rotate+truncate in TxBuffer::mark_as_acked (#3591)
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fixes
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: use u64 arithmetic in `Pacer` instead of u128
  neqo-transport/src/pace.rs
Due: neqo-transport

feat: skip terminal-stream scan when no streams have completed
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

feat: add flow-control benchmark scenarios
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
Due: neqo-http3

Fixes
  neqo-transport/src/pace.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Fixes
  neqo-http3/benches/common.rs
Due: neqo-http3

Fix
  neqo-http3/benches/common.rs
Due: neqo-http3

Fix
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fix
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

test coverage for early returns in core logic
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
Due: neqo-transport

lower a qinfo to qdebug
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

clippy
  neqo-transport/src/cc/search.rs
Due: neqo-transport

nits
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
Due: neqo-transport

Define a path migration event
  neqo-bin/src/server/http09.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/events.rs
Due: neqo-http3, neqo-transport

Sort order fix
  neqo-transport/src/events.rs
Due: neqo-transport

Factor event generation
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

feat: add flow-control benchmark scenarios (#3596)
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
Due: neqo-http3

Add tests
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-transport/src/pace.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
