Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: replace the outgoing datagram hard limit with a byte budget
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Add support for waitUntilAvailable
  neqo-bin/src/client/http3.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/webtransport.rs
  test/test-0rtt-cross-ip.sh
Due: neqo-http3

Apply an implementation-defined default outgoing datagram max age
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: gate per-session stream limits on draft-15 §5.1 opt-in
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

WebTransport: verify byte-budget eviction preserves priority through a live connection
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

WebTransport: clamp explicit outgoing datagram max-age
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Test that a datagram burst larger than the QUIC queue is fully delivered
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Fix stale rustdoc links and note the stream/datagram scheduling gap
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

× Support sendGroup Id's and sendOrder for datagrams │ ~
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

subtract out some overheads from the max datagram size
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

WebTransport: tune outgoing datagram default max-age
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

remove debug_assert that could cause debug builds to fail in a race condition
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Optimize drain() by avoiding hot-path vector allocation
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: negotiate draft-15 with draft-07 backward compatibility
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Support for the WT_DRAIN_SESSION frame to initiate draining a specific session
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Fix priority inversion in hard-limit eviction
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Bound the outgoing datagram drain by the transport queue's free capacity
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

WebTransport: receiver-side stream-limit enforcement and WT_MAX_STREAMS capsule processing
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Simplify GroupQueue eviction helpers
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

WebTransport: advertise and parse per-session flow-control SETTINGS
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

atomicWrite support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/atomic_write.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

WebTransport: count sent/dropped outgoing datagrams regardless of tracking
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: share outgoing datagram capacity fairly across sessions
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: expose the outgoing datagram queue's byte budget
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

WebTransport: add a test-only escape hatch for peer reliable-reset support
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

ci: sample instructions and record perf stat counters
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

ci: address review comments
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/profile.yml
Due: none

ci: clear perf output dirs without sudo
  .github/workflows/bench.yml
Due: none

ci: measure only the benchmark loop, and make per-symbol IPC readable
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/profile.yml
Due: none

ci: correct the IPC table caveats and report absolute counts
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
Due: none

ci: give perf stat output a type
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/profile.yml
Due: none

ci: stop claiming IPC significance
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

ci: drop the IPC table preamble
  .github/scripts/format-bench-results.py
Due: none

ci: stop uploading the bench binaries
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

ci: lead the IPC table with the benchmarks criterion says moved
  .github/scripts/format-bench-results.py
Due: none

ci: presymbolicate everywhere and stop uploading binaries
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/build-samply.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none
