Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

ci: Don't depend on cached QNS results (#3123)
  .github/actions/docker-build-qns/action.yml
  .github/actions/quic-interop-runner/action.yml
  .github/workflows/qns.yml
Due: none

chore: Update `toml` to 0.9
  Cargo.lock
  neqo-crypto/Cargo.toml
Due: neqo-crypto

Fixes
  Cargo.lock
  neqo-crypto/Cargo.toml
Due: neqo-crypto

chore: `macos-13` CI runners now unsupported
  .github/workflows/check.yml
Due: none

chore: `macos-13` CI runners now unsupported (#3242)
  .github/workflows/check.yml
Due: none

chore: Update `toml` to 0.9 (#3170)
  Cargo.lock
  neqo-crypto/Cargo.toml
Due: neqo-crypto

chore: Use matrix for `clippy`
  .github/actions/toolchains/action.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
Due: none

`DatagramBatch` -> `datagram::Batch`
  neqo-bin/src/udp.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-transport, neqo-udp

Fix
  .github/workflows/clippy.yml
Due: none

chore: Update other QUIC stacks for `perfcompare` (#3231)
  .github/workflows/perfcompare.yml
Due: none

perf(qlog): introduce outer `Option` (#3129)
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

fix: Replace `qpack::Data` with trait (#3013)
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-common, neqo-qpack

fix: prevent TP caching from affecting greasing behavior (#3095)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Address review comments
  neqo-crypto/src/cert.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-transport

Fix
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Finalize
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Use `Vec::with_capacity` where we can (#3050)
  neqo-crypto/src/cert.rs
Due: neqo-crypto

Merge labels and groups
  .github/workflows/codspeed.yml
Due: none

careful only on amd64 Ubuntu
  .github/workflows/check.yml
Due: none

Again
  .github/workflows/codspeed.yml
Due: none

Force
  .github/workflows/codspeed.yml
Due: none

triple
  .github/workflows/check.yml
Due: none

Fix
  .github/workflows/check.yml
Due: none

ci: Try `cargo-careful` (#2607)
  .github/actions/rust/action.yml
  .github/workflows/check.yml
Due: none

chore: Use OCI exportrt for QNS Docker images
  .github/workflows/qns.yml
Due: none

Revamp
  .github/workflows/qns.yml
Due: none

Fixes
  .github/workflows/qns.yml
Due: none

Update .github/workflows/qns.yml
  .github/workflows/qns.yml
Due: none

Suggestion from @martinthomson
  .github/workflows/qns.yml
Due: none

Fix
  .github/workflows/qns.yml
Due: none

Again
  .github/workflows/qns.yml
Due: none

Merge suggestions from code review
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
