Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

More logging
  .github/workflows/bench.yml
Due: none

No `eval`
  .github/workflows/bench.yml
Due: none

Update the decoder/encoder to return Result + added a test when the decoder returns Err as a result of decoding
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Improve AsRef AsMut implementations
  neqo-common/src/codec.rs
Due: neqo-common

reformat
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Clippy
  neqo-common/src/codec.rs
Due: neqo-common

Fix position and len mismatch on Cursor<&mut [u8]>
  neqo-common/src/codec.rs
Due: neqo-common

perf(common): make Encoder generic over borrowed or owned buffer (#2677)
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/qpack_send_buf.rs
  neqo-transport/src/tparams.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Again
  .github/workflows/bench.yml
Due: none

Refactor
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Changed Realloc function
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Small modifications to make clippy happy
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

ci(bench): do not override main branch bench binaries
  .github/workflows/bench.yml
Due: none

Changed the test to inc/dec as a encoding/decoding
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Add a test for default encoding
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Update neqo-crypto/src/agent.rs
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Part I: addressing the comments from 1906
  neqo-crypto/src/agent.rs
Due: neqo-crypto

ci(bench): do not override main branch bench binaries (#2743)
  .github/workflows/bench.yml
Due: none

Fix build-fuzzing-corpus
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-common, neqo-transport

Addressed the rest of the suggestions + Added too long encoder/decoder tests
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

And forgot to format the code
  neqo-crypto/src/agent.rs
Due: neqo-crypto

chore: removed `dev` profile from command in README
  README.md
Due: none

Conservative DatagramBatch::MAX
  neqo-common/src/datagram.rs
Due: neqo-common

chore(Cargo.toml): update quinn-udp to v0.5.13
  Cargo.lock
  Cargo.toml
  neqo-common/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-udp

Removed the unsafe for the full encode function and added where need specifically in the code
  neqo-crypto/src/agent.rs
Due: neqo-crypto

fixing indentation
  README.md
Due: none

various changes: - addressing pr comments - doc comments - switching `ssthresh` and `cwnd` in `on_congestion_event(...)` to follow spec pseudocode - renaming `tcp_acked_bytes` to `bytes_acked`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

chore: removed `dev` profile from command in README (#2745)
  README.md
Due: none

Document and rename min_max_gso_segments
  neqo-bin/src/server/mod.rs
Due: none

Update neqo-common/src/datagram.rs
  neqo-common/src/datagram.rs
Due: neqo-common

Update neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
