Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

chore: default SCONE to off (#3492)
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fix: Don't recurse when parsing SCONE (#3460)
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Suggestions from @mxinden
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

chore: prepare v0.24.0
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.24.0 (#3481)
  Cargo.lock
  Cargo.toml
Due: none

chore: re-export `SlowStartExitReason`
  neqo-transport/src/lib.rs
Due: neqo-transport

Move to sender.rs
  neqo-common/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/sender.rs
Due: neqo-common, neqo-transport

Fixes
  neqo-common/src/qlog.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/sender.rs
Due: neqo-common, neqo-transport

chore: re-export `SlowStartExitReason` (#3493)
  neqo-transport/src/lib.rs
Due: neqo-transport

chore: prepare v0.24.1 release
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.24.1 release (#3494)
  Cargo.lock
  Cargo.toml
Due: none

feat: Increase default UDP send buffer size to 1MB
  neqo-bin/src/udp.rs
Due: none

chore: Use rustup on Solaris
  .github/actions/check-vm/action.yml
Due: none

Flatten rather than unwrap
  neqo-transport/src/scone.rs
Due: neqo-transport

Check both ways
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

chore: Use rustup on Solaris (#3496)
  .github/actions/check-vm/action.yml
Due: none

chore: Tests for `mtu` using Linux namespaces (#3334)
  .github/workflows/check-mtu.yml
  mtu/tests/netns.rs
Due: mtu

docs: fix grammar and formatting in README
  README.md
Due: none

Address review feedback: keep list descriptions lowercase
  README.md
Due: none

docs: fix grammar and formatting in README (#3502)
  README.md
Due: none

Update .github/actions/pr-comment-data-export/action.yml
  .github/actions/pr-comment-data-export/action.yml
Due: none

Update .github/actions/quic-interop-runner/action.yml
  .github/actions/quic-interop-runner/action.yml
Due: none

Update .github/actions/check-android/action.yml
  .github/actions/check-android/action.yml
Due: none

Fix clippy
  neqo-transport/src/pace.rs
Due: neqo-transport

feat: Remove `bindgen` dependency for MTU crate
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  mtu/Cargo.toml
  mtu/src/bindings/bsd.h
  mtu/src/bindings/freebsd.rs
  mtu/src/bindings/linux.h
  mtu/src/bindings/linux.rs
  mtu/src/bindings/macos.rs
  mtu/src/bindings/netbsd.rs
  mtu/src/bindings/openbsd.rs
  mtu/src/bindings/solaris.rs
  mtu/src/bsd.rs
  mtu/src/linux.rs
Due: mtu

Fix
  .github/workflows/check-mtu.yml
Due: none

Fixes
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
Due: none

Again
  .github/actions/check-vm/action.yml
  mtu/src/bindings/bsd.h
  mtu/src/bindings/linux.h
Due: none

Fix
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  mtu/src/bindings/freebsd.rs
  mtu/src/bindings/linux.rs
  mtu/src/bindings/macos.rs
  mtu/src/bindings/netbsd.rs
  mtu/src/bindings/openbsd.rs
  mtu/src/bindings/solaris.rs
Due: none

Fixes
  .github/workflows/check-mtu.yml
  Cargo.lock
Due: none

copyback
  .github/actions/check-vm/action.yml
  mtu/src/bindings/freebsd.rs
  mtu/src/bindings/linux.rs
  mtu/src/bindings/macos.rs
  mtu/src/bindings/solaris.rs
  mtu/src/bsd.rs
  mtu/src/linux.rs
Due: mtu

fmt
  mtu/src/bsd.rs
Due: mtu

Fix
  .github/actions/check-vm/action.yml
  mtu/src/bindings/netbsd.rs
Due: none

Fix
  mtu/src/bindings/openbsd.rs
  mtu/src/bsd.rs
Due: mtu

Fix
  mtu/src/linux.rs
Due: mtu

Make PR
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
Due: none

Minimize diff
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
Due: none

quinn-udp 0.6.1
  Cargo.lock
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
