Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

test(http3): expect WebTransport handles new stream before session accept
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

ci(interop): install docker v28.1
  .github/actions/quic-interop-runner/action.yml
  .github/workflows/qns.yml
Due: none

ci(interop): install docker v28.1
  .github/workflows/qns.yml
Due: none

fix(interop): update ALPN before starting server
  neqo-bin/src/bin/server.rs
  neqo-bin/src/server/mod.rs
Due: none

ci: fix samply unexpected argument '--unstable-presymbolicate'
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

ci: fix samply unexpected argument '--unstable-presymbolicate' (#2811)
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

fix(interop): update ALPN before starting server (#2808)
  .github/workflows/qns.yml
  neqo-bin/src/bin/server.rs
  neqo-bin/src/server/mod.rs
Due: none

docs(http3): fix wrong function docs on `create_stream`
  neqo-http3/src/server_events.rs
Due: neqo-http3

feat: implement MASQUE connect-udp
  echo.py
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxy.rs
  neqo-bin/src/lib.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/request_target.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Ignore all SCONE packets
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/version.rs
Due: neqo-transport

SCONE transport parameter
  neqo-transport/src/connection/params.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Add SCONE indication
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Log SCONE value
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Add a connection-level test for SCONE
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Clippy, review comments
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Reduce log level for packet drops
  neqo-transport/src/stats.rs
Due: neqo-transport

Conditionally error on other version packets
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
Due: neqo-transport

refactor(http3): improve `FrameReader` `Debug` implementation
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

docs(http3): fix wrong function docs on `create_stream` (#2812)
  neqo-http3/src/server_events.rs
Due: neqo-http3

Flip equality for const_min/const_max
  neqo-common/src/lib.rs
Due: neqo-common

Flip equality for const_min/const_max (#2816)
  neqo-common/src/lib.rs
Due: neqo-common

ci: Remove`--bindgen` from `cargo ndk`
  .github/workflows/check.yml
Due: none

Choose arch-specific toolchain
  .github/actions/nss/action.yml
Due: none

Pin `cargo-ndk`
  .github/workflows/check.yml
Due: none

Fix SemVer range
  .github/workflows/check.yml
Due: none

Strip `-arch:IA32` from NSPR configure script
  .github/actions/nss/action.yml
Due: none

Fix harder
  .github/workflows/check.yml
Due: none

Dump `config.log`
  .github/actions/nss/action.yml
Due: none

Doh
  .github/actions/nss/action.yml
Due: none

ci: Remove`--bindgen` from `cargo ndk` (#2817)
  .github/workflows/check.yml
Due: none

fix: Define all DSCP values
  neqo-common/src/tos.rs
Due: neqo-common

Again
  .github/actions/nss/action.yml
Due: none

feat: Compile less of NSS
  .github/actions/nss/action.yml
  neqo-crypto/build.rs
  qns/Dockerfile
Due: neqo-crypto

Update neqo-common/src/tos.rs
  neqo-common/src/tos.rs
Due: neqo-common

ci: Quote cache keys
  .github/actions/nss/action.yml
  .github/actions/rust/action.yml
  .github/workflows/qns.yml
Due: none

ci: Create cache on `merge_group` trigger
  .github/actions/rust/action.yml
Due: none

fix: Define all DSCP values (#2819)
  neqo-common/src/tos.rs
Due: neqo-common

feat: Compile less of NSS (#2820)
  .github/actions/nss/action.yml
  neqo-crypto/build.rs
  qns/Dockerfile
Due: neqo-crypto
