Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

refactor(bin/bench): make up- and download size explicit
  neqo-bin/benches/main.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
Due: none

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

chore(Cargo.toml): update quinn-udp to v0.5.13 (#2746)
  Cargo.lock
  Cargo.toml
  neqo-common/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-udp

Update neqo-crypto/src/agent.rs
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Again
  .github/workflows/bench.yml
Due: none

Finalize some
  .github/workflows/bench.yml
Due: none

Finalize
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

Rework `qpack`
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/qpack_decoder_receiver.rs
  neqo-http3/src/qpack_encoder_receiver.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-http3, neqo-qpack

Fix docs
  neqo-transport/src/ecn.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Redo `hp::Key`
  neqo-crypto/src/hp.rs
  neqo-crypto/tests/hp.rs
  neqo-transport/src/crypto.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-transport

Redo `qpack`
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/qpack_decoder_receiver.rs
  neqo-http3/src/qpack_encoder_receiver.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/lib.rs
Due: neqo-http3, neqo-qpack

test(udp): set emsgsize test socket to blocking
  neqo-udp/src/lib.rs
Due: neqo-udp

fix(fuzz): fix renamed header_protection::*
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/packet.rs
  fuzz/fuzz_targets/server_initial.rs
Due: none

test(udp): use neqo-udp to send GSO batch
  neqo-udp/src/lib.rs
Due: neqo-udp

Clippy
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Bump `serde` to what Gecko is using
  Cargo.lock
Due: none

fix(fuzz): fix renamed header_protection::* (#2756)
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/packet.rs
  fuzz/fuzz_targets/server_initial.rs
Due: none

test(udp): set emsgsize test socket to blocking (#2755)
  neqo-udp/src/lib.rs
Due: neqo-udp

chore: Bump `serde` to what Gecko is using (#2757)
  Cargo.lock
Due: none

fix: Fix some leftover issues from #2753
  neqo-common/src/datagram.rs
  neqo-common/src/tos.rs
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-common, neqo-transport

Fix doc comments
  neqo-bin/src/udp.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/ecn.rs
Due: neqo-http3, neqo-transport

Changed the decode signature to return a Res() instead of Res<usize>
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

ci: Bump the cache keys
  .github/actions/nss/action.yml
  .github/actions/rust/action.yml
Due: none

fix: Fix some leftover issues from #2753 (#2758)
  neqo-common/src/datagram.rs
  neqo-common/src/tos.rs
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-common, neqo-transport

Added NULL check for AllocItem
  neqo-crypto/src/agent.rs
Due: neqo-crypto

ci: Add Ansible playbooks to manage self-hosted runners
  .github/actionlint.yml
  .github/workflows/bench.yml
  .gitignore
  test/ansible/README.md
  test/ansible/bin/prep.sh
  test/ansible/bin/unprep.sh
  test/ansible/etc/sudoers.d.bench
  test/ansible/install.yml
  test/ansible/inventory.ini
  test/ansible/shrink.yml
Due: none

Introduce SetCertificateCompression function (#2592)
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/src/ssl.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

ci: Add Ansible playbooks to manage self-hosted runners (#2760)
  .github/actionlint.yml
  .github/workflows/bench.yml
  .gitignore
  test/ansible/README.md
  test/ansible/bin/prep.sh
  test/ansible/bin/unprep.sh
  test/ansible/etc/sudoers.d.bench
  test/ansible/install.yml
  test/ansible/inventory.ini
  test/ansible/shrink.yml
Due: none

reno-friendly region changes
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

ci: Don't write to disk during benchmark runs (#2738)
  .github/workflows/bench.yml
Due: none

cubic region and return value changes
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

make `cubic_phase` test pass
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Only regex
  Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-transport

feat: Replace `IndexMap` with `HashMap`
  Cargo.lock
  neqo-transport/Cargo.toml
  neqo-transport/src/send_stream.rs
Due: neqo-transport

ci: Run `cargo bench` and perf compare in parallel
  .github/workflows/bench.yml
  .github/workflows/check.yml
  .github/workflows/perfcompare.yml
Due: none

feat: Use `HashMap` for `RecvStreams`
  neqo-transport/src/recv_stream.rs
Due: neqo-transport
