Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

feat: implement MASQUE connect-udp (#2796)
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

perf(codec): optimize encode/decode functions for modern CPUs
  neqo-common/src/codec.rs
Due: neqo-common

Fix clippy
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

test(webtransport): handle session acceptance and WT datagram in same UDP datagram
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

refactor(common): add #[must_use] to Datagram functions
  neqo-common/src/datagram.rs
Due: neqo-common

chore(Cargo.toml): enable clippy must_use lints
  Cargo.toml
Due: none

refactor(common): add #[must_use] to Datagram functions (#2991)
  neqo-common/src/datagram.rs
Due: neqo-common

test(webtransport): handle session acceptance and WT datagram in same UDP datagram (#2979)
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

ci: Upload multiple bencher files in one go (#2987)
  .github/workflows/bencher-upload.yml
Due: none

perf(codec): optimize varint encoding with to_be_bytes()
  neqo-common/src/codec.rs
Due: neqo-common

perf(codec): optimize encode_uint and encode_varint with to_be_bytes()
  neqo-common/src/codec.rs
Due: neqo-common

ci: Ignore `bencher run` exit code
  .github/workflows/bencher-upload.yml
Due: none

ci: Ignore `bencher run` exit code (#2993)
  .github/workflows/bencher-upload.yml
Due: none

refactor(transport/cubic): only convert `max_datagram_size_f64` once
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

chore: prepare v0.16.0
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.16.0 (#2995)
  Cargo.lock
  Cargo.toml
Due: none

ci: Only upload neqo results to bencher (#2950)
  .github/workflows/bencher-upload.yml
Due: none

feat(.github/rust): enable full Rust backtraces
  .github/actions/rust/action.yml
Due: none

feat(.github/rust): enable full Rust backtraces (#2965)
  .github/actions/rust/action.yml
Due: none

remove suffixes
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

refactor(transport/cubic): only convert `max_datagram_size_f64` once (#2994)
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

cubic: multiplicative decrease updates
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

- rename fast convergence test
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

addressing review comments (doc wording)
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

refactor(transport/cubic): use `saturating_duration_since` for t
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Fixes
  neqo-common/src/codec.rs
Due: neqo-common

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Make zizmor happy.
  .github/workflows/actionlint.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-comment.yml
  .github/workflows/qns.yml
Due: none

test(transport): reach max MTU with GSO enabled
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
Due: neqo-transport

ci: Skip bench regression check on `main`
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

fix(transport): don't underflow on max MTU and GSO
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
Due: neqo-common, neqo-transport

chore(Cargo.toml): prepare v0.16.1
  Cargo.lock
  Cargo.toml
Due: none

chore: Some more clippy lints
  Cargo.toml
  neqo-crypto/src/selfencrypt.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/reader.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-qpack

-v
  .github/actions/nss/action.yml
Due: none

More debugging
  .github/actions/nss/action.yml
  .github/workflows/check.yml
Due: none

ARCH
  .github/actions/nss/action.yml
Due: none

uname
  .github/actions/nss/action.yml
Due: none

Again
  .github/actions/nss/action.yml
Due: none

remove arch
  .github/actions/nss/action.yml
Due: none
