Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

qvis
  test/qvis.py
Due: none

reject CR, LF, and NUL in HTTP/3 field values
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

RESET_STREAM_AT frame plumbing
  neqo-transport/src/frame.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Add RESET_STREAM_AT transport parameter
  neqo-transport/src/connection/params.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Sending side for generating RESET_STREAM_AT
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/reset_stream_at.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Receive-side handling of RESET_STREAM_AT
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Finalize transport implementation of RESET_STREAM_AT
  neqo-transport/src/connection/tests/reset_stream_at.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Wire up an API in HTTP/3 for RESET_STREAM_AT
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Commitments for HTTP/3 control streams and WebTransport
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-qpack/src/decoder.rs
Due: neqo-http3, neqo-qpack

reject CR, LF, and NUL in HTTP/3 field values (#3752)
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

fix: enforce qpack blocked stream limit in decode_header_block
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

fix: enforce qpack blocked stream limit in decode_header_block (#3755)
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Do not log raw bytes
  neqo-qpack/src/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-qpack, neqo-transport

Update neqo-transport/src/tparams.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

set_integer
  neqo-transport/src/tparams.rs
Due: neqo-transport

Remove dead code
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Suppress default-valued integer transport parameters (#3746)
  neqo-transport/src/tparams.rs
Due: neqo-transport

Release flow control credit for discarded data
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fixes
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Avoid sending FIN after RESET_STREAM_AT
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Avoid committing the control stream
  neqo-http3/src/control_stream_local.rs
Due: neqo-http3

Log RESET_STREAM_AT without the _AT for qlog
  neqo-transport/src/qlog.rs
Due: neqo-transport

DRY up the reset finalization on the receive side
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Suggestions from @martinthomson and more tests/cleanup
  test-fixture/src/sim/aqm.rs
  test-fixture/src/sim/taildrop.rs
Due: none

Format transport parameters better
  neqo-transport/src/tparams.rs
Due: neqo-transport

fix: Do not double-count PMTUD-related packet events in stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat: Switch from RED to CoDel (#3654)
  neqo-http3/benches/common.rs
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/aqm.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-http3, neqo-transport

Fix preferred addresses as well
  neqo-transport/src/tparams.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Revert "fix: do not suppress cwnd growth when pacing limits sends (#3640)"
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

Revert "fix: do not suppress cwnd growth when pacing limits sends (#3760)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

fix(transport/quic-datagram): remove inbound queue limit
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix: reject zero Insert Count Increment on QPACK decoder stream
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

Format
  neqo-transport/src/tparams.rs
Due: neqo-transport

Make debugging faster
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

More debugging and performance gains
  neqo-common/src/header.rs
  neqo-common/src/lib.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/recv_message.rs
Due: neqo-common, neqo-http3

Improve performance, documentation, and modularity
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/header.rs
  neqo-common/src/hex.rs
  neqo-common/src/lib.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
