Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

feat: Switch from RED to CoDel
  test-fixture/src/sim/taildrop.rs
Due: none

Suggestions from @martinthomson and cleanups
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mod.rs
Due: none

fix: Handle `ENOBUFS` in UDP send (#3482)
  neqo-udp/src/lib.rs
Due: neqo-udp

chore(http3,qpack): remove leftover blapi feature (#3629)
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
Due: neqo-http3, neqo-qpack

Suggestions from @martinthomson
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Update neqo-transport/src/recv_stream.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: skip terminal-stream scan when no streams have completed (#3595)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Suggestions from @martinthomson
  test-fixture/src/sim/taildrop.rs
Due: none

feat: Encode zoom parameter in qvis URL
  test/qvis.js
Due: none

Refactor to make it pluggable
  neqo-http3/benches/common.rs
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-http3, neqo-transport

fix: Fix semver CI check
  .github/workflows/semver.yml
Due: none

Potential fix for pull request finding
  .github/workflows/semver.yml
Due: none

Fix
  .github/workflows/semver.yml
Due: none

fix: Fix semver CI check (#3657)
  .github/workflows/semver.yml
Due: none

feat: Encode zoom parameter in qvis URL (#3656)
  test/qvis.js
Due: none

Suggestions from @martinthomson
  neqo-transport/benches/min_bandwidth.rs
  test-fixture/src/sim/aqm.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-transport

Fix clippy
  test-fixture/src/sim/taildrop.rs
Due: none

chore: Use `Option` for CC integers with magic sentinel values
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
Due: neqo-transport

feat(transport): optionally close a connection after N consecutive PTOs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

chore: Make `blocked_at` an `Option`
  neqo-transport/src/fc.rs
Due: neqo-transport

chore: Use `Option` for CC integers with magic sentinel values (#3660)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
Due: neqo-transport

chore: Make `blocked_at` an `Option` (#3661)
  neqo-transport/src/fc.rs
Due: neqo-transport

chore: Bump deps and update lockfile
  Cargo.lock
  Cargo.toml
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/update_lockfile.py
Due: none

Fixes
  test/compare_lockfile.py
  test/update_lockfile.py
Due: none

chore: `l` -> `block`
  neqo-transport/src/fc.rs
Due: neqo-transport

chore: Bump deps and update lockfile (#3663)
  Cargo.lock
  Cargo.toml
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/update_lockfile.py
Due: none

chore: `l` -> `block` (#3664)
  neqo-transport/src/fc.rs
Due: neqo-transport

feat: Update nss to 0.13.0
  Cargo.lock
  Cargo.toml
Due: none

feat: Expose negotiated QUIC version in transport Stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat: Expose negotiated QUIC version in transport Stats (#3665)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Add version
  Cargo.toml
Due: none

feat: Update nss-rs to 0.13.0 (#3658)
  Cargo.lock
  Cargo.toml
Due: none

Fix
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

fix: improve congestion control and loss timer logging (#3643)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

chore: 0.29.0
  .deny.toml
  Cargo.lock
  Cargo.toml
Due: none

chore: 0.29.0 (#3667)
  .deny.toml
  Cargo.lock
  Cargo.toml
Due: none

fix: lift the 32-range cap on ACK frames in tracking.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

fix: address self-review findings
  neqo-transport/src/tracking.rs
Due: neqo-transport

chore: neqo 0.29.1
  Cargo.lock
  Cargo.toml
Due: none

chore: neqo 0.29.1 (#3675)
  Cargo.lock
  Cargo.toml
Due: none
