Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

fix: Don't call `from_utf8` if not logging
  neqo-bin/src/client/http3.rs
Due: none

fix: Cache `RxStreamOrderer::bytes_ready`
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

ci: Check if we can benchmark and run `perf` at the same time
  .github/workflows/bench.yml
Due: none

fix: Don't call `from_utf8` if not logging (#2725)
  neqo-bin/src/client/http3.rs
Due: none

Remove TODO
  neqo-transport/src/stats.rs
Due: neqo-transport

feat: Use `FxHasher` in places where we don't need DDoS resistance (#2342)
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/encoder.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-qpack, neqo-transport

fix: Collect ranges into a `SmallVec` (#2635)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

refactor(transport): don't implicitly infer PacketBuilder limit (#2704)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

perf: use GSO
  .github/workflows/check.yml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

fix: Use 64K for ranges
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Update `Cargo.lock`
  Cargo.lock
Due: none

ci: Avoid large pass-by-value instances
  .clippy.toml
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix: Don't construct `Http3StreamInfo` on every call to `get_info`
  neqo-http3/src/client_events.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

Remove `get_info`
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/recv_message.rs
Due: neqo-http3

Remove `get_stream_info`
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3

perf(common): make Encoder generic over borrowed or owned buffer
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/qpack_send_buf.rs
  neqo-transport/src/tparams.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

RUNNER_OS
  .github/actions/rust/action.yml
Due: none

Update neqo-transport/src/recv_stream.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

ci: Export `samply` data from the bench runs
  .github/workflows/bench.yml
Due: none

bench(bin/server): process input datagram in batches
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-http3/src/server.rs
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-transport

docs(common): fix panic documentation
  neqo-common/src/codec.rs
Due: neqo-common

docs(common): fix panic documentation (#2735)
  neqo-common/src/codec.rs
Due: neqo-common

ci: Export `samply` data from the bench runs (#2732)
  .github/workflows/bench.yml
Due: none

perf(common): make Encoder generic over borrowed or owned buffer
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/qpack_send_buf.rs
  neqo-transport/src/ackrate.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/tracking.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

fix: Use static `Http3StreamInfo`s (#2730)
  neqo-http3/src/client_events.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

ci: Don't write to disk during benchmark runs
  .github/workflows/bench.yml
Due: none

Fix
  .github/workflows/bench.yml
Due: none

eval
  .github/workflows/bench.yml
Due: none

fix: Flip `NeqoQlog` types around
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

fix: Call `Instant::now` less frequently in client
  neqo-bin/src/client/mod.rs
Due: none

fmt
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/server.rs
Due: neqo-qpack, neqo-transport

fix: Keep tracking ECN marks in `ValidationState::Unknown`
  neqo-transport/src/ecn.rs
Due: neqo-transport

More logging
  .github/workflows/bench.yml
Due: none

Comments from @mxinden
  neqo-bin/src/client/mod.rs
Due: none

u64::try_from expect
  neqo-common/src/codec.rs
Due: neqo-common

Sort Buffer trait function implementations
  neqo-common/src/codec.rs
Due: neqo-common

Start Encoder start position in Buffer
  neqo-common/src/codec.rs
Due: neqo-common

More logging
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
