Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Update neqo-crypto/build.rs
  neqo-crypto/build.rs
Due: none

Fix
  .github/actions/cpu-tuning/action.yml
  .github/copilot-instructions.md
Due: none

Fix
  neqo-crypto/build.rs
Due: none

Fix
  .github/actions/cpu-tuning/action.yml
Due: none

fix: Use Xcode's libclang on macOS (#3557)
  neqo-crypto/build.rs
Due: none

Fix
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
Due: none

Fix
  .github/scripts/perfcompare.py
Due: none

Update .github/scripts/perfcompare.py
  .github/scripts/perfcompare.py
Due: none

Fix
  .github/workflows/bench.yml
Due: none

Fix
  .github/actions/cpu-tuning/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

chore: Use the `cpu-tuning` action again (#3562)
  .github/actions/cpu-tuning/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Fixes
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  mtu/src/bindings/bsd.h
  mtu/src/bindings/linux.h
  mtu/src/linux.rs
Due: mtu

Fixes
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  Cargo.lock
  mtu/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-transport, mtu

docs: add backticks around env_logger in doc comment
  neqo-common/src/log.rs
Due: neqo-common

Fixes
  .github/actions/check-vm/action.yml
Due: none

Fixes
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  neqo-transport/Cargo.toml
Due: neqo-transport

Fixes
  .github/workflows/check-mtu.yml
  Cargo.lock
  mtu/Cargo.toml
  mtu/src/bsd.rs
Due: mtu

docs: add comprehensive documentation for logging API (#3555)
  neqo-common/src/log.rs
Due: neqo-common

feat: Remove `bindgen` dependency for MTU crate (#3337)
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  Cargo.lock
  mtu/Cargo.toml
  mtu/build.rs
  mtu/src/bindings/bsd.h
  mtu/src/bindings/freebsd.rs
  mtu/src/bindings/linux.h
  mtu/src/bindings/linux.rs
  mtu/src/bindings/macos.rs
  mtu/src/bindings/netbsd.rs
  mtu/src/bindings/openbsd.rs
  mtu/src/bindings/solaris.rs
  mtu/src/bsd.rs
  mtu/src/linux.rs
  neqo-transport/Cargo.toml
Due: neqo-transport, mtu

chore: mtu@0.4.1
  Cargo.lock
  mtu/Cargo.toml
  mtu/README.md
  mtu/SECURITY.md
  mtu/src/lib.rs
Due: mtu

chore: mtu@0.4.1 (#3563)
  Cargo.lock
  mtu/Cargo.toml
  mtu/README.md
  mtu/SECURITY.md
  mtu/src/lib.rs
Due: mtu

feat(cc): add parameter to disable spurious congestion recovery
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

add tests and rename parameters
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

fix: Don't serve h09 requests before stream FIN (#3551)
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  test/test.sh
Due: none

de-dublicate and streamline logic in `on_spurious_congestion_event`
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

fix a comment
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

feat(cc): add parameter to disable spurious congestion recovery (#3564)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

chore: Bump the competing stacks to latest versions
  .github/actions/quic-build/action.yml
Due: none

chore: Small CI fixes
  .github/actions/check-vm/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-http3, neqo-transport

chore: Small CI fixes (#3566)
  .github/actions/check-vm/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-http3, neqo-transport

chore: Bump the competing stacks to latest versions (#3567)
  .github/actions/quic-build/action.yml
Due: none
