Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

Suggestions from @martinthomson
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

Fixes
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

Suggestions from @martinthomson and further cleanups.
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/json.rs
  neqo-transport/src/stats.rs
Due: neqo-common, neqo-transport

Fixes
  neqo-bin/src/client/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix: `server_rejects_server_only_tparams` needs to init NSS (#3873)
  neqo-transport/src/tparams.rs
Due: neqo-transport

fix: Tighter implementation of Section 6.2.3 of RFC 9002
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

Don't pretty-print the JSON anymore
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-common/src/json.rs
  neqo-common/src/lib.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/ecn.rs
  neqo-transport/src/stats.rs
  test-fixture/Cargo.toml
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-common, neqo-transport

Fixes
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: PPDPLPMTUD
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/streams.rs
  test-fixture/src/lib.rs
  test/test.sh
Due: neqo-http3, neqo-transport

fix: More clippy
  .clippy.toml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/pacer.rs
  neqo-transport/benches/packet_codec.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/send_streams.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/stats.rs
  test-fixture/src/lib.rs
Due: neqo-http3, neqo-transport

Fixes
  test/test.sh
Due: none

Suggestions from @martinthomson
  neqo-transport/src/crypto.rs
Due: neqo-transport

Update test/test.sh
  test/test.sh
Due: none

fix: Don't even init logging when it can't log
  neqo-common/benches/decoder.rs
  neqo-common/src/log.rs
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/pacer.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/send_streams.rs
  neqo-transport/benches/sent_packets.rs
Due: neqo-common, neqo-transport

fix: More clippy (#3889)
  .clippy.toml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/pacer.rs
  neqo-transport/benches/packet_codec.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/send_streams.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/stats.rs
  test-fixture/src/lib.rs
Due: neqo-http3, neqo-transport

fix: Don't auto-init log in benches (#3892)
  neqo-common/benches/decoder.rs
  neqo-common/src/log.rs
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/pacer.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/send_streams.rs
  neqo-transport/benches/sent_packets.rs
Due: neqo-common, neqo-transport

LUA magic for more info
  test/test.sh
Due: none

chore: Refactor CI (#3883)
  .github/actionlint.yml
  .github/actions/build-neqo/action.yml
  .github/actions/bundle-nss/action.yml
  .github/actions/check-android/action.yml
  .github/actions/install-build-deps/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
  AGENTS.md
Due: none

fix(transport): back-pressure the outbound QUIC datagram queue
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix: Report packet and datagram sizes accurately in qlog
  neqo-common/src/qlog.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-transport

test: cover a key update packet delivered twice
  neqo-transport/src/connection/tests/keys.rs
Due: neqo-transport

fix: respond to each key update only once
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix: `pacer_spend_pacing_limited` was defunct
  neqo-transport/benches/pacer.rs
Due: neqo-transport

Suggestions from @martinthomson and further cleanups
  neqo-common/src/qlog.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/saved.rs
Due: neqo-common, neqo-transport

fix: limit discontiguous STREAM reassembly ranges
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Cleanups
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

More
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Reign in the code churn
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix(transport): respond to each key update only once (#3893)
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix: Better profiles from GitHub runners
  .github/actions/cpu-tuning/action.yml
  .github/actions/enable-perf/action.yml
  .github/actions/install-samply/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

fix: Better profiles from GitHub runners (#3894)
  .github/actions/cpu-tuning/action.yml
  .github/actions/enable-perf/action.yml
  .github/actions/install-samply/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

fix: `pacer_spend_pacing_limited` was defunct (#3890)
  neqo-transport/benches/pacer.rs
Due: neqo-transport

fix: use fixed-length CIDs for benches (#3879)
  test-fixture/src/lib.rs
  test-fixture/src/sim/http3_connection.rs
Due: none

fix: limit discontiguous STREAM reassembly ranges
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Address comments
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fixes and cleanup
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix: Skip VM tests when system NSS is too old
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/firefox.yml
Due: none

Improve test coverage
  neqo-transport/src/stats.rs
Due: neqo-transport

Potential fix for pull request finding
  .github/actions/check-vm/action.yml
Due: none

Log skip
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
