Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Suggestions from @martinthomson
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/saved.rs
Due: neqo-transport

Remove `MAX_SEND_BUFFER_SIZE`
  neqo-transport/src/connection/params.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

chore: Make some other assorted associated consts (#3145)
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/path.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Update test/make-fuzz-corpus.sh
  test/make-fuzz-corpus.sh
Due: none

Fix
  test/make-fuzz-corpus.sh
Due: none

fix: Fix nightly Rust clippy warnings in #3133 (#3144)
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-http3

Update neqo-bin/src/server/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

Update neqo-bin/src/client/mod.rs
  neqo-bin/src/client/mod.rs
Due: none

chore: Fix `macos` sanitizer workflow
  .github/workflows/sanitize.yml
Due: none

Fix
  .github/workflows/sanitize.yml
Due: none

chore: Fix clippy lint
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-http3

Also actions
  .github/actions/docker-build-qns/action.yml
  .github/actions/nss/action.yml
  .github/actions/quic-interop-runner/action.yml
Due: none

feat: Fuzz transport parameters parsing
  fuzz/Cargo.toml
  fuzz/fuzz_targets/tparams.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

feat: Fuzz QPACK decoding
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/qpack.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/table.rs
Due: neqo-qpack

Update neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Don't change default visibility
  fuzz/fuzz_targets/tparams.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

feat: Fuzz `HFrame` decoding
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/hframe.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Name with SHA1 like LLVM
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/src/fuzz.rs
Due: neqo-common

Set corpus location with NEQO_CORPUS and only merge new inputs
  neqo-common/src/fuzz.rs
  test/make-fuzz-corpus.sh
Due: neqo-common

Update neqo-http3/Cargo.toml
  neqo-http3/Cargo.toml
Due: neqo-http3

Update neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

Update fuzz/fuzz_targets/hframe.rs
  fuzz/fuzz_targets/hframe.rs
Due: none

Also save on encode, and add more unique samples
  fuzz/corpus/find_sni/692e608926dcc1ac7ecf94e55909565a0241b15e
  fuzz/corpus/find_sni/769a6610d07e5122d4d0ed473a00f1b306abc80a
  fuzz/corpus/frame/24313380b89749fa23d81c8cfe7ecadf5f282df3
  fuzz/corpus/frame/696e42920d6120a6bb62c91aadaac1ac3dbc6a1b
  fuzz/corpus/frame/a770e2f2e2eed3b5758a71c42896e4469efef9bf
  fuzz/corpus/packet/241806d66a57a00b492500fef1f1a12fa961422f
  fuzz/corpus/packet/2532132124c7f12afb6550f73072848e08390a1e
  fuzz/corpus/packet/2bfc3a925ec89a901ce510a92f270ee05090a1d2
  fuzz/corpus/packet/4e7aaaad79ec17ed60880de0dd041749d653e8b8
  fuzz/corpus/packet/77cf89ba16d984a6aa70b2a92c95cfe1cb6bb46a
  fuzz/corpus/packet/af091eff390a52b76f6498c38472f578ae51bf64
  neqo-common/src/fuzz.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-common, neqo-transport

fix(transport): Adjust flow control to be 4/3 BDP.
  neqo-transport/src/fc.rs
Due: neqo-transport

test(transport): Update auto tune test to include rtt delay
  neqo-transport/src/fc.rs
Due: neqo-transport

bump MINIMUM_EXPECTED_UTILIZATION in min_bandwidth bench to 0.6
  neqo-transport/benches/min_bandwidth.rs
Due: neqo-transport

chore: Fix clippy lint (#3153)
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-http3

feat: Also save fuzzing samples on encode
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Break out saving samples on encode into #3163
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Make PR with new fuzzing samples
  .github/workflows/fuzz-corpus.yml
  test/make-fuzz-corpus.sh
Due: none

Tweaks
  .github/workflows/fuzz-corpus.yml
Due: none

Use FrameEncoder::encode_frame
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport
