Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

WebTransport: rewire the new datagram queue onto Connection's engine
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Add transport outgoing-datagram queue engine
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Reject datagrams larger than the peer's max_datagram_frame_size in enqueue_datagram
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

Add outgoing-datagram queues to QuicDatagrams/Connection
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

refactor: simplify batch metadata handling
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-http3, neqo-transport

refactor: shrink diff against main
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
Due: neqo-common, neqo-http3, neqo-transport

Remove the legacy per-connection outgoing-datagram queue
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport datagram queue initial version (#4003)
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

chore: Update quinn-udp
  Cargo.lock
Due: none

bench: Batch the small coalesce_acked_from_zero benches
  neqo-transport/benches/range_tracker.rs
Due: neqo-transport

chore: Don't do a CRAP SARIF upload for merge-queue runs
  .github/workflows/check.yml
Due: none

chore: Don't do a CRAP SARIF upload for merge-queue runs (#4029)
  .github/workflows/check.yml
Due: none

Reserve the ACK range count width and rewrite it in place
  neqo-common/src/codec.rs
  neqo-transport/src/tracking.rs
Due: neqo-common, neqo-transport

test(transport): say which call writes the second datagram
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

test(http3): trim the datagram burst test's doc comment
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

test(transport): say which call writes the second datagram (#4031)
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

test(http3): trim the datagram burst test's doc comment (#4032)
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Size the ACK range count from the ranges that fit
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

fix(qpack): compute MaxEntries from peer capacity
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

fix: Try increasingly smaller send buffer sizes
  neqo-bin/src/udp.rs
Due: none

chore: Update qlog to 0.18.1
  Cargo.lock
  Cargo.toml
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

chore: Update qlog to 0.18.1 (#3750)
  Cargo.lock
  Cargo.toml
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Rename the datagram high water mark to max buffered datagrams
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

WebTransport: count a session's expired outgoing datagrams
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-http3, neqo-transport

Return NotAvailable instead of TooMuchData when the peer has no datagram path
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Expose datagram outgoingMaxBufferedDatagrams/outgoingMaxAge setters as production API
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Transport: count datagrams actually sent per session
  neqo-http3/src/features/extended_connect/session.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

WebTransport: report the fate of outgoing datagrams via aggregate stats
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

WebTransport: drop a closed session's queued datagrams on teardown
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

fixup! WebTransport: report the fate of outgoing datagrams via aggregate stats
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Add Connection::set_remote_max_streams to raise the incoming stream limit
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

fixup! WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/webtransport.rs
Due: neqo-http3

fixup! Add Connection::set_remote_max_streams to raise the incoming stream limit
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

WebTransport: add anticipatedConcurrentIncomingUni/BidirectionalStreams support
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

fix(transport): check max frame size for inbound dgrams
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Rename the datagram high water mark to max buffered datagrams (#4036)
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
