Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Fix
  neqo-crypto/src/aead_null.rs
Due: neqo-crypto

make slow start pluggable
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

feat(http3): support the HTTP DATAGRAM Capsule
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

make slow start runtime configurable
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

Address comments
  neqo-crypto/src/p11.rs
  neqo-http3/src/server.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-http3, neqo-transport

Update neqo-qpack/src/reader.rs
  neqo-qpack/src/reader.rs
Due: neqo-qpack

Suggestion from @martinthomson
  neqo-qpack/src/reader.rs
Due: neqo-qpack

chore: Suppress new clippy lint in test
  neqo-transport/src/frame.rs
Due: neqo-transport

fix: Pin `NSS`
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

Update qns/Dockerfile
  qns/Dockerfile
Due: none

fix: Pin `NSS` (#3311)
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

Fixes
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/frame.rs
Due: neqo-crypto, neqo-transport

Also actions
  .github/actions/pr-comment/action.yml
Due: none

OpenBSD version got bumped
  .github/actions/check-vm/action.yml
Due: none

Do all
  .github/workflows/bencher-upload.yml
  .github/workflows/firefox.yml
  .github/workflows/mutants.yml
  .github/workflows/qns-pr.yml
Due: none

Fixes
  fuzz/fuzz_targets/server_initial.rs
  mtu/src/windows.rs
Due: none

Fixes
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
Due: none

fix: integer overflow when parsing QPACK headers (#3287)
  neqo-qpack/src/reader.rs
Due: neqo-qpack

chore: And some more tests (#3288)
  mtu/src/lib.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
  neqo-crypto/src/time.rs
  neqo-crypto/tests/hkdf.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/stateless_reset.rs
Due: neqo-crypto, neqo-http3, neqo-transport

Undo
  neqo-common/src/datagram.rs
Due: neqo-common

Fixes
  .github/workflows/clippy.yml
  neqo-common/src/datagram.rs
Due: neqo-common

Fix
  neqo-crypto/src/agentio.rs
Due: neqo-crypto

test(transport/fc): assert autotuning does not decrease max active
  neqo-transport/src/fc.rs
Due: neqo-transport

fix(transport/fc): prevent auto-tuning to decrease max_active
  neqo-transport/src/fc.rs
Due: neqo-transport

chore: Derive `Default` for more types (#3289)
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-common/src/codec.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/p11.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/push_id.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/tracking.rs
  neqo-transport/tests/server.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

chore: Update deps to Gecko versions
  Cargo.lock
Due: none

fix: Use `Vec::extract_if` in QPACK decoder
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Fix
  neqo-common/src/datagram.rs
Due: neqo-common

Remove outdated comments
  .github/workflows/check.yml
  Cargo.toml
Due: none

chore: Remove outdated comments
  .github/workflows/check.yml
  Cargo.toml
  neqo-transport/src/lib.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fmt
  neqo-transport/src/lib.rs
Due: neqo-transport

Fixes from @mxinden
  Cargo.lock
Due: none

fix: Use `Vec::extract_if` in QPACK decoder (#3316)
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Fix
  neqo-crypto/src/agent.rs
Due: neqo-crypto

chore: Remove outdated comments (#3317)
  .github/workflows/check.yml
  Cargo.toml
  neqo-transport/src/lib.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport
