Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Comments
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

Fix comment
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

chore: Scope various packet-related consts (#3142)
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Redo SEQNO_INITIAL
  neqo-transport/src/cid.rs
Due: neqo-transport

chore: Make `HFrame`-related associated consts (#3141)
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

chore: Make CID-related associated `const`s (#3140)
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

from_raw_os_error
  mtu/src/windows.rs
Due: none

Already a vec
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

Also allow non-utf8 chars in qpack
  neqo-common/src/header.rs
  neqo-http3/tests/non_ascii_headers.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-common, neqo-http3, neqo-qpack

address review comments
  neqo-common/src/header.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-common, neqo-http3

fix lint
  neqo-bin/src/server/http3.rs
Due: none

Change Header to allow non-utf8 header values
  neqo-bin/src/server/http3.rs
  neqo-common/src/header.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/tests/classic_connect.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/header_block.rs
Due: neqo-common, neqo-http3, neqo-qpack

fix format
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-qpack

Address review comments
  neqo-common/src/header.rs
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-common, neqo-http3

Fix clippy
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

cargo fmt
  neqo-common/src/header.rs
Due: neqo-common

Add codecoverage and fix clippy
  neqo-common/src/header.rs
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-common, neqo-http3

Add value_utf8 method for headers
  neqo-bin/src/server/http3.rs
  neqo-common/src/header.rs
Due: neqo-common

Convert
  mtu/src/windows.rs
Due: none

Check raw
  mtu/src/lib.rs
Due: none

1231
  mtu/src/lib.rs
Due: none

Remove mention of `GITHUB_ACTIONS`
  .github/actions/check-vm/action.yml
  .github/copilot-instructions.md
Due: none

Fix
  mtu/src/windows.rs
Due: none

chore: Make Cubic-related associated `const`s
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Update cubic.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Update cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

some qpack unit tests
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-qpack

add unit tests for is_interim
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

fix(http3): allow non-utf8 HTTP header values (#3133)
  neqo-bin/src/server/http3.rs
  neqo-common/src/header.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/non_ascii_headers.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-common, neqo-http3, neqo-qpack

chore: Make Cubic-related associated `const`s (#3143)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Avoid literal constant
  mtu/src/lib.rs
Due: none

fix: Fix nightly Rust clippy warnings in #3133
  neqo-http3/tests/non_ascii_headers.rs
Due: neqo-http3

chore: Make some other assorted associated consts
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/path.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Update neqo-transport/src/path.rs
  neqo-transport/src/path.rs
Due: neqo-transport

Update neqo-transport/src/pace.rs
  neqo-transport/src/pace.rs
Due: neqo-transport

Bump version to 0.19
  Cargo.lock
  Cargo.toml
Due: none

Bump version to 0.19 (#3146)
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
