Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Bump NSPR to 4.38.2 (#3132)
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

fix(transport): Adjust flow control to be 4/3 BDP.
  neqo-transport/src/fc.rs
Due: neqo-transport

test(transport): Update auto tune test to include rtt delay
  neqo-transport/src/fc.rs
Due: neqo-transport

Change Header to allow non-utf8 header values
  neqo-bin/src/server/http3.rs
  neqo-common/src/header.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/tests/classic_connect.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/header_block.rs
Due: neqo-common, neqo-http3, neqo-qpack

fix lint
  neqo-bin/src/server/http3.rs
Due: none

fix(transport/pace): accumulate debt when below granularity (#3117)
  neqo-transport/src/pace.rs
Due: neqo-transport

Also allow non-utf8 chars in qpack
  neqo-common/src/header.rs
  neqo-http3/tests/non_ascii_headers.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-common, neqo-http3, neqo-qpack

fix format
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-qpack

Update neqo-transport/src/stateless_reset.rs
  neqo-transport/src/stateless_reset.rs
Due: neqo-transport

feat: Make `Encoder::encoder` take an `AsRef[u8]`
  neqo-common/src/codec.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

TOKEN_LEN -> Token::LEN
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/close.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/stateless_reset.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Update neqo-transport/src/cid.rs
  neqo-transport/src/cid.rs
Due: neqo-transport

impl TryFrom<&mut Decoder<'_>> for Token
  neqo-transport/src/frame.rs
  neqo-transport/src/stateless_reset.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

feat: Make `Encoder::encoder` take an `AsRef[u8]` (#3136)
  neqo-common/src/codec.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

Remove `as_bytes`
  neqo-transport/src/cid.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Add test to reduce mutants
  neqo-transport/src/cid.rs
Due: neqo-transport

chore: `MAX_CONNECTION_ID_LEN` -> `ConnectionId::MAX_LEN`
  neqo-transport/src/cid.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

WIP
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-transport

Update neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fmt
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Fix
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

feat: Introduce a type for `StatelessResetToken` (#3128)
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/close.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/stateless_reset.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Fixes
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix(mtu): don't fail if missing IPv6 connectivity
  mtu/src/lib.rs
Due: none

fmt
  neqo-transport/src/cid.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-transport

Fix
  neqo-transport/src/cid.rs
Due: neqo-transport

Update neqo-crypto/src/aead.rs
  neqo-crypto/src/aead.rs
Due: neqo-crypto

chore: `MAX_CONNECTION_ID_LEN` -> `ConnectionId::MAX_LEN` (#3138)
  neqo-transport/src/cid.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Update neqo-transport/src/crypto.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

chore: Make CID-related associated `const`s
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

chore: Make `HFrame`-related associated consts
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

chore: Scope various packet-related consts
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

address reviews:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Add test
  neqo-crypto/src/aead.rs
Due: neqo-crypto

Update neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
