Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Replace `url` crate with `http` crate
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/request_target.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Minimize diff
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/request_target.rs
Due: neqo-http3

Fix
  neqo-bin/src/client/mod.rs
Due: none

Version fixes
  Cargo.lock
Due: none

Fix
  Cargo.lock
Due: none

Address review comments
  neqo-bin/src/client/mod.rs
Due: none

chore: Replace `url` crate with `http` crate (#3291)
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/request_target.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Fix
  neqo-bin/src/bin/client.rs
  neqo-bin/src/bin/server.rs
Due: none

clippy
  neqo-bin/src/bin/client.rs
  neqo-bin/src/bin/server.rs
Due: none

chore: Update deps to Gecko versions (v2)
  Cargo.lock
  Cargo.toml
  build/rust/backtrace/Cargo.toml
  build/rust/backtrace/lib.rs
  build/rust/hermit-abi/Cargo.toml
  build/rust/hermit-abi/lib.rs
  build/rust/r-efi/Cargo.toml
  build/rust/r-efi/lib.rs
  qns/Dockerfile
  test/update-lockfile.py
  test/update-lockfile.sh
Due: none

Fix merge
  Cargo.lock
  test/update-lockfile.py
Due: none

Update neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http09.rs
Due: none

Simplify
  neqo-bin/src/server/http09.rs
  neqo-common/src/qlog.rs
Due: neqo-common

chore: Make CodSpeed show better benchmark names
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

Suggestion from @martinthomson
  neqo-bin/benches/main.rs
Due: none

chore: Remove `regex` crate (#3292)
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/server/http09.rs
  neqo-common/Cargo.toml
  neqo-common/src/qlog.rs
Due: neqo-common

Change mapfile to read for URLS from REQUESTS
  qns/interop.sh
Due: none

chore: Make CodSpeed show better benchmark names (#3340)
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

Change mapfile to read for URLS from REQUESTS (#3341)
  qns/interop.sh
Due: none

fix(*/Cargo.toml): use nested tables instead of dotted keys
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-http3, neqo-transport

chore(Cargo.toml): bump patch version to 0.22.2
  Cargo.lock
  Cargo.toml
Due: none

ci(.github/codspeed.yml): adapt jq command
  .github/workflows/codspeed.yml
Due: none

fix(*/Cargo.toml): use nested tables instead of dotted keys (#3343)
  .github/workflows/codspeed.yml
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-http3, neqo-transport

fix: Fix wrong results in CodSpeed reports
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

chore: Bump other stacks in `perfcompare.yml`
  .github/workflows/perfcompare.yml
Due: none

Use a version for google/quiche that compiles
  .github/workflows/perfcompare.yml
Due: none

chore: Address some easy TODOs
  neqo-http3/src/connection.rs
  neqo-qpack/src/decoder.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-http3, neqo-qpack, neqo-transport

fix: Fix wrong results in CodSpeed reports (#3345)
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

chore: Update MSRV to 1.90
  Cargo.toml
  neqo-crypto/src/agentio.rs
  neqo-crypto/tests/hp.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
Due: neqo-crypto, neqo-transport

fix: resend HANDSHAKE_DONE when server receives undecryptable Handshake
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

chore: `RandomDelay` -> `Delay` in streams bench
  neqo-http3/benches/common.rs
Due: neqo-http3

Update decoder.rs
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Address review comments
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

chore: Fix new clippy warnings on nightly
  neqo-bin/src/client/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/pace.rs
  test-fixture/src/lib.rs
Due: neqo-transport

chore: Fix new clippy warnings on nightly (#3353)
  neqo-bin/src/client/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/pace.rs
  test-fixture/src/lib.rs
Due: neqo-transport

chore: Fix monthly fuzzers workflow
  .github/workflows/fuzz-corpus.yml
Due: none

fix: resend HANDSHAKE_DONE when server receives undecryptable Handshake (#3351)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

chore: Disable flaky Codspeed memory benchmarks
  .github/workflows/codspeed.yml
  neqo-bin/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-transport

Also actions
  .github/actions/quic-interop-runner/action.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
