Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

Missed one
  neqo-common/src/datagram.rs
Due: neqo-common

Bot suggestions
  neqo-common/Cargo.toml
  neqo-common/src/hrtime.rs
Due: neqo-common

Bot suggestions
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

One more
  neqo-common/src/datagram.rs
Due: neqo-common

chore: Add more QPACK encoding vectors
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-qpack

Cleanup
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-qpack

Fixes and cleanup
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

feat: enable connection black-hole detection by default (max_pto = 7)
  neqo-http3/tests/httpconn.rs
  neqo-transport/src/connection/params.rs
Due: neqo-http3, neqo-transport

fix: Use libc and mach2 for macOS hrtime bindings (#3903)
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/src/hrtime.rs
Due: neqo-common

chore: use Vec instead of SmallVec in RecvdPackets::write_frame
  neqo-transport/src/tracking.rs
Due: neqo-transport

fix: Drop `space` from `AckToken` and `CryptoRecoveryToken`
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Improve comment grammar.
  neqo-transport/src/crypto.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

refactor: Extract shared event queue for transport and http3
  neqo-common/src/event.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/events.rs
Due: neqo-common, neqo-http3, neqo-transport

fix: Narrow `AckRate` and `RecoveryToken`
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: Drop `space` from `AckToken` and `CryptoRecoveryToken` (#3907)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

chore: use Vec instead of SmallVec in RecvdPackets::write_frame (#3906)
  neqo-transport/src/tracking.rs
Due: neqo-transport

refactor: Rename `Queue::has_events` to `is_empty`
  neqo-common/src/event.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/events.rs
Due: neqo-common, neqo-http3, neqo-transport

fix: Box `ConnectionIdEntry`
  neqo-transport/src/cid.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

chore: use Vec instead of SmallVec in NewTokenState
  neqo-transport/src/addr_valid.rs
Due: neqo-transport

fix: Honor a `min_ack_delay` above our requested delay cap
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/tests/ackrate.rs
Due: neqo-transport

test: WebTransport ignores peer reliable reset
  neqo-http3/src/features/mod.rs
Due: neqo-http3

chore: prepare v0.31.1
  Cargo.lock
  Cargo.toml
Due: none

fix: allow WebTransport when the peer lacks reliable reset
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/mod.rs
Due: neqo-http3

fix(http3): allow WebTransport when the peer lacks reliable reset (#3916)
  Cargo.lock
  Cargo.toml
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/mod.rs
Due: neqo-http3

refactor: Use `push` where de-duplication cannot trigger
  neqo-http3/src/client_events.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/events.rs
Due: neqo-http3, neqo-transport

refactor: Extract shared event queue for transport and http3 (#3905)
  neqo-common/src/event.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/events.rs
Due: neqo-common, neqo-http3, neqo-transport

fix(transport): back-pressure the outbound QUIC datagram queue
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

ci: check that i686-unknown-linux-gnu compiles
  .github/workflows/i686.yml
Due: none

fix(http3): allow WebTransport when the peer lacks reliable reset (#3916) (#3918)
  Cargo.lock
  Cargo.toml
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/mod.rs
Due: neqo-http3

chore: Disable Rust "security" updates in dependabot
  .github/dependabot.yml
Due: none

chore: Disable Rust "security" updates in dependabot (#3927)
  .github/dependabot.yml
Due: none

chore: Pin neqo deps to Gecko
  Cargo.lock
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/pyproject.toml
  test/update_lockfile.py
  test/uv.lock
Due: none

WebTransport: add missing datagram outcome test coverage
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: process a connection whose only pending work is an expired datagram
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

WebTransport: drop queued datagrams on a peer-initiated session close
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: mark the server as needing processing on set_datagram_max_age
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: stop double-reporting a hard-limit eviction
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

connect-udp: propagate the server's send_datagram outcome
  neqo-http3/src/connect_udp.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: report set_datagram_max_age outcomes via connect_type
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
