Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Improve code styling
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Clean-up
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

fix(transport/ecn): start after handshake and path validation
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

perf: use GSO
  .github/workflows/check.yml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

fix(neqo-crypto): use u32 for SecretDirection enum on mingw
  neqo-crypto/src/secrets.rs
Due: neqo-crypto

fix(neqo-crypto): use u32 for SecretDirection enum on mingw (#2597)
  neqo-crypto/src/secrets.rs
Due: neqo-crypto

chore: prepare v0.13.2
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.13.2 (#2598)
  Cargo.lock
  Cargo.toml
Due: none

Workaround for missing rustup
  .github/actions/rust/action.yml
Due: none

pacman -> choco
  .github/actions/nss/action.yml
Due: none

Simplify
  .github/actions/rust/action.yml
Due: none

Undo
  .github/actions/rust/action.yml
Due: none

choco debug
  .github/actions/nss/action.yml
Due: none

--debug
  .github/actions/nss/action.yml
Due: none

ls
  .github/actions/nss/action.yml
Due: none

nsinstall.py
  .github/actions/nss/action.yml
Due: none

mozfile
  .github/actions/nss/action.yml
Due: none

Syntax
  .github/actions/nss/action.yml
Due: none

Path
  .github/actions/nss/action.yml
Due: none

Cleanup
  .github/actions/nss/action.yml
Due: none

Cleanup benchmark parameters and enable combined up- and download bench
  neqo-bin/benches/main.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http3.rs
Due: none

perf: use GSO
  .github/workflows/check.yml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

Also actions
  .github/actions/pr-comment/action.yml
Due: none

Updated Certificate Compression to use generic function and public/private trait coupling for unsafe/safe certificate compression
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/src/ssl.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Clean-up
  neqo-crypto/src/agent.rs
  neqo-crypto/src/lib.rs
Due: neqo-crypto

Clean-up
  neqo-crypto/src/agent.rs
Due: neqo-crypto

clean-up
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Applied the modifications required by clippy
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Styly improvements
  neqo-crypto/src/agent.rs
Due: neqo-crypto

chore: Fix new nightly `clippy` warnings
  neqo-common/src/hrtime.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/src/ech.rs
  neqo-crypto/src/hkdf.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
  neqo-crypto/tests/hp.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-transport/src/rtt.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport, neqo-udp

Fix
  neqo-crypto/tests/hp.rs
Due: neqo-crypto

ci: Try `cargo-careful`
  .github/workflows/check.yml
Due: none

chore: Fix new nightly `clippy` warnings (#2605)
  neqo-common/src/hrtime.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/src/ech.rs
  neqo-crypto/src/hkdf.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
  neqo-crypto/tests/hp.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-transport/src/rtt.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport, neqo-udp

OpenBSD 7.7 & enable others
  .github/workflows/check-vm.yml
Due: none

nss pkgconf
  .github/workflows/check-vm.yml
Due: none

fix(transport/qlog): call qlog::packet_io even without log::Level::Debug
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

refactor(bin/bench): make up- and download size explicit
  neqo-bin/benches/main.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
Due: none

Try llvm-18.1.8p3
  .github/workflows/check-vm.yml
Due: none

fix(transport/qlog): call qlog::packet_io even without log::Level::Debug (#2612)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
