Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore(Cargo.toml): prepare v0.14.1 release (#2791)
  Cargo.lock
  Cargo.toml
Due: none

fix(transport/ecn): start after handshake and path validation
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Fix tests
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/priority.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/tests/connection.rs
Due: neqo-transport

fmt
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/tests/connection.rs
Due: neqo-transport

Simplify request_response_delay_after_handshake test
  neqo-transport/src/connection/tests/ecn.rs
Due: neqo-transport

Address minor todo
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
Due: neqo-transport

Fix flaky retry_after_initial
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

Update neqo-transport/src/tracking.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Remove outdated comment
  neqo-transport/src/ecn.rs
Due: neqo-transport

Remove newly_acked_sent_with_ect0 == 0 check
  neqo-transport/src/ecn.rs
Due: neqo-transport

Minor optimization, clean-up only during quiescent times
  neqo-bin/src/bin/server.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-http3, neqo-transport

Fix reject_zero_server
  neqo-bin/src/server/http09.rs
  neqo-http3/src/server.rs
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-transport

Moved saved.rs as server will use it now too
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/server.rs
Due: neqo-transport

Clippy false positive
  neqo-transport/src/server.rs
Due: neqo-transport

Add Server::saved_datagrams test
  neqo-transport/tests/server.rs
Due: neqo-transport

Add to saved_datagram test to increase coverage
  neqo-transport/tests/server.rs
Due: neqo-transport

docs(transport): improve QuicDatagrams::write_frames docs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

docs(transport): improve QuicDatagrams::write_frames docs (#2794)
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

fix(transport/ecn): start after handshake and path validation (#2560)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/priority.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

chore: Switch to NSPR@4.37
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

chore: Switch to NSPR@4.37 (#2797)
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

ci: GCP fixes
  test/ansible/install.yml
Due: none

test(http3): assert WebTransport NewStream before DataReadable
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

ci: GCP fixes (#2801)
  test/ansible/install.yml
Due: none

fix(http3): reduce visibility of internal functions
  neqo-http3/src/connection.rs
Due: neqo-http3

Update .cirun.yml
  .cirun.yml
Due: none

ubuntu-2404-noble-amd64-cirun-bencher-2025-07-21
  .cirun.yml
Due: none

test(http3): assert WebTransport NewStream before DataReadable (#2800)
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

ci: Disable systemd unified cgroups on GCP
  test/ansible/install.yml
Due: none

Fix
  test/ansible/install.yml
Due: none

ubuntu-2404-noble-amd64-cirun-bencher-2025-07-21-1
  .cirun.yml
Due: none

feat: implement MASQUE connect-udp
  echo.py
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxy.rs
  neqo-bin/src/lib.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/request_target.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

ci: Disable `stream` benches
  neqo-http3/Cargo.toml
Due: neqo-http3

bench(bin/server): process input datagram in batches (#2734)
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/server.rs
Due: neqo-common, neqo-http3, neqo-transport

Fix
  neqo-http3/Cargo.toml
Due: neqo-http3

ci: Disable `stream` benches (#2805)
  neqo-http3/Cargo.toml
Due: neqo-http3

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
