Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

fix: limit discontinous STREAM reassembly ranges
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Address review comments
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix: bound the RETIRE_CONNECTION_ID queue (#3797)
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/path.rs
Due: neqo-transport

Update neqo-transport/src/recv_stream.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

chore: bump CodSpeed action
  .github/workflows/codspeed.yml
Due: none

Fix
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

chore: bump CodSpeed action (#3800)
  .github/workflows/codspeed.yml
Due: none

chore: Drop msquic from perfcompare
  .github/scripts/perfcompare.py
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

Fixes
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fix
  .github/workflows/perfcompare.yml
Due: none

Fixes
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-qpack, neqo-transport

Add test coverage and more documentation
  neqo-transport/src/tparams.rs
Due: neqo-transport

Fix fuzzing build
  fuzz/fuzz_targets/tparams.rs
Due: none

Hit PreferredAddress as well
  neqo-transport/src/tparams.rs
Due: neqo-transport

Address review comments
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

Remove it
  .github/scripts/perfcompare.py
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

Remove more
  .github/actions/perfcompare-commands/action.yml
  .github/actions/quic-build/action.yml
Due: none

Address code review
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

More tests
  neqo-http3/src/frames/tests/reader.rs
Due: neqo-http3

Suggestion from @martinthomson
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Missed some
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fix existing test
  neqo-transport/src/connection/tests/migration.rs
Due: neqo-transport

fix: limit frame lengths before buffering (#3799)
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-qpack, neqo-transport

Plumb role through to TP decode (#3783)
  fuzz/fuzz_targets/tparams.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

reject PRIORITY_UPDATE for an unpromised push id
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server.rs
Due: neqo-http3

feat: add neqo-server `--stats`, emit connection stats as JSON
  Cargo.lock
  Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-common/src/json.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/version.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test/test.sh
Due: neqo-common, neqo-transport

Fixes
  Cargo.lock
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/json.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/ecn.rs
Due: neqo-common, neqo-transport

Fixes
  neqo-common/src/json.rs
  test/test.sh
Due: neqo-common

Fixes
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

Use frame_type_allowed for the reserved-type check
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

chore: Drop msquic from perfcompare (#3801)
  .github/actions/perfcompare-commands/action.yml
  .github/actions/quic-build/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

fix: reject reserved frame types that start a request stream (#3796)
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

feat: cache has_data_at result in SendStream
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fixes
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Refactor QPack settings to be like other settings (#3781)
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/lib.rs
Due: neqo-http3, neqo-qpack

Different approach
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
