Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Fix
  .github/workflows/bench.yml
Due: none

Less sleep
  .github/workflows/bench.yml
Due: none

Avoid `cset`
  .github/workflows/bench.yml
Due: none

Subshells
  .github/workflows/bench.yml
Due: none

Debug $$
  .github/workflows/bench.yml
Due: none

quote
  .github/workflows/bench.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

Finalize
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

refactor(bin/bench): make up- and download size explicit
  neqo-bin/benches/main.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
Due: none

chore: Update `codecov/test-results-action` to 1.1.1
  .github/workflows/check.yml
Due: none

Fixes
  neqo-http3/benches/streams.rs
  neqo-transport/benches/range_tracker.rs
Due: neqo-http3, neqo-transport

fix: Set bench run length, and use `std::hint::black_box` (#2655)
  neqo-bin/Cargo.toml
  neqo-bin/benches/main.rs
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-http3, neqo-transport

feat: Set `line-tables-only` for `dev` profile.
  Cargo.toml
Due: none

Revert use of `raw` in "chore: Fix new nightly `clippy` warnings (#2605)"
  Cargo.lock
  Cargo.toml
  neqo-common/src/hrtime.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/src/ech.rs
  neqo-crypto/src/hkdf.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
Due: neqo-common, neqo-crypto

perf: use GSO
  .github/workflows/check.yml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

chore: lower minimal supported Rust version (MSRV) to 1.81.0
  Cargo.toml
Due: none

chore: Update `codecov/test-results-action` to 1.1.1 (#2658)
  .github/workflows/check.yml
Due: none

ci: Bump `hyperfine` runs to 100 (#2656)
  .github/workflows/bench.yml
Due: none

Revert use of `raw` in "chore: Fix new nightly `clippy` warnings (#2605)" (#2660)
  Cargo.lock
  Cargo.toml
  neqo-common/src/hrtime.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/src/ech.rs
  neqo-crypto/src/hkdf.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
Due: neqo-common, neqo-crypto

chore: upgrade `libloading` 0.8.3 -> 0.8.7
  Cargo.lock
Due: none

WIP: chore: upgrade `backtrace` to permit `windows-targets` 0.53
  Cargo.lock
  Cargo.toml
Due: none

WIP: chore: extend `windows` dep. to include 0.59
  Cargo.lock
  Cargo.toml
  neqo-common/Cargo.toml
Due: neqo-common

chore: update `windows` 0.58.0 -> 0.59.0 in lockfile
  Cargo.lock
Due: none

feat: `clippy::impl_trait_in_params` (#2629)
  Cargo.toml
  neqo-bin/src/send_data.rs
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-common/src/qlog.rs
  neqo-crypto/src/agent.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/version.rs
  neqo-udp/src/lib.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport, neqo-udp

ci: Fix bench skip logic
  .github/workflows/bench.yml
Due: none

Remove comment
  .github/workflows/bench.yml
Due: none

Fix comment
  .github/workflows/bench.yml
Due: none

Update .github/workflows/bench.yml
  .github/workflows/bench.yml
Due: none

It helps to set the correct variable
  .github/workflows/bench.yml
Due: none

ci: Fix bench skip logic (#2663)
  .github/workflows/bench.yml
Due: none

bench: revert custom benc run length on stable benchmarks
  neqo-common/benches/decoder.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-transport

Split transport parameters for ECH
  neqo-crypto/src/agent.rs
  neqo-crypto/src/ext.rs
  neqo-crypto/tests/agent.rs
  neqo-crypto/tests/ext.rs
  neqo-crypto/tests/handshake.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  test-fixture/src/lib.rs
Due: neqo-crypto, neqo-transport

Minor comment corrections
  neqo-crypto/src/ext.rs
  test-fixture/src/lib.rs
Due: neqo-crypto

Expand set of included items and explain more about why
  neqo-transport/src/tparams.rs
Due: neqo-transport
