Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Support for the WT_DRAIN_SESSION frame to initiate draining a specific session
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: negotiate draft-15 with draft-07 backward compatibility
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

change time handling so we can accurately test
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: receiver-side stream-limit enforcement and WT_MAX_STREAMS capsule processing
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: advertise and parse per-session flow-control SETTINGS
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

test: cover send stream creation order
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Add basic connection stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Snapshot stats at session close
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

stats tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

address review comments on stats patches
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

expand connection stats
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Implement support for stats for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

fix(mtu): build clean on iOS, tvOS and visionOS
  mtu/build.rs
  mtu/src/lib.rs
Due: mtu

Address remaining stats review feedback
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Address martinthomson review: keep cwnd/bytes_in_flight under CongestionControlStats
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

move cwnd tracking from CC stats to connection-level stats snapshot
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

assert late-acked bytes land in bytes_acked
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

Scope WebTransport session stats to the WebTransport protocol
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Enforce comments above attributes across the codebase
  .github/workflows/comment-order.yml
  mtu/src/bsd.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/tests/httpconn.rs
  neqo-qpack/src/fuzz.rs
  neqo-qpack/src/stats.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/idle.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/connection/tests/cc.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/tests/common/mod.rs
  neqo-udp/src/lib.rs
  test-fixture/src/sim/rng.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

reject connection-specific header fields in HTTP/3 messages (#3806)
  neqo-http3/src/connection_client.rs
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

Reliable reset handling for HTTP/3 (#3777)
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-http3, neqo-transport

chore: Fix clippy
  neqo-common/src/codec.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-common, neqo-transport

Update .github/workflows/profile.yml
  .github/workflows/profile.yml
Due: none

fix: Prevent bencher disk overflow
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  test/ansible/etc/apt.conf.d/99-disable-periodic
  test/ansible/etc/journald.conf.d/99-neqo.conf
  test/ansible/etc/perfconfig
  test/ansible/install.yml
Due: none

Allow `assert_is_empty`
  Cargo.toml
  neqo-common/src/codec.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-common, neqo-transport

fix: Prevent bencher disk overflow (#3867)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  test/ansible/etc/apt.conf.d/99-disable-periodic
  test/ansible/etc/journald.conf.d/99-neqo.conf
  test/ansible/etc/perfconfig
  test/ansible/install.yml
Due: none

chore: Address TODO
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Use build dirs
  .github/actions/quic-build/action.yml
Due: none

WebTransport getStats() support (#3835)
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix: `chown` the parent to `rm` in it
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  test/ansible/etc/sudoers.d.bench
Due: none

fix: `chown` the parent to `rm` in it (#3869)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  test/ansible/etc/sudoers.d.bench
Due: none

chore: Allow `assert_is_empty` (#3861)
  Cargo.toml
Due: none

More
  .github/actions/check-android/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
Due: none

chore: Address TODO (#3868)
  .github/actions/check-android/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

recovery: assert cwnd snapshot in stats test
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

recovery: saturate loss-counter takeback on spurious ack
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport
