Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

fix: Fix the `compatible_upgrade_large_initial` test
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-transport

Bump version
  Cargo.lock
  Cargo.toml
Due: none

chore(Cargo.toml): require qlog v0.15.1
  Cargo.toml
Due: none

chore(Cargo.toml): require qlog v0.15.1 (#2571)
  Cargo.toml
Due: none

Added certificate compression support for zlib encoding mechanism
  Cargo.lock
  neqo-crypto/Cargo.toml
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
Due: neqo-crypto, neqo-transport

chore(Cargo.lock): update to qlog v0.15.2
  Cargo.lock
Due: none

Removing unnecessary includes
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Enabling zlib encoding only if a flag is provided (used for testing)
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
Due: neqo-crypto, neqo-transport

chore(Cargo.lock): update to qlog v0.15.2 (#2572)
  Cargo.lock
Due: none

ci: Pin `google-quiche` until `main` compiles again
  .github/workflows/bench.yml
Due: none

fix: Fix QNS test errors with `nginx` (#2568)
  Cargo.lock
  Cargo.toml
  neqo-transport/src/ecn.rs
Due: neqo-transport

fix: Fix the `compatible_upgrade_large_initial` test (#2569)
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-transport

Again
  .github/workflows/bench.yml
Due: none

ci: Pin `google-quiche` until `main` compiles again (#2573)
  .github/workflows/bench.yml
Due: none

ci: Disable MC/DC coverage
  .github/workflows/check.yml
Due: none

Revert "ci: Enable MC/DC coverage"
  .github/workflows/check.yml
Due: none

Improved tests
  Cargo.lock
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Improve zlib encoding testing - Added a test with only client supports encoding
  Cargo.lock
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Revert "ci: Enable MC/DC coverage" (#2575)
  .github/workflows/check.yml
Due: none

ci: Use `cargo-action-fmt` to highlight issues
  .github/workflows/check.yml
  .github/workflows/clippy.yml
Due: none

ci: Samply again
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

Cleanups
  .github/workflows/bench.yml
Due: none

fix: Drop of Initial space only after sending 1st Handshake (#2118)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

bench(h3/streams): remove single stream variants
  neqo-http3/benches/streams.rs
Due: neqo-http3

Use SmallInput
  neqo-http3/benches/streams.rs
Due: neqo-http3

Increase sample size and warm-up time
  neqo-http3/benches/streams.rs
Due: neqo-http3

Only batch size
  neqo-http3/benches/streams.rs
Due: neqo-http3

bench(h3/streams): reduce variants and increase sample size (#2587)
  neqo-http3/benches/streams.rs
Due: neqo-http3

ci(bench): fail on regression
  .github/workflows/bench.yml
Due: none

Added generic certificate compression
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Add functions needed by neqo_glue
  neqo-udp/src/lib.rs
Due: neqo-udp

ci(bench): fail on regression (#2580)
  .github/workflows/bench.yml
Due: none

Optimizations
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

fix(transport/ecn): don't require probes_sent == probes_lost
  neqo-transport/src/ecn.rs
Due: neqo-transport

fix(transport/ecn): track ACK of marked packets
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
Due: neqo-transport

ci: add windows-11-arm runner
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/firefox.yml
Due: none

Changed the publicly exposed functions and types: Added SECFailure, SECItem, SECStatus, SECSuccess and null_safe_slice. All used in neqo_glue
  neqo-crypto/src/agent.rs
  neqo-crypto/src/lib.rs
Due: neqo-crypto

Typos
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

fix(transport/ecn): track ACK of marked packets (#2589)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
