Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

ci: Use an older kernel with `cpuset` support for benchers (#2840)
  .github/workflows/perfcompare.yml
  test/ansible/install.yml
Due: none

Make the drop_handshake_packet_from_wrong_address robust (#2862)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

compatible_upgrade_large_initial robustness (#2863)
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  test-fixture/src/lib.rs
Due: neqo-transport

ci: Disable systemd unified cgroups on GCP (#2803)
  test/ansible/install.yml
Due: none

Improve resending of Initial on undecryptable (#2866)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/saved.rs
Due: neqo-transport

refactor(crypto): improve `ResumptionToken` `Debug` impl (#2847)
  neqo-crypto/src/agent.rs
Due: neqo-crypto

feat: Optimize `neqo-qpack` (#2831)
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/huffman.rs
Due: neqo-qpack

docs(transport/datagrams): remove outdated fn return docs (#2842)
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

refactor(webtransport): rename WebTransportEvent::Session to NewSession (#2853)
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

chore(clippy): update to latest lints (#2837)
  Cargo.toml
  neqo-bin/src/client/mod.rs
Due: none

chore: Bump `sfv` to 0.14 (#2856)
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/priority.rs
Due: neqo-http3

ci: Use 6.11 kernel on GCP (#2849)
  .cirun.yml
  test/ansible/install.yml
  test/ansible/shrink.yml
Due: none

Address test changes (more padding now means rearrangement of handshake)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

coalesce_05rtt robustness improvements (#2867)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Completely rewrite dup_server_flight1 (#2868)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Move test_frame_writer use (#2870)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Make only_server_initial more robust (#2865)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Fix compatible upgrade (#2877)
  neqo-crypto/src/agent.rs
  neqo-crypto/src/secrets.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/tests/connection.rs
Due: neqo-crypto, neqo-transport

Improve the ALPN handling (#2871)
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

fix: Don't call `finish` in `std::hash::Hash` implementations (#2881)
  neqo-http3/src/server_events.rs
Due: neqo-http3

Force coverage up by simplifying a test (#2872)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Fix packet_with_only_padding test (#2873)
  neqo-transport/tests/connection.rs
Due: neqo-transport

PTO across packet number spaces better (#2878)
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

A bunch of logging improvements (#2874)
  neqo-crypto/src/agentio.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/tests/connection.rs
  test-fixture/src/lib.rs
Due: neqo-crypto, neqo-transport

refactor(bin/server): simplify run() removing need for HttpServer::new (#2883)
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

Test and fix HRR bug
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Randomize the first packet number
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/cc.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/saved.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  test-fixture/src/lib.rs
Due: neqo-transport

Test and fix HRR bug (#2884)
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

feat(http3): support classic HTTP CONNECT
  neqo-http3/src/connection.rs
Due: neqo-http3

test(transport/server): saved datagram without immediate response
  neqo-transport/tests/server.rs
Due: neqo-transport

write_frames_with_early_return -> write_frames. Remove one qtrace.
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Restore some WT code we might want to call from gecko.
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-http3, neqo-transport

Fix comment
  neqo-http3/src/connection_client.rs
Due: neqo-http3

chore: Remove dead code (#2880)
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/qlog.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
  neqo-crypto/src/time.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/server_events.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qpack_send_buf.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/streams.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

fix(transport/server): call process_input with all saved_datagrams
  neqo-transport/src/server.rs
Due: neqo-transport

fix(http3): resurrect Http3StreamInfo::is_http
  neqo-http3/src/lib.rs
Due: neqo-http3

fix(http3): resurrect Http3StreamInfo::is_http (#2888)
  neqo-http3/src/lib.rs
Due: neqo-http3

Introduce invalid_dgram closure
  neqo-transport/tests/server.rs
Due: neqo-transport

fix(transport/server): remove `saved_datagrams.is_empty` assert (#2887)
  neqo-transport/src/server.rs
  neqo-transport/tests/server.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
