Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

fix(transport/benches): use separate group name
  .github/workflows/bench.yml
  neqo-transport/benches/transfer.rs
Due: neqo-transport

ci: More bencher fixes (#2944)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Always set_feature_listener
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Minor follow-ups
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Revert query parameter hack
  neqo-http3/src/request_target.rs
Due: neqo-http3

Minor fixes around settings
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/request_target.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

Minor change
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Adjust sed
  .github/workflows/bench.yml
Due: none

Don't expect line start
  .github/workflows/bench.yml
Due: none

No newline
  .github/workflows/bench.yml
Due: none

fix(transport/benches): use separate group name (#2934)
  .github/workflows/bench.yml
  neqo-transport/benches/transfer.rs
Due: neqo-transport

ci: More bencher upload fixes
  .github/workflows/bencher-upload.yml
Due: none

ci: More bencher upload fixes (#2945)
  .github/workflows/bencher-upload.yml
Due: none

Remove dead max_datagram_size
  neqo-http3/src/server_events.rs
Due: neqo-http3

Handler Default
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxied_http3.rs
Due: none

expected_reeason
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
Due: neqo-http3

Rename create_fetch_headers to create_headers
  neqo-http3/src/connection.rs
Due: neqo-http3

Improve docs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

extend the `alpha` test to include the expected `w_est` increases
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Clippy
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

clippy
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

fmt
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

ci: Only upload neqo results to bencher
  .github/workflows/bencher-upload.yml
Due: none

Clippy
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  test-fixture/src/lib.rs
Due: none

Outdated panic docs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Document --proxy
  neqo-bin/src/client/mod.rs
Due: none

Document proxied and proxy connection
  neqo-bin/src/client/proxied_http3.rs
Due: none

Minor refactor
  neqo-http3/src/connection.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

Use if let for empty enum for Rust 1.81
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
Due: neqo-http3

Fix write_item_to_fuzzing_corpus
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Fix new clippy warnings
  neqo-bin/src/bin/client.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/qlog.rs
  neqo-udp/src/lib.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-transport, neqo-udp

feat: Optimize `RxStreamOrderer`
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: OPtimize ACK handling
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

refactor(bin): move reinit to UrlHandler and maintain URL order
  neqo-bin/src/client/http3.rs
Due: none

feat(http3): implement classic HTTP CONNECT
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/httpconn.rs
  test-fixture/src/lib.rs
Due: neqo-http3

ci: Fix sanitizer
  .github/workflows/sanitize.yml
Due: none

ci: Fix sanitizer (#2954)
  .github/workflows/sanitize.yml
Due: none

ci: Properly tag bencher uploads
  .github/workflows/bencher-upload.yml
Due: none

Address review comments
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/qlog.rs
  neqo-udp/src/lib.rs
  test-fixture/src/header_protection.rs
Due: neqo-transport, neqo-udp

ci: Properly tag bencher uploads (#2956)
  .github/workflows/bencher-upload.yml
Due: none
