Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Reformat `bench` output
  .github/workflows/bench.yml
Due: none

fmt
  fuzz/fuzz_targets/qpack.rs
Due: none

chore: Fix two `clippy` nits
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

More formatting
  .github/workflows/qns.yml
Due: none

Finalize
  .github/workflows/perfcompare.yml
Due: none

Update .github/workflows/perfcompare.yml
  .github/workflows/perfcompare.yml
Due: none

valign
  .github/workflows/qns.yml
Due: none

chore: Fix two `clippy` nits (#3169)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

chore: Update `toml` to 0.9
  Cargo.lock
  neqo-crypto/Cargo.toml
Due: neqo-crypto

cmark-gfm
  .github/workflows/qns.yml
Due: none

Fixes
  Cargo.lock
  neqo-crypto/Cargo.toml
Due: neqo-crypto

Fix
  .github/workflows/bench.yml
Due: none

awk
  .github/workflows/bench.yml
Due: none

addressing comments:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

No bullets in table
  .github/workflows/qns.yml
Due: none

Simplify
  .github/workflows/bench.yml
Due: none

feat(transport/cc): expose whether connection exited slow start as stat (#3165)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix(transport/quic-datagram): do not enforce inbound queue limit
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix(transport/fc): account for WINDOW_UPDATE_FRACTION when auto-tuning (#3125)
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/fc.rs
Due: neqo-transport

Update test/make-fuzz-corpus.sh
  test/make-fuzz-corpus.sh
Due: none

Don't hide errors
  .github/workflows/fuzz-corpus.yml
  test/make-fuzz-corpus.sh
Due: none

awk -> python with Claude
  .flake8
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
Due: none

chore: Reformat QNS results (#3166)
  .github/workflows/qns.yml
Due: none

tesst(min_bandwidth): reduce expected utilization
  neqo-transport/benches/min_bandwidth.rs
Due: neqo-transport

tesst(min_bandwidth): reduce expected utilization (#3173)
  neqo-transport/benches/min_bandwidth.rs
Due: neqo-transport

Update fuzz/fuzz_targets/qpack.rs
  fuzz/fuzz_targets/qpack.rs
Due: none

Finalize
  neqo-qpack/src/fuzz.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/table.rs
Due: neqo-qpack

fix: Off-by-one error in QPACK table size calc
  neqo-qpack/src/table.rs
Due: neqo-qpack

Update .github/scripts/format-bench-results.py
  .github/scripts/format-bench-results.py
Due: none

fmt
  neqo-http3/src/frames/reader.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-http3, neqo-transport

Fix
  .github/scripts/format-bench-results.py
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
