Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Again
  .github/workflows/bench.yml
Due: none

perf
  .github/workflows/bench.yml
Due: none

cset nested
  .github/workflows/bench.yml
Due: none

Finalized?
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

WIP: feat(cc): scope cubic update to rfc9438.
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

fix(transport/ecn): handle ECN loss on PTO
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

refactor: remove unused SentPacket::ecn_mark
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

cset
  .github/workflows/bench.yml
Due: none

ci: `bench` improvements (#2530)
  .github/workflows/bench.yml
Due: none

fix(transport/ecn): handle ECN loss on PTO (#2516)
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

feat: Basic GSO support
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Fixes
  neqo-bin/src/client/mod.rs
  neqo-bin/src/udp.rs
Due: none

Fix QNS?
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

DatagramMetaData
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Optimize
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-transport/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-transport, neqo-udp

Fixes
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

More
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

refactor(transport/recovery): use PacketNumberSpace Debug in qdebug
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Again
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

feat(cc): Finished scoping cubic update in code comments.
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

refactor(transport/recovery): use PacketNumberSpace Debug in qdebug (#2533)
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

ci: Fix Rust caching and `mutants`
  .github/actions/rust/action.yml
  .github/workflows/mutants.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
