Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

Get the negotiated protocol to support WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Add sendgroup round-robin support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

expand connection stats
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Implement support for stats for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Add send group support for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

DatagramOutcome build fix
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Add basic connection stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Snapshot stats at session close
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Update SendGroup support and add fairness tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
Due: neqo-http3

stats tests
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

chore: Re-enable Rust updates in Dependabot
  .github/dependabot.yml
Due: none

feat: add trigger to qlog `congestion_state_updated`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

feat: add trigger to qlog `congestion_state_updated` (#3436)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

feat: qlog@0.16.0 and fix silent metric drops
  Cargo.lock
  Cargo.toml
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

chore: Update package repos on VMs
  .github/actions/check-vm/action.yml
  .github/workflows/check.yml
Due: none

chore: Update package repos on VMs (#3438)
  .github/actions/check-vm/action.yml
  .github/workflows/check.yml
Due: none

chore(Cargo.toml): update to quinn-udp v0.6.0
  Cargo.lock
  Cargo.toml
Due: none

fix: ConnectionClose error code, NewToken type, LH fields
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

feat(qlog): add CC/performance events
  neqo-common/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-transport

Make id an Option so we can pass None if we don't want tracking and don't need outcomes
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Support handling queuing and highwatermarks/max-age for outgoing datagrams per the WebTransport spec
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

change time handling so we can accurately test
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

datagram NotAvailable
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

datagram_queue
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

formatting
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Support sendGroup Id's and sendOrder for datagrams
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Track bytesSentOverhead separately per WebTransport spec
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Fix send_ignore_emsgsize test
  neqo-udp/src/lib.rs
Due: neqo-udp

chore(Cargo.toml): update to quinn-udp v0.6.0 (#3441)
  Cargo.lock
  Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

Ignore unwrap warnings in tests for MTU
  mtu/.clippy.toml
  mtu/src/lib.rs
  mtu/src/routesocket.rs
Due: mtu

Add event signals to SCONE implementation
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/events.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/scone.rs
Due: neqo-http3, neqo-transport

Ignore unwrap warnings in tests for MTU (#3442)
  mtu/.clippy.toml
  mtu/src/lib.rs
  mtu/src/routesocket.rs
Due: mtu

chore: Re-enable Rust updates in Dependabot (#3433)
  .github/dependabot.yml
Due: none

Revert "chore: Re-enable Rust updates in Dependabot (#3433)"
  .github/dependabot.yml
Due: none

Suggestion from @mxinden
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Revert "chore: Re-enable Rust updates in Dependabot (#3433)" (#3446)
  .github/dependabot.yml
Due: none

feat: qlog@0.16.0 and fix silent metric drops (#3434)
  Cargo.lock
  Cargo.toml
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
