Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

WebTransport: negotiate draft-15 with draft-07 backward compatibility
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

WebTransport: cache next_datagram_expiry on the server too
  neqo-http3/src/server.rs
Due: neqo-http3

WebTransport: receiver-side stream-limit enforcement and WT_MAX_STREAMS capsule processing
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: add a test-only escape hatch for peer reliable-reset support
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Apply an implementation-defined default outgoing datagram max age
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Bound the outgoing datagram drain by the transport queue's free capacity
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

atomicWrite support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/atomic_write.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

WebTransport: gate per-session stream limits on draft-15 §5.1 opt-in
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

WebTransport: advertise and parse per-session flow-control SETTINGS
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

Add support for waitUntilAvailable
  neqo-bin/src/client/http3.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/webtransport.rs
  test/test-0rtt-cross-ip.sh
Due: neqo-http3

WebTransport: pull outgoing datagrams instead of buffering them in transport
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: expose the outgoing datagram queue's byte budget
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

WebTransport: share outgoing datagram capacity fairly across sessions
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: remove transport's now-dead outgoing-datagram push path
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Support sendGroup Id's and sendOrder for datagrams
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Test that a datagram burst larger than the QUIC queue is fully delivered
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: add datagrams_dropped_outgoing counter
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

remove debug_assert that could cause debug builds to fail in a race condition
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

subtract out some overheads from the max datagram size
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

WebTransport: tune outgoing datagram default max-age
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Simplify GroupQueue eviction helpers
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

WebTransport: fix doc comments and links left stale by the pull refactor
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Optimize drain() by avoiding hot-path vector allocation Add documentation
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: rename WebTransportDatagramQueue to DatagramQueue
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: replace the outgoing datagram hard limit with a byte budget
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: count sent/dropped outgoing datagrams regardless of tracking
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Fix priority inversion in hard-limit eviction
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

WebTransport: clamp explicit outgoing datagram max-age
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

WebTransport: verify byte-budget eviction preserves priority through a live connection
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: pull outgoing datagrams straight from each session's queue
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/datagram_source.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Fix stale rustdoc links and note the stream/datagram scheduling gap
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Support for the WT_DRAIN_SESSION frame to initiate draining a specific session
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

chore: Fix clippy
  Cargo.toml
  fuzz/Cargo.toml
  mtu/Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/tracking.rs
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

chore: Fix clippy (#3936)
  Cargo.toml
  fuzz/Cargo.toml
  mtu/Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/tracking.rs
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

fix: Unbreak the periodic corpus generation
  neqo-bin/Cargo.toml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
