Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

format, adjusting some doc comments, new TODO comments
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

renaming to match RFC9438
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

ci: Fixes for bencher.dev upload
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

ci: Fixes for bencher.dev upload (#2713)
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

ci: More bencher.dev upload fixes
  .github/workflows/bencher-upload.yml
Due: none

ci: More bencher.dev upload fixes (#2714)
  .github/workflows/bencher-upload.yml
Due: none

ci: Try and fix `bencher.dev` thresholds
  .github/workflows/bencher-upload.yml
Due: none

ci: Try and fix `bencher.dev` thresholds (#2715)
  .github/workflows/bencher-upload.yml
Due: none

ci: Remember `main` SHA for bencher.dev
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

ci: Remember `main` SHA for bencher.dev (#2716)
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

chore: Fix new `clippy` nightly lints
  neqo-common/src/codec.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-common, neqo-transport

ci: Fix main SHA exporting
  .github/workflows/bench.yml
Due: none

ci: Fix main SHA exporting (#2718)
  .github/workflows/bench.yml
Due: none

Debug bencher-upload.yml
  .github/workflows/bencher-upload.yml
Due: none

fix: Disable `update_multi` on `aarch64` properly
  neqo-common/src/hrtime.rs
Due: neqo-common

Disable more
  neqo-common/src/hrtime.rs
Due: neqo-common

Fix bencher-upload.yml
  .github/workflows/bencher-upload.yml
Due: none

Fixes
  neqo-common/src/hrtime.rs
Due: neqo-common

`--sha` is `--hash`
  .github/workflows/bencher-upload.yml
Due: none

chore: Fix some `zizmor` lints
  .github/actions/nss/action.yml
  .github/actions/pr-comment-data-export/action.yml
  .github/actions/rust/action.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/check.yml
  .github/workflows/firefox.yml
  .github/workflows/qns.yml
  .github/workflows/sanitize.yml
Due: none

fix: Strip Markdown formatting from bencher uploads
  .github/workflows/bencher-upload.yml
Due: none

Alternative
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

chore: Fix some `zizmor` lints (#2721)
  .github/actions/nss/action.yml
  .github/actions/pr-comment-data-export/action.yml
  .github/actions/rust/action.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/check.yml
  .github/workflows/firefox.yml
  .github/workflows/qns.yml
  .github/workflows/sanitize.yml
Due: none

chore: Fix new `clippy` nightly lints (#2717)
  neqo-common/src/codec.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-common, neqo-transport

refactor(transport): don't implicitly infer PacketBuilder limit
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Fix
  .github/workflows/bench.yml
Due: none

ci: Fix bugs in #2721
  .github/workflows/check.yml
  .github/workflows/firefox.yml
  .github/workflows/qns.yml
  .github/workflows/sanitize.yml
Due: none

chore: Bump macOS runners to `macos-15` (#2709)
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/firefox.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/sanitize.yml
Due: none

fix: Disable some `hrtime` tests on `aarch64` (#2720)
  neqo-common/src/hrtime.rs
Due: neqo-common

ci: Fix bugs in #2721 (#2723)
  .github/workflows/check.yml
  .github/workflows/firefox.yml
  .github/workflows/qns.yml
  .github/workflows/sanitize.yml
Due: none

fix: Strip Markdown formatting from bencher uploads (#2722)
  .github/workflows/bench.yml
Due: none

Updated the decoding/encoding functions
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Updated the decoding/encoding functions
  neqo-crypto/src/agent.rs
Due: neqo-crypto

ci: Unpin `google/quiche` during bench (#2697)
  .github/workflows/bench.yml
Due: none

Update Fast Convergence implementation
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Make `Aead::expansion` an associated function
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
Due: neqo-crypto, neqo-transport

Fix the fuzzer
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
Due: none

Restore `max_` prefix
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
Due: neqo-http3, neqo-qpack

fmt
  fuzz/fuzz_targets/server_initial.rs
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
