Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Fix claude
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Fix merge
  .github/workflows/claude.yml
Due: none

Fix
  .github/workflows/claude.yml
Due: none

chore: Fix claude (#3042)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Also do hp
  neqo-crypto/src/hp.rs
  neqo-crypto/tests/hp.rs
Due: neqo-crypto

chore: Tweak `cargo hack clippy` call
  .github/copilot-instructions.md
  .github/workflows/clippy.yml
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/src/version.rs
Due: neqo-http3, neqo-transport

feat(transport/cc): spurious congestion event detection
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

chore: Fix Claude more
  .github/workflows/claude.yml
Due: none

chore: Fix Claude more (#3087)
  .github/workflows/claude.yml
Due: none

CI fixes
  .github/actions/check-vm/action.yml
  .github/workflows/check.yml
Due: none

Install cargo-codspeed
  .github/workflows/codspeed.yml
Due: none

toolchain
  .github/workflows/check.yml
Due: none

Fixes
  .github/workflows/check.yml
  neqo-crypto/src/aead_awslc.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/tests/hp.rs
Due: neqo-crypto

chore: Use `ANTHROPIC_API_KEY`
  .github/workflows/claude.yml
Due: none

Fixes
  .github/workflows/codspeed.yml
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams.rs
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

chore: Use `ANTHROPIC_API_KEY` (#3088)
  .github/workflows/claude.yml
Due: none

Fixes
  .github/workflows/codspeed.yml
  neqo-common/benches/decoder.rs
Due: neqo-common

chore: Fix Claude permissions
  .github/workflows/claude.yml
Due: none

Fixes
  neqo-bin/benches/main.rs
  neqo-http3/benches/streams.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-http3, neqo-transport

ci: Run `pkgin update` for netbsd
  .github/actions/check-vm/action.yml
Due: none

Remove comment
  .github/workflows/codspeed.yml
Due: none

Adress PR comments:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Use different measurement modes
  .github/workflows/codspeed.yml
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
Due: neqo-http3

Fix
  .github/workflows/codspeed.yml
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
Due: neqo-http3

Update .github/workflows/codspeed.yml
  .github/workflows/codspeed.yml
Due: none

Fix
  .github/workflows/codspeed.yml
Due: none

build: update `windows` 0.58.0 → 0.62.0
  Cargo.toml
  mtu/Cargo.toml
Due: none

feat(transport): implement connection level flow control
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Shard benches
  .github/workflows/codspeed.yml
Due: none

No jq
  .github/workflows/codspeed.yml
Due: none

Rust
  .github/workflows/codspeed.yml
Due: none

Again
  .github/workflows/codspeed.yml
Due: none

cat
  .github/workflows/codspeed.yml
Due: none

Update neqo-http3/Cargo.toml
  neqo-http3/Cargo.toml
Due: neqo-http3

Fixes
  .github/workflows/codspeed.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
