Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

feat: Run cargo crap in CI (#3676)
  .github/workflows/check.yml
Due: none

feat: Receive buffer presizing for inbound streams
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix: prevent PR Comment runs from cancelling each other
  .github/workflows/pr-comment.yml
Due: none

fix: prevent PR Comment runs from cancelling each other (#3705)
  .github/workflows/pr-comment.yml
Due: none

fix: activate blapi for bench builds
  neqo-transport/Cargo.toml
Due: neqo-transport

Support for the WT_DRAIN_SESSION frame to initiate draining a specific session
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

address review comments on stats patches
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

stats tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

expand connection stats
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

remove debug_assert that could cause debug builds to fail in a race condition
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Implement support for stats for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Add basic connection stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Add send group support for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Add support for waitUntilAvailable
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/webtransport.rs
  test/test-0rtt-cross-ip.sh
Due: neqo-http3

move cwnd tracking from CC stats to connection-level stats snapshot
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Add support for GOAWAY draining events to support WebTransport
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Snapshot stats at session close
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Support handling queuing and highwatermarks/max-age for outgoing datagrams per the WebTransport spec
  .claude/scheduled_tasks.lock
  neqo-common/src/bytes.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-common, neqo-http3

datagram_queue
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

change time handling so we can accurately test
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

atomicWrite support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/atomic_write.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Get the negotiated protocol to support WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Update SendGroup support and add fairness tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
Due: neqo-http3

Track bytesSentOverhead separately per WebTransport spec
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
Due: neqo-http3

Support sendGroup Id's and sendOrder for datagrams
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Add sendgroup round-robin support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Optimize drain() by avoiding hot-path vector allocation Add documentation
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

subtract out some overheads from the max datagram size
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Support clearing the sendGroup for a stream
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

feat: pre-allocate packet send buffer to MTU size to avoid realloc
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

feat: cache has_data_at result in SendStream
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Add support for GOAWAY draining events to support WebTransport (#3465)
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Get the negotiated protocol to support WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Get the negotiated protocol to support WebTransport (#3466)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

fix: avoid push id capacity underflow in maybe_send_max_push_id_frame
  neqo-http3/src/push_controller.rs
Due: neqo-http3

Fix off-by-one in max_push_id computation
  neqo-http3/src/push_controller.rs
Due: neqo-http3
