Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

fix: Skip VM tests when system NSS is too old (#3897)
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/firefox.yml
Due: none

Fixes
  Cargo.toml
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/tos.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/common/mod.rs
  test-fixture/src/lib.rs
  test/test.sh
Due: neqo-common, neqo-transport

Suggestions from @martinthomson
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Minor fixes and cleanups
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Handle CRYPTO data
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Checks for WebTransport being enabled (#3756)
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/settings.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/reset_stream_at.rs
Due: neqo-http3, neqo-transport

Fixes
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix: limit discontiguous STREAM reassembly ranges (alternative) (#3896)
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: Add `next_timeout` to the public API
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-http3, neqo-transport

fix: Increase the socket TX buffer to hold a GSO batch
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Update neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Update neqo-udp/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Fixes
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-http3, neqo-transport

feat: Add `next_timeout` to the public API (#3899)
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-http3, neqo-transport

Fixes
  neqo-udp/src/lib.rs
Due: neqo-udp

fix: Keep the server serving on spurious UDP `ConnectionReset`
  neqo-bin/src/server/mod.rs
Due: none

Caller controls the sizes
  neqo-udp/src/lib.rs
Due: neqo-udp

Revert "feat: Add `next_timeout` to the public API (#3899)"
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-http3, neqo-transport

fix: Keep the server serving on spurious UDP `ConnectionReset` (#3895)
  neqo-bin/src/server/mod.rs
Due: none

recovery: take back loss counters on spurious ack
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

recovery: assert cwnd snapshot in stats test
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

http3: debug-assert stats present in webtransport_session_stats
  neqo-http3/src/connection.rs
Due: neqo-http3

fix(http3): remove server push
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/push_id.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/stream_type_reader.rs
  test-fixture/src/lib.rs
Due: neqo-http3

chore: minor AI review follow-ups to https://github.com/mozilla/neqo/pull/3835 (#3870)
  neqo-http3/src/connection.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-http3, neqo-transport

fix(http3): remove server push (#3816)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/push_id.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/stream_type_reader.rs
  test-fixture/src/lib.rs
Due: neqo-http3

feat: Show more QUIC info in test.sh (#3885)
  test/test.sh
Due: none

chore: prepare v0.31.0
  Cargo.lock
  Cargo.toml
Due: none

Revert "feat: Add `next_timeout` to the public API (#3899)" (#3900)
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-http3, neqo-transport

chore: prepare v0.31.0 (#3880)
  Cargo.lock
  Cargo.toml
Due: none

fix: Tighter implementation of Section 6.2.3 of RFC 9002
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fixes and use `constructor`
  Cargo.toml
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/qpack_decoder_receiver.rs
  neqo-http3/src/qpack_encoder_receiver.rs
  neqo-http3/src/server.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/scone.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stream_id.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Address comments
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Revert `constructor` use; `VariantArray` only in tests
  Cargo.toml
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/qpack_decoder_receiver.rs
  neqo-http3/src/qpack_encoder_receiver.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/scone.rs
  neqo-transport/src/send_stream.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Update neqo-qpack/Cargo.toml
  neqo-qpack/Cargo.toml
Due: neqo-qpack

Update neqo-transport/src/fc.rs
  neqo-transport/src/fc.rs
Due: neqo-transport

Fixes and cleanup
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix: Use libc and mach2 for macOS hrtime bindings
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/src/hrtime.rs
Due: neqo-common

Update Cargo.lock
  Cargo.lock
Due: none
