Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

feat: Log qlog datagram events
  neqo-common/src/qlog.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-transport

refactor: Reuse `raw()` and let `next_datagram_id` take `&self`
  neqo-common/src/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-transport

docs: Match the AGENTS.md commands to CI
  AGENTS.md
Due: none

fix: Take a datagram ID only for a datagram that is sent
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
Due: neqo-transport

fix: Account for every dropped byte in qlog
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

docs: Match the AGENTS.md commands to CI (#4053)
  AGENTS.md
Due: none

ci: Add Renovate for pinned versions not covered by Dependabot
  .github/actions/check-vm/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/build-samply.yml
  .github/workflows/firefox.yml
  .github/workflows/renovate.yml
  renovate.json
Due: none

Pin renovate
  .github/workflows/renovate.yml
  renovate.json
Due: none

ci: Use currentValue in the llvm path rewrite, currentMajor is not a template field
  renovate.json
Due: none

ci: Add Renovate for pinned versions not covered by Dependabot (#4056)
  .github/actions/check-vm/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/build-samply.yml
  .github/workflows/firefox.yml
  .github/workflows/renovate.yml
  renovate.json
Due: none

fix: Log accurate packet and payload lengths in qlog
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

feat: Log local transport parameters to qlog
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

test: Allow exact float comparison for the MSRV's clippy
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/frame.rs
Due: neqo-transport

chore(deps): update dependency aws/s2n-quic to v1.90.0
  .github/actions/quic-build/action.yml
Due: none

chore(deps): update dependency bazelbuild/bazelisk to v1.29.0
  .github/actions/quic-build/action.yml
Due: none

chore(deps): update dependency cloudflare/quiche to v0.30.0
  .github/actions/quic-build/action.yml
Due: none

chore(deps): update dependency openbsd to v8
  .github/actions/check-vm/action.yml
Due: none

ci: Port perfcompare to hyperfine 2 and pin hyperfine and inferno
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  renovate.json
Due: none

ci: Port perfcompare to hyperfine 2 and pin hyperfine and inferno (#4061)
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  renovate.json
Due: none

ci: Take VM releases from pinned vmactions conf/ listings, track more pins with Renovate
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/workflows/qns-pr.yml
  renovate.json
Due: none

ci: Take VM releases from pinned vmactions conf/ listings, track more pins with Renovate (#4062)
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/workflows/qns-pr.yml
  renovate.json
Due: none

chore(deps): update dependency docker/cli to v28.5.2
  .github/workflows/qns-pr.yml
Due: none

chore(deps): update dependency docker/cli to v29
  .github/workflows/qns-pr.yml
Due: none

chore(deps): update dependency java-jdk to v25
  .github/actions/check-android/action.yml
Due: none

fix(transport): drop enqueued dgrams that exceed the remote's frame limit
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

test(transport): fix test docs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

chore(deps): update dependency docker/cli to v29 (#4064)
  .github/workflows/qns-pr.yml
Due: none

chore(deps): update dependency java-jdk to v25 (#4065)
  .github/actions/check-android/action.yml
Due: none

chore(deps): update dependency aws/s2n-quic to v1.90.0 (#4057)
  .github/actions/quic-build/action.yml
Due: none

chore(deps): update dependency cloudflare/quiche to v0.30.0 (#4059)
  .github/actions/quic-build/action.yml
Due: none

chore(deps): update dependency bazelbuild/bazelisk to v1.29.0 (#4058)
  .github/actions/quic-build/action.yml
Due: none

ci: Add oss-scanner image and threat model
  .oss-scanner/Dockerfile
  .oss-scanner/lsan.supp
  .oss-scanner/threat_model.md
  qns/Dockerfile.dockerignore
Due: none

ci: Keep LTO off for later cargo-fuzz runs in the oss-scanner image
  .oss-scanner/Dockerfile
Due: none

ci: Add oss-scanner image and threat model (#4066)
  .oss-scanner/Dockerfile
  .oss-scanner/lsan.supp
  .oss-scanner/threat_model.md
  qns/Dockerfile.dockerignore
Due: none

refactor(transport): merge dgram frame_len checks
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

tests(transport): fix u64 conversion
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

refactor(transport): add len_field_len info to `Frame::Datagram`
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

fix(qpack): compute MaxEntries from peer capacity
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

feat: Expose the per-datagram overhead in `DatagramQueueCapacity`
  neqo-transport/src/datagram_queue.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
