Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Abtract close_frame fn
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Implement Protocol::read_control_stream
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

Move streams methods to Protocol
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Protocol::prefix_datagram
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

Protocol::read_datagram_prefix
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/frames/connect_udp_frame.rs
Due: neqo-http3

fmt
  neqo-http3/src/client_events.rs
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

clippy
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

feat: start using thiserror
  Cargo.lock
  Cargo.toml
  neqo-common/Cargo.toml
  neqo-common/src/header.rs
Due: neqo-common

refactor(http3): remove module_name_repetition lint (#2860)
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

bench(transport/transfer): measure both wallclock and simulated time
  .github/workflows/bench.yml
  neqo-transport/benches/transfer.rs
Due: neqo-transport

feat(test-fixtures): add http3 support to Simulator
  .github/workflows/bench.yml
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mod.rs
Due: neqo-http3

Use a stepped distribution
  neqo-transport/src/crypto.rs
Due: neqo-transport

Handle two byte packet numbers in the fuzzer
  fuzz/fuzz_targets/client_initial.rs
Due: none

feat: Optimize more
  .cargo/config.toml
  Cargo.toml
Due: none

Add comment for baseline lenient
  .github/workflows/bench.yml
Due: none

Remove routine and move blackbox()
  neqo-transport/benches/transfer.rs
Due: neqo-transport

request.method
  neqo-http3/src/connection.rs
Due: neqo-http3

Revert ACK rate changes to min_bandwidth
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/sim/mod.rs
Due: neqo-transport

Simplify the fixed delay node
  test-fixture/src/sim/delay.rs
  test-fixture/src/sim/mod.rs
Due: none

Add ECN marking to TailDrop
  neqo-transport/benches/min_bandwidth.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-transport

Use expect()
  test-fixture/src/sim/delay.rs
Due: none

chore: preapre v0.15.0
  Cargo.lock
  Cargo.toml
Due: none

chore: Update some `dev-dependencies`
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

Add exception for `libfuzzer-sys`
  .deny.toml
Due: none

More bumps
  Cargo.lock
Due: none

chore: Update other QUIC stacks to latest versions
  .github/workflows/perfcompare.yml
Due: none

chore: preapre v0.15.0 (#2894)
  Cargo.lock
  Cargo.toml
Due: none

feat: Import the `mtu` crate
  Cargo.lock
  Cargo.toml
  mtu/Cargo.toml
  mtu/LICENSE-APACHE
  mtu/LICENSE-MIT
  mtu/README.md
  mtu/SECURITY.md
  mtu/build.rs
  mtu/src/bsd.rs
  mtu/src/lib.rs
  mtu/src/linux.rs
  mtu/src/routesocket.rs
  mtu/src/windows.rs
  neqo-transport/Cargo.toml
Due: neqo-transport

`tokio@1.46.1`
  Cargo.lock
Due: none

Fixups
  Cargo.lock
Due: none

-DQUIC_TLS_LIB=quictls
  .github/workflows/perfcompare.yml
Due: none

More
  mtu/.clippy.toml
  mtu/Cargo.toml
  mtu/src/lib.rs
Due: none

Update neqo-transport/benches/transfer.rs
  neqo-transport/benches/transfer.rs
Due: neqo-transport

bench(transport/transfer): measure both wallclock and simulated time (#2891)
  .github/workflows/bench.yml
  neqo-transport/benches/transfer.rs
Due: neqo-transport

More
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/machete.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
  Cargo.lock
  mtu/Cargo.toml
  neqo-crypto/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-crypto, neqo-http3, neqo-udp

More
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

Simplify the fixed delay node (#2893)
  test-fixture/src/sim/delay.rs
  test-fixture/src/sim/mod.rs
Due: none

Fix
  .github/workflows/perfcompare.yml
Due: none

feat: start using thiserror (#2889)
  Cargo.lock
  Cargo.toml
  neqo-common/Cargo.toml
  neqo-common/src/header.rs
Due: neqo-common
