Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Fix nightly clippy lints
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/hex.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Final codepoint has been picked
  neqo-transport/src/tparams.rs
Due: neqo-transport

Remove extra parens
  neqo-transport/src/tparams.rs
Due: neqo-transport

Improve doc test coverage
  neqo-common/src/hex.rs
Due: neqo-common

Fix expectations on transport parameter ID display
  neqo-transport/src/tparams.rs
Due: neqo-transport

Apply suggestions from code review
  neqo-common/src/hex.rs
  neqo-transport/src/tparams.rs
Due: neqo-common, neqo-transport

Apply suggestions from code review
  neqo-common/src/header.rs
  neqo-common/src/hex.rs
Due: neqo-common

Suggestions from @martinthomson
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Use to_string() where possible
  neqo-common/src/hex.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-qpack, neqo-transport

Other review nits
  neqo-common/src/header.rs
  neqo-common/src/hex.rs
Due: neqo-common

Update neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Update neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/pmtud.rs
Due: neqo-transport

Hex debugging improvements (#3763)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/header.rs
  neqo-common/src/hex.rs
  neqo-common/src/lib.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/recv_message.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Fix
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

test: feed the instruction with process_input
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

fix: reject qpack required insert count that reconstructs to zero
  neqo-qpack/src/header_block.rs
Due: neqo-qpack

fix: reject zero Insert Count Increment on QPACK decoder stream (#3762)
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

Clarify test doc comment for reconstructed insert count of 0
  neqo-qpack/src/header_block.rs
Due: neqo-qpack

test: cover each reserved bit per header form
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix: reject reserved bits set in QUIC packet headers (#3749)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix(transport/quic-datagram): remove inbound queue limit (#3761)
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix: reject qpack required insert count that reconstructs to zero (#3765)
  neqo-qpack/src/header_block.rs
Due: neqo-qpack

chore: Bump `smallvec` and `codspeed`
  Cargo.lock
Due: none

chore: Bump `smallvec` and `codspeed` (#3767)
  Cargo.lock
Due: none

chore: prepare v0.30.0
  Cargo.lock
  Cargo.toml
Due: none

Fix doc comment issue
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

poc: benign hostname callback ( testing)
  .github/scripts/perfcompare.py
Due: none

Have the HTTP/3 layer flush as part of commit
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Move responsibility for commit to SendStream
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Damned comment reflow fmt
  neqo-http3/src/lib.rs
Due: neqo-http3

Handle STOP_SENDING better
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

chore: prepare v0.30.0 (#3768)
  Cargo.lock
  Cargo.toml
Due: none

Fix retransmission priority where resets need to be re-sent
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Some early review feedback
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3

Add suggested test; moar tests = good
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Correct ordering of stats and frame validation
  neqo-transport/src/streams.rs
Due: neqo-transport

fix: reject PATH_RESPONSE and HANDSHAKE_DONE in 0-RTT packets
  neqo-transport/src/frame.rs
Due: neqo-transport

Take Max's suggested test and fix it
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fix the buffered data error code
  neqo-http3/src/send_message.rs
Due: neqo-http3
