Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Fixes
  .github/workflows/mutants.yml
Due: none

Split workflow
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
Due: none

Fixes
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
Due: none

Fix machete
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-transport

Add comments
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: Add tests for Gecko-specific functions
  neqo-crypto/src/agent.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/tests/agent.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-http3, neqo-transport

Suggestions by @martinthomson
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
Due: none

Enable schedule
  .github/workflows/mutants.yml
Due: none

Suggestion from @martinthomson
  neqo-common/src/qlog.rs
Due: neqo-common

chore: Some simple additions to drive up coverage (#3276)
  neqo-common/src/datagram.rs
  neqo-common/src/qlog.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/err.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/control_stream_remote.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_id.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/stream_id.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

chore: Shard the codebase-wide mutants run (#3273)
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  Cargo.toml
Due: none

chore: Use strum instead of manual `FromStr` (#3277)
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/mod.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-transport

chore: Split QNS workflows (#3279)
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: Lower and cap the mutants timeout
  .github/workflows/mutants.yml
Due: none

chore: Lower and cap the mutants timeout (#3281)
  .github/workflows/mutants.yml
Due: none

chore: Slay more mutants
  neqo-common/src/codec.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/events.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/tracking.rs
Due: neqo-common, neqo-transport

fix: `reno` -> `newreno`
  .github/scripts/perfcompare.py
Due: none

fix: `reno` -> `newreno` (#3283)
  .github/scripts/perfcompare.py
Due: none

Suggestions from @martinthomson
  neqo-crypto/src/agent.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-transport

chore: Add tests for Gecko-specific functions (#3280)
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/tests/agent.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-http3, neqo-transport

Rename things for consistency with codspeed naming
  .github/workflows/codspeed.yml
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

Fix
  .github/workflows/codspeed.yml
Due: none

Do baseline run on push
  .github/workflows/codspeed.yml
Due: none

chore: Add some more tests to drive up coverage
  neqo-common/src/codec.rs
  neqo-qpack/src/lib.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/tparams.rs
Due: neqo-common, neqo-qpack, neqo-transport

chore(mtu): prepare v0.3.0 release
  Cargo.lock
  mtu/Cargo.toml
Due: none

chore: Add some more tests to drive up coverage (#3284)
  neqo-common/src/codec.rs
  neqo-qpack/src/lib.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/tparams.rs
Due: neqo-common, neqo-qpack, neqo-transport

chore(mtu): prepare v0.3.0 release (#3286)
  Cargo.lock
  mtu/Cargo.toml
Due: none

chore: Slay more mutants (#3282)
  neqo-common/src/codec.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/events.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/tracking.rs
Due: neqo-common, neqo-transport

fix: integer overflow when parsing QPACK headers
  neqo-qpack/src/reader.rs
Due: neqo-qpack

chore: And some more tests
  mtu/src/lib.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/hp.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
  neqo-crypto/src/time.rs
  neqo-crypto/tests/hkdf.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/stateless_reset.rs
Due: neqo-crypto, neqo-http3, neqo-transport

chore: Derive `Default` for more types
  neqo-common/src/codec.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/p11.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/push_id.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/tracking.rs
  neqo-transport/tests/server.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

Update neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

Fixes
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
Due: neqo-crypto

Fix
  neqo-crypto/src/p11.rs
Due: neqo-crypto

Fix
  neqo-crypto/src/agentio.rs
Due: neqo-crypto

chore: Replace `url` crate with `http` crate
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/request_target.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

chore: Remove `regex` crate
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/src/server/http09.rs
  neqo-common/Cargo.toml
  neqo-common/src/qlog.rs
Due: neqo-common
