Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Base connection factoring for client capabilities
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
Due: neqo-http3

Update server handler also
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection_server.rs
Due: neqo-http3

The handler can be private now
  neqo-http3/src/connect_udp.rs
Due: neqo-http3

Follow-up on WebTransport factoring
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Fix clippy and bot nits
  neqo-http3/src/connect_udp.rs
Due: neqo-http3

Fix visibility on ServerEvents
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Spacing nit
  neqo-http3/src/connect_udp.rs
Due: neqo-http3

Finish up doc comment and last few missing functions
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Add a client-side check for CONNECT_UDP
  neqo-http3/src/connect_udp.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

period.
  neqo-http3/src/connect_udp.rs
Due: neqo-http3

bench: fix remove_expired benchmark (#3718)
  neqo-transport/Cargo.toml
  neqo-transport/benches/sent_packets.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/new_reno.rs
Due: neqo-transport

fix: make coalesce_acked_from_zero scale with count
  neqo-transport/benches/range_tracker.rs
Due: neqo-transport

fix: Allow >1 MSS of `cwnd` growth (#3648)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/new_reno.rs
Due: neqo-transport

bench: fix benchmark correctness and CodSpeed metadata
  neqo-bin/benches/main.rs
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/benches/send_streams.rs
Due: neqo-common, neqo-http3, neqo-transport

Fix
  neqo-transport/benches/range_tracker.rs
Due: neqo-transport

Update neqo-transport/benches/send_streams.rs
  neqo-transport/benches/send_streams.rs
Due: neqo-transport

fix: make coalesce_acked_from_zero scale with count (#3724)
  neqo-transport/benches/range_tracker.rs
Due: neqo-transport

bench: fix benchmark correctness and CodSpeed metadata (#3725)
  neqo-bin/benches/main.rs
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/benches/send_streams.rs
Due: neqo-common, neqo-http3, neqo-transport

bench: replace iter_custom with iter_batched in simulated transfer benches
  neqo-http3/Cargo.toml
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

bench: replace iter_custom with iter_batched (#3726)
  neqo-http3/Cargo.toml
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-http3, neqo-transport

chore: Better `perf` sampling
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

Use inferno
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

chore: Better `perf` sampling (#3606)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

fix: reject STREAMS_BLOCKED limit above 2^60
  neqo-transport/src/frame.rs
Due: neqo-transport

bench: statically link NSS so bench artifacts are self-contained
  .github/actions/build-neqo/action.yml
  .github/workflows/bench.yml
  neqo-transport/Cargo.toml
Due: neqo-transport

Trait-based refactor for CONNECT_UDP (#3721)
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Finish WebTransport factoring (#3722)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

must_use
  neqo-http3/src/connect_udp.rs
Due: neqo-http3

move slow start exit stats into a struct
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

use `maybe_lost_packets.len()` to get amount of lost packets
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

fix: reject max_ack_delay transport parameter of 2^14 or greater
  neqo-transport/src/tparams.rs
Due: neqo-transport
