Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

's/CPU_ARCH=x86(_64)?/echo $CPU_ARCH/g'
  .github/actions/nss/action.yml
Due: none

fix(transport): don't underflow on max MTU and GSO (#3000)
  Cargo.lock
  Cargo.toml
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
Due: neqo-common, neqo-transport

refactor(http3): replace (bool, bool) with named struct
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Fix `zizmor`.
  .github/workflows/actionlint.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/pr-comment.yml
  .github/workflows/qns.yml
Due: none

feat: Reduce reallocations in RxStreamOrderer
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

perf(codec): optimize encode functions for modern CPUs (#2990)
  .github/workflows/actionlint.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/pr-comment.yml
  .github/workflows/qns.yml
  neqo-common/src/codec.rs
Due: neqo-common

Error instead of assert
  neqo-crypto/src/selfencrypt.rs
Due: neqo-crypto

Move Vec<Header> into struct
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

refactor(http3): replace (bool, bool) with named struct (#3002)
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

refactor(transport/recovery): improve log message
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

remove cwnd_prior for now
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

ci: Skip bench regression check on `main` (#2999)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Fixes
  .github/workflows/check.yml
  .github/workflows/sanitize.yml
  neqo-bin/src/lib.rs
Due: none

More fixes
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-qpack/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/server.rs
  test-fixture/src/lib.rs
Due: neqo-http3, neqo-qpack, neqo-transport

Suggestion from @Not-Nik
  .github/actions/nss/action.yml
Due: none

Fix
  .github/workflows/sanitize.yml
Due: none

Minimize diff
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

addressing PR comments
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

More settings
  .github/actions/nss/action.yml
Due: none

Fix
  .github/actions/nss/action.yml
Due: none

Never append
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

refactor(transport/recovery): improve log message (#3004)
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Fix Windows
  .github/workflows/check.yml
Due: none

arch again
  .github/actions/rust/action.yml
Due: none

chore: Some more clippy lints (#3001)
  .github/workflows/check.yml
  Cargo.toml
  neqo-crypto/src/selfencrypt.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/reader.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-qpack

amd64_arm64
  .github/actions/nss/action.yml
  .github/actions/rust/action.yml
Due: none

Update .github/actions/nss/action.yml
  .github/actions/nss/action.yml
Due: none

Fix merge
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

feat(transport/cubic): multiplicative decrease updates (#2970)
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Missed some
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-http3, neqo-qpack, neqo-transport

feat: Remove use of `add_event_data_now`
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/qlog.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/control_stream_remote.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/qlog.rs
  neqo-http3/src/qpack_decoder_receiver.rs
  neqo-http3/src/qpack_encoder_receiver.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/stream_type_reader.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/qlog.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-common, neqo-http3, neqo-qpack

chore: `QlogMetric` -> `qlog::Metric`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

fix: Don't call `Instant::now()` in `neqo-common/src/qlog.rs`
  neqo-bin/src/client/mod.rs
  neqo-common/src/qlog.rs
  neqo-transport/src/server.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-transport

CONFIG_SITE
  .github/actions/nss/action.yml
Due: none

debug
  .github/actions/nss/action.yml
Due: none

curl
  .github/actions/nss/action.yml
Due: none

Again
  .github/actions/nss/action.yml
  .github/actions/rust/action.yml
Due: none
