Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

http3: debug-assert stats present in webtransport_session_stats
  neqo-http3/src/connection.rs
Due: neqo-http3

fix(mtu): gate unix helpers on supported platforms, not just non-windows
  mtu/build.rs
  mtu/src/lib.rs
Due: mtu

chore: Also profile the baseline during CI benchmarks (#3804)
  .github/actions/quic-build/action.yml
  .github/workflows/bench.yml
  .github/workflows/pr-comment.yml
  .github/workflows/profile.yml
Due: none

chore: Reformat the profile PR comment
  .github/workflows/profile.yml
Due: none

chore: Reformat the profile PR comment (#3871)
  .github/workflows/profile.yml
Due: none

fix: reject 0-RTT downgrade of h3 datagram and webtransport settings
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

docs: reference RFC 9297 and webtrans draft in 0-RTT settings check
  neqo-http3/src/connection.rs
Due: neqo-http3

security-poc: demonstrate fork-PR code execution on self-hosted runner
  .github/actions/cpu-tuning/action.yml
  .github/scripts/perfcompare.py
Due: none

fix: reject 0-RTT downgrade of h3 datagram and webtransport settings (#3852)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

fix: `server_rejects_server_only_tparams` needs to init NSS
  .github/workflows/check.yml
  neqo-transport/src/tparams.rs
Due: neqo-transport

chore: `nss-rs@0.14.4`
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/minimum-version/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  qns/Dockerfile
Due: none

Bump deps
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
Due: none

chore: `nss-rs@0.14.4` (#3874)
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/actions/minimum-version/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  qns/Dockerfile
Due: none

No workflow
  .github/workflows/check.yml
Due: none

fix: @martinthomson's suggestion from #3871
  .github/workflows/profile.yml
Due: none

test: Point at mozilla/actions#127 to check $/ resolution
  .github/workflows/machete.yml
  .github/workflows/rustfmt.yml
  .github/workflows/semver.yml
Due: none

chore: `chore: nss-rs@0.14.4` for real
  Cargo.lock
Due: none

fix: @martinthomson's suggestion from #3871 (#3875)
  .github/workflows/profile.yml
Due: none

chore: `chore: nss-rs@0.14.4` for real (#3877)
  Cargo.lock
Due: none

ci: Only cache where it can be reused
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
  Cargo.lock
Due: none

ci: Only cache where it can be reused (#3878)
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
  Cargo.lock
Due: none

fix: use fixed-length CIDs for benches
  neqo-transport/src/connection/tests/mod.rs
  test-fixture/src/lib.rs
Due: neqo-transport

chore: prepare v0.31.0
  Cargo.lock
  Cargo.toml
Due: none

fix(http3): remove server push
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/push_id.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/stream_type_reader.rs
  test-fixture/src/lib.rs
Due: neqo-http3

chore: Bump deps
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
Due: none

chore: Bump deps (#3881)
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
Due: none

Fixes
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/tests/common/mod.rs
  test-fixture/src/lib.rs
Due: neqo-http3, neqo-transport

Fixes
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  test-fixture/src/lib.rs
Due: none

chore: nss-rs@0.14.6
  .github/actions/build-neqo/action.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/profile.yml
  .github/workflows/sanitize.yml
  Cargo.lock
Due: none

Update test-fixture/src/lib.rs
  test-fixture/src/lib.rs
Due: none

chore: nss-rs@0.14.6 (#3882)
  .github/actions/build-neqo/action.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/profile.yml
  .github/workflows/sanitize.yml
  Cargo.lock
Due: none

chore: Refactor CI
  .github/actions/build-neqo/action.yml
  .github/actions/bundle-nss/action.yml
  .github/actions/check-android/action.yml
  .github/actions/install-build-deps/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
  AGENTS.md
Due: none

Fixes
  .github/actionlint.yml
  .github/actions/build-neqo/action.yml
  .github/actions/bundle-nss/action.yml
  .github/actions/check-android/action.yml
  .github/actions/install-build-deps/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
Due: none

Update neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/datagram.rs
  test-fixture/src/lib.rs
Due: neqo-transport

feat: Show more QUIC info in test.sh
  test/test.sh
Due: none

chore: Refactor SNI code
  neqo-transport/src/crypto.rs
Due: neqo-transport

Even cleaner
  neqo-transport/src/crypto.rs
Due: neqo-transport

feat: add neqo-server `--stats`, emit connection stats as JSON
  Cargo.lock
  Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-common/src/json.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/version.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test/test.sh
Due: neqo-common, neqo-transport

Fixes
  Cargo.lock
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/json.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/ecn.rs
Due: neqo-common, neqo-transport

Fixes
  neqo-common/src/json.rs
  test/test.sh
Due: neqo-common
