Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Prevent mach from calling git
  .github/workflows/firefox.yml
Due: none

fix: Server should reject Retty w/short DCID
  neqo-transport/src/server.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

fix: Reject invalid extended CONNECT requests
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

chore(transport/stats): expose cwnd stats
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Refactor HTTP datagram capsule support
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

feat(http3): support the HTTP DATAGRAM Capsule (#3122)
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

removing `slow_start_exited` stat
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

adding comments explaining `in_slow_start()` checks.
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

Update neqo-transport/src/server.rs
  neqo-transport/src/server.rs
Due: neqo-transport

qerror
  neqo-transport/src/server.rs
Due: neqo-transport

fmt
  neqo-transport/src/server.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

clippy - why is this not hitting on main??
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-http3, neqo-transport

Address review comments
  neqo-http3/src/connection_server.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

feat: Add `neqo_udp::Socket::send_buffer()`
  neqo-udp/src/lib.rs
Due: neqo-udp

feat: Add `datagram::Batch::extend_from_slice()`
  neqo-common/src/datagram.rs
Due: neqo-common

fix: Server should reject Retry w/short DCID (#3384)
  neqo-transport/src/server.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

fix: Re-enable Firefox vendoring validation in CI (#3375)
  .github/workflows/firefox.yml
  .github/workflows/pr-comment.yml
Due: none

chore(transport/stats): expose cwnd stats (#3386)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Revamp
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

chore: Clippy fixes
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-http3, neqo-transport

test(transport/fc): skip small BDPs in auto_tune simulation
  neqo-transport/src/fc.rs
Due: neqo-transport

Fix: guard against invalid state in http09 client
  neqo-bin/src/client/http09.rs
Due: none

Fix: return bool for invalid http09 client state
  neqo-bin/src/client/http09.rs
Due: none

chore: Clippy fixes (#3391)
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-http3, neqo-transport

Fixes
  Cargo.lock
  Cargo.toml
  build/rust/backtrace/Cargo.toml
  build/rust/backtrace/lib.rs
  build/rust/getrandom/Cargo.toml
  build/rust/getrandom/lib.rs
  build/rust/hermit-abi/Cargo.toml
  build/rust/hermit-abi/lib.rs
  build/rust/r-efi/Cargo.toml
  build/rust/r-efi/lib.rs
  build/rust/wasi/Cargo.toml
  build/rust/wasi/lib.rs
  qns/Dockerfile
  test/compare-lockfile.py
  test/lockfile_utils.py
  test/update-lockfile.py
Due: none

Review suggestions
  neqo-transport/src/fc.rs
Due: neqo-transport

test(transport/fc): skip small BDPs in auto_tune simulation (#3392)
  neqo-transport/src/fc.rs
Due: neqo-transport

Disable flaky memory bench
  neqo-http3/Cargo.toml
Due: neqo-http3

Simplify the ECN tests
  neqo-transport/src/connection/tests/ecn.rs
Due: neqo-transport

Cleanup ECN tests
  neqo-transport/src/connection/tests/ecn.rs
Due: neqo-transport

Update .github/workflows/codspeed.yml
  .github/workflows/codspeed.yml
Due: none

Simplifcation of ECN tests (#2498)
  neqo-transport/src/connection/tests/ecn.rs
Due: neqo-transport

chore: Update deps to Gecko versions (v2) (#3339)
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/bin/server.rs
  neqo-crypto/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/src/recovery/mod.rs
  test/compare-lockfile.py
  test/lockfile_utils.py
  test/update-lockfile.py
  test/update-lockfile.sh
Due: neqo-crypto, neqo-transport

Refactor CPU tuning
  .github/actions/cpu-tuning/action.yml
  .github/workflows/codspeed.yml
Due: none

fmt
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Fix
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Also trigger PMTUD on PTO. Cleanups.
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-transport

Revamp
  neqo-transport/src/pmtud.rs
Due: neqo-transport
