Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Fix QNS?
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

ci: Schedule benches on CPUs 2 and 3
  .github/workflows/bench.yml
Due: none

ci: Fix Rust caching and `mutants` (#2534)
  .github/actions/rust/action.yml
  .github/workflows/mutants.yml
Due: none

ci: Schedule benches on CPUs 2 and 3 (#2536)
  .github/workflows/bench.yml
Due: none

Fix rebase
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
Due: neqo-transport

ci: Don't cache various QNS docker things
  .github/workflows/qns.yml
Due: none

ci: Don't cache various QNS docker things (#2537)
  .github/workflows/qns.yml
Due: none

test: assert no time threshold based loss detection before first ACK
  neqo-transport/src/connection/tests/zerortt.rs
Due: neqo-transport

fix(transport/recovery): don't use loss_delay before first ACK
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Rename max_allowed_sent_at to last_update
  neqo-transport/src/fc.rs
Due: neqo-transport

Fix changing_max_active unit test to not underflow
  neqo-transport/src/fc.rs
Due: neqo-transport

Rename to should_send_update
  neqo-transport/src/fc.rs
Due: neqo-transport

Implement Martin's _excess_ algorithm
  neqo-transport/src/fc.rs
Due: neqo-transport

Apply clippy suggestions
  neqo-transport/src/fc.rs
  neqo-transport/src/recv_stream.rs
  test-fixture/src/sim/mod.rs
Due: neqo-transport

Increase minimum expected utilization
  neqo-transport/benches/min_bandwidth.rs
Due: neqo-transport

More clippy
  neqo-transport/benches/min_bandwidth.rs
Due: neqo-transport

fmt
  test-fixture/src/sim/mod.rs
Due: none

Refactor
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

chore: Turn on some `smallvec` optimizations
  neqo-transport/Cargo.toml
  neqo-transport/src/cid.rs
Due: neqo-transport

smallvec
  Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

Update neqo-transport/src/fc.rs
  neqo-transport/src/fc.rs
Due: neqo-transport

Improve auto_tuning_increase_no_decrease assert comments
  neqo-transport/src/fc.rs
Due: neqo-transport

Remove TODO on receive buffer shrinking
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Impl From<Option<Datagram>> for Output
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/fc.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-transport

Improve MAX_SEND_BUFFER_SIZE doc comment
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Tweaks
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Update neqo-transport/src/recv_stream.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Document QLOGDIR environment variable
  README.md
Due: none

fmt
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

No `const_new`
  neqo-transport/Cargo.toml
Due: neqo-transport

ci: `build` for `cargo-fuzz`
  .github/workflows/fuzz-bench.yml
Due: none

Add matrix
  .github/workflows/fuzz-bench.yml
Due: none

tools
  .github/workflows/fuzz-bench.yml
Due: none

perf(transport): auto-tune stream receive window (#1868)
  README.md
  neqo-http3/src/connection_client.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/benches/transfer.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/tests/network.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/delay.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-http3, neqo-transport

Again
  .github/workflows/fuzz-bench.yml
Due: none

No mold
  .github/actions/rust/action.yml
Due: none

chore: Turn on some `smallvec` optimizations (#2539)
  neqo-transport/Cargo.toml
  neqo-transport/src/cid.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
