Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

More
  .github/workflows/bench.yml
Due: none

Use boxed slice
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Fix paths
  .github/workflows/bench.yml
Due: none

Again
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

--locked not working for quiche
  .github/workflows/bench.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

mkdir
  .github/workflows/bench.yml
Due: none

Minimize diff
  neqo-transport/src/stats.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

ci: Only save Rust cache on `main` (#2626)
  .github/actions/rust/action.yml
Due: none

sleep
  .github/workflows/bench.yml
Due: none

Finalize
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

feat: make fast-apple-datapath optional, off by default
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

Again
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

chore: prepare Neqo v0.13.3
  Cargo.lock
  Cargo.toml
Due: none

feat: make fast-apple-datapath optional, off by default (#2638)
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

And again
  .github/actions/nss/action.yml
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

bazel
  .github/workflows/bench.yml
Due: none

debug: flaky hrtime update multi test
  .github/workflows/check.yml
  neqo-common/src/hrtime.rs
Due: neqo-common

chore: prepare Neqo v0.13.3 (#2639)
  Cargo.lock
  Cargo.toml
Due: none

SHA
  .github/actions/rust/action.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
