Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

only semver check mtu crate (#3099)
  .github/workflows/semver.yml
Due: none

fix(test-fixture): avoid server qlog filename collision (#3093)
  test-fixture/src/lib.rs
Due: none

Address some of @martinthomson's comments
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix(transport): fix Initial+Handshake padding
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/keys.rs
Due: neqo-transport

Simplify
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Revamp
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/assertions.rs
Due: neqo-transport

Apply suggestion from @mxinden
  neqo-transport/src/connection/tests/keys.rs
Due: neqo-transport

fix(transport): fix Initial+Handshake padding (#3101)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/keys.rs
Due: neqo-transport

build: update `windows` 0.58.0 → 0.62.0
  Cargo.lock
  Cargo.toml
  mtu/Cargo.toml
Due: none

refactor(transport): move flow control constants to params
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

test: add a test for inbound QUIC datagram queue limit
  neqo-transport/src/events.rs
Due: neqo-transport

fix(transport): head-drop QUIC datagram on limit
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

fix(transport): head-drop QUIC datagram on limit (#3105)
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

More feedback
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

Update neqo-transport/src/fc.rs
  neqo-transport/src/fc.rs
Due: neqo-transport

fix: Followup to #3101
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/packet/mod.rs
  test-fixture/src/assertions.rs
Due: neqo-transport

refactor(transport): move flow control constants to params (#3104)
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

Update mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Update neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

fmt
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

fix: Followup to #3101 (#3106)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/packet/mod.rs
  test-fixture/src/assertions.rs
Due: neqo-transport

Only script
  Cargo.lock
  mtu/Cargo.toml
  neqo-crypto/Cargo.toml
Due: neqo-crypto

Fix
  test/update-lockfile.sh
Due: none

chore: `bindgen@0.72`
  Cargo.lock
  mtu/Cargo.toml
  neqo-crypto/Cargo.toml
Due: neqo-crypto

More clippy allows for generated code
  mtu/src/bsd.rs
  mtu/src/linux.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/prio.rs
  neqo-crypto/src/ssl.rs
Due: neqo-crypto

chore: Update some deps to Gecko versions
  Cargo.lock
Due: none

chore: `bindgen@0.72` (#3108)
  Cargo.lock
  mtu/Cargo.toml
  mtu/src/bsd.rs
  mtu/src/linux.rs
  neqo-crypto/Cargo.toml
  neqo-crypto/src/p11.rs
  neqo-crypto/src/prio.rs
  neqo-crypto/src/ssl.rs
Due: neqo-crypto

More
  Cargo.lock
Due: none

feat(transport): increase stream limits to 100
  neqo-transport/src/connection/params.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
Due: neqo-transport

Update neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/params.rs
Due: neqo-transport

chore: `idna-adapter@1.2.1`
  Cargo.lock
Due: none

feat(transport): increase stream limits to 100 (#3107)
  neqo-transport/src/connection/params.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
Due: neqo-transport

tokio
  Cargo.lock
Due: none

Add `Win32_Security_Authentication_Identity` feature
  Cargo.lock
  neqo-crypto/Cargo.toml
Due: neqo-crypto

build: update `windows` 0.58.0 → 0.62.0
  Cargo.lock
  Cargo.toml
  mtu/Cargo.toml
  neqo-crypto/Cargo.toml
Due: neqo-crypto

Adress PR comments:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

more changes:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
Due: neqo-transport
