Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

clippy
  neqo-transport/src/pmtud.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

feat(qlog): add CC/performance events (#3440)
  neqo-common/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-transport

feat: add `recovery:loss_timer_updated` qlog events
  neqo-common/src/qlog.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-transport

make `self` immutable in `calc_cwnd_increase`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/hystart.rs
Due: neqo-transport

Fix some comments
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Add comment on Error::Done
  neqo-common/src/qlog.rs
Due: neqo-common

feat: add `recovery:loss_timer_updated` qlog events (#3437)
  neqo-common/src/qlog.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-transport

feat: Add loss trigger data to qlog
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

feat: Add loss trigger data to qlog (#3430)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

SCONE (#2814)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/priority.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/version.rs
  test-fixture/src/lib.rs
Due: neqo-transport

feat: emit `pacing_rate`` and `ssthresh` in qlog
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

Suggesttions from @mxinden.
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

Add event signals to SCONE implementation
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/events.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/scone.rs
Due: neqo-http3, neqo-transport

Add a connection parameter for SCONE
  neqo-transport/src/connection/params.rs
Due: neqo-transport

Add a connection parameter for SCONE (#3450)
  neqo-transport/src/connection/params.rs
Due: neqo-transport

chore: Simplify `Iter<'a, P, E>`
  neqo-common/src/event.rs
Due: neqo-common

chore: Simplify `Iter<'a, P, E>` (#3452)
  neqo-common/src/event.rs
Due: neqo-common

Clippy/fmt
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/scone.rs
Due: neqo-transport

feat(transport/cc): make slow start pluggable and add hystart++ (#3278)
  .clippy.toml
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/cc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

chore: Avoid `Box<dyn CongestionControl>`
  Cargo.lock
  Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

add `slow_start_exit_reason` stat
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

cargo fmt
  neqo-transport/src/cc/classic_slow_start.rs
Due: neqo-transport

add `css_entries` stat to count how often css was entered
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

add `css_rounds_finished` stat
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(stats): add a stat recording cubic's `w_max`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix(stats/cc): `cwnd` stat is now initialized to the initial window size
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

add a test for the fix
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

use `f64` instead of `usize`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

use `Option<usize>`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

make `w_max` stat an `Option<f64>` to represent the unset state idiomatically
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix grammatical error
  neqo-transport/src/stats.rs
Due: neqo-transport

feat: Enable the Apple fast datapath
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/build.rs
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

chore: `cfg_attr` for `coverage_nightly, test` where needed
  mtu/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp, mtu

fix: Don't recurse when parsing SCONE
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

chore: Debug Claude workflows
  .github/workflows/claude-approve.yml
  .github/workflows/claude.yml
Due: none

chore: Debug Claude workflows (#3461)
  .github/workflows/claude-approve.yml
  .github/workflows/claude.yml
Due: none

fix: Address new zizmor issues
  .github/actions/rust/action.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude-approve.yml
  .github/workflows/codspeed.yml
Due: none

fix: Address new zizmor issues (#3462)
  .github/actions/rust/action.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude-approve.yml
  .github/workflows/codspeed.yml
Due: none

chore: Run `walltime` benchmarks only on our runners
  .github/actions/bench-matrix/action.yml
  .github/actions/build-neqo/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
Due: none

chore: `cfg_attr` for `coverage_nightly, test` where needed (#3457)
  mtu/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp, mtu

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
