Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

feat(transport/cc): spurious congestion event detection
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Again
  .github/workflows/claude.yml
Due: none

Disable Claude
  .github/workflows/claude.yml
Due: none

chore: Disable Claude (#3089)
  .github/workflows/claude.yml
Due: none

splitting the count of ecn- and loss-induced congestion events
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

build: update `windows` 0.58.0 → 0.62.0 (#3091)
  Cargo.lock
  Cargo.toml
  mtu/Cargo.toml
  neqo-crypto/Cargo.toml
Due: neqo-crypto

feat(transport/cc): lower CWND reduction on ECN CE vs loss
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/pace.rs
Due: neqo-transport

chore(Cargo.lock): update quinn-udp to v0.5.14
  Cargo.lock
Due: none

chore(Cargo.lock): update quinn-udp to v0.5.14 (#3116)
  Cargo.lock
Due: none

chore: Update some `dev-dependencies` (#2895)
  .deny.toml
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

Bump codspeed
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

Merge
  Cargo.lock
Due: none

chore: Update some deps to Gecko versions (#3109)
  Cargo.lock
Due: none

fix(build): fix build failure and instructions (#3031)
  README.md
Due: none

chore: Script to update deps to what Gecko has (#2930)
  test/update-lockfile.sh
Due: none

Update neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

More fixes
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Remove assert
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

Nits
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Improve coverage
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix(transport): arm Handshake PTO timer when server flight is lost (#3097)
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

ci: Add `docker-build-qns` action
  .github/actions/docker-build-qns/action.yml
Due: none

ci: Add `docker-build-qns` action (#3124)
  .github/actions/docker-build-qns/action.yml
Due: none

Fix `docker-build-qns/action.yml`
  .github/actions/docker-build-qns/action.yml
Due: none

Again
  .github/workflows/qns.yml
Due: none

Fix
  .github/workflows/qns.yml
Due: none

Checkout
  .github/workflows/qns.yml
Due: none

ci: Don't depend on cached QNS results
  .github/workflows/qns.yml
Due: none

Again
  .github/actions/docker-build-qns/action.yml
  .github/workflows/qns.yml
Due: none
