Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Reliable resets (RESET_STREAM_AT) (#3754)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/reset_stream_at.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tparams.rs
Due: neqo-http3, neqo-transport

Reliable reset handling for HTTP/3
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/tests/httpconn.rs
Due: neqo-http3

Add some more tests for the HTTP/3 integration
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport enablement checks
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/settings.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/reset_stream_at.rs
Due: neqo-http3, neqo-transport

Confirm that we got a reset
  neqo-http3/tests/httpconn.rs
Due: neqo-http3

Prerequisites are crate scoped
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

Restore client-side check
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
Due: neqo-http3

Major simplification of feature negotiation
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/mod.rs
Due: neqo-http3

Fix doc comment
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

Add a check for WebTransport
  neqo-http3/src/features/mod.rs
Due: neqo-http3

Drop explanatory comment on is_allowed match arm
  neqo-transport/src/frame.rs
Due: neqo-transport

Rename enable to negotiate and fix a trace call
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/mod.rs
Due: neqo-http3

fix: reject PATH_RESPONSE and HANDSHAKE_DONE in 0-RTT packets (#3775)
  neqo-transport/src/frame.rs
Due: neqo-transport

fix: reject qpack header acknowledgment for a fully-acked stream
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

fix(common): support 32-bit targets (partial revert of #3738)
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/tests/httpconn.rs
  neqo-qpack/src/huffman_decode_helper.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Add a hard flow control cap
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

More notes
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

fix: reject qpack header acknowledgment for a fully-acked stream (#3778)
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

fix: Cap qpack stream tracking
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/table.rs
Due: neqo-http3, neqo-qpack

Allow already-tracked streams past
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

Reduce the number of tracked streams in qpack
  neqo-http3/src/conn_params.rs
Due: neqo-http3

Address review comment with comments
  neqo-transport/src/fc.rs
Due: neqo-transport

Address bot review comments
  neqo-qpack/src/lib.rs
  neqo-qpack/src/table.rs
Due: neqo-qpack

Refactor QPack settings to be like other settings
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/lib.rs
Due: neqo-http3, neqo-qpack

Take the suggestion to cap the value sooner on incoming updates
  neqo-transport/src/fc.rs
Due: neqo-transport

Moar testing
  neqo-qpack/src/lib.rs
Due: neqo-qpack

Oops
  neqo-qpack/src/lib.rs
Due: neqo-qpack

test: extract shared helpers for ACK range tests
  neqo-transport/src/tracking.rs
Due: neqo-transport

fix: reject server-only transport parameters sent by a client
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
Due: neqo-transport

Plumb role through to TP decode
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Cap qpack tracking (#3780)
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/table.rs
Due: neqo-http3, neqo-qpack

discard retry with scid matching the initial dcid
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

address review: comment wording and non-empty cid asserts
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fix: discard retry with scid matching the initial dcid (#3785)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fix: reject reserved frame types that start a request stream
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

chore: Reduce benchmark CI noise
  .github/actions/cpu-tuning/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  test/ansible/install.yml
Due: neqo-http3

fix: bound the RETIRE_CONNECTION_ID queue
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/path.rs
Due: neqo-transport

chore: Reduce benchmark CI noise (#3787)
  .github/actions/cpu-tuning/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  neqo-bin/benches/main.rs
  neqo-http3/benches/common.rs
  test/ansible/install.yml
Due: neqo-http3

Address review comments
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/path.rs
Due: neqo-transport
