Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Debug BACKTRACE
  .github/workflows/bench.yml
Due: none

chore: Fix new clippy warnings (#2951)
  neqo-bin/src/bin/client.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/qlog.rs
  neqo-udp/src/lib.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-transport, neqo-udp

fix: Turn off more TLS randomization with `disable-random`
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Update neqo-crypto/src/agent.rs
  neqo-crypto/src/agent.rs
Due: neqo-crypto

fix: Turn off more TLS randomization with `disable-random` (#2958)
  neqo-crypto/src/agent.rs
Due: neqo-crypto

fix: Use `test_fixture::now` in tests
  neqo-common/src/qlog.rs
  neqo-common/tests/log.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/time.rs
  neqo-http3/tests/priority.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

Single group
  neqo-transport/benches/transfer.rs
Due: neqo-transport

ci: Update to `criterion@0.7`
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

ci: Only generate `bencher` PR comment on alert
  .github/workflows/bencher-upload.yml
Due: none

fix: Use `test_fixture::now` in tests (#2959)
  neqo-common/src/qlog.rs
  neqo-common/tests/log.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/time.rs
  neqo-http3/tests/priority.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

No plot
  .github/workflows/bench.yml
Due: none

ci: Only generate `bencher` PR comment on alert (#2962)
  .github/workflows/bencher-upload.yml
Due: none

fix(.github/bench): add criterion --noplot flag
  .github/workflows/bench.yml
Due: none

fix(.github/bench): add criterion --noplot flag (#2963)
  .github/workflows/bench.yml
Due: none

ci: Add `cooldown` to Dependabot schedule
  .github/dependabot.yml
Due: none

feat(.github/rust): enable full Rust backtraces
  .github/actions/rust/action.yml
Due: none

Fix message
  neqo-http3/src/connection.rs
Due: neqo-http3

Rename classic_connect to connect
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/classic_connect.rs
Due: neqo-http3

cubic: streamline test value setters/getters
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

refactor(http3): simplify RequestTarget
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/request_target.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/priority.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-http3

Have connect() take authority only
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/classic_connect.rs
Due: neqo-http3

cubic: multiplicative decrease updates
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Rename create_fetch_headers to create_request_headers
  neqo-http3/src/connection.rs
Due: neqo-http3

Return Error::InvalidInput instead of debug_assert on CONNECT mismatch
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/classic_connect.rs
Due: neqo-http3

ci: Fix bench PR comment formatting
  .github/workflows/bench.yml
Due: none

Update neqo-http3/src/client_events.rs
  neqo-http3/src/client_events.rs
Due: neqo-http3

cubic: reno region updates
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/connection/tests/cc.rs
Due: neqo-transport

feat(transport,http3): enable SETTINGS_H3_DATAGRAM and max_datagram_frame_size
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

chore(bin): move unwrap_used to crate root
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxied_http3.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

Update neqo-bin/src/client/proxied_http3.rs
  neqo-bin/src/client/proxied_http3.rs
Due: none

Use strum
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

ci: Fix bench PR comment formatting (#2971)
  .github/workflows/bench.yml
Due: none

ci: Add `cooldown` to Dependabot schedule (#2964)
  .github/dependabot.yml
Due: none

Minor test to increase test coverage
  neqo-http3/src/conn_params.rs
Due: neqo-http3

feat(bin/server): add `HttpServer::poll`
  neqo-bin/src/server/mod.rs
Due: none

refactor: rename proxied to inner and proxy to outer
  neqo-bin/src/client/proxied_http3.rs
Due: none

Remove client server changes for now
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxied_http3.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

Increase connect-udp frame coverage
  neqo-http3/src/frames/connect_udp_frame.rs
Due: neqo-http3

feat(common): implement iter and iter_mut for DatagramBatch
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-common, neqo-transport
