Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

add dummy packets before Initial packets
  neqo-bin/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
Due: neqo-transport

llvm16
  .github/workflows/check-vm.yml
Due: none

chore: Bump `mtu` to 0.2.8
  Cargo.lock
Due: none

Apply suggestions from code review
  neqo-bin/src/lib.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

replace smallvec with vec, add comments and apply other suggestions from review
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Bump some deps to what Firefox is now using
  Cargo.lock
  Cargo.toml
Due: none

Install `samply` from source
  .github/actions/rust/action.yml
Due: none

fix: Eliminate expensive log call
  neqo-http3/src/buffered_send_stream.rs
Due: neqo-http3

fix: Avoid repeated lookups of NSS experimental API functions
  neqo-crypto/src/exp.rs
Due: neqo-crypto

fix: Eliminate expensive log call (#2617)
  neqo-http3/src/buffered_send_stream.rs
Due: neqo-http3

Finalize
  .github/workflows/check-vm.yml
Due: none

Remove unneeded fix
  .github/actions/rust/action.yml
Due: none

fix: Avoid repeated lookups of NSS experimental API functions (#2618)
  neqo-crypto/src/exp.rs
Due: neqo-crypto

No --locked
  .github/workflows/check.yml
Due: none

fix: Move allocations outside of loops
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

ci: Misc. bench changes
  .github/workflows/bench.yml
Due: none

Don't change test.
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Own `Http3StreamInfo`
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3

Renamed SafeCertificateCompression to CertificateCompression
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Changed certificate compression encoders to be [must_use]
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Name improvements
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Certificate Compression improvements (getting rid of unwrap for encoded_len)
  neqo-crypto/src/agent.rs
Due: neqo-crypto

Merge commit from fork
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tracking.rs
Due: neqo-common, neqo-transport

Fix
  .github/workflows/check.yml
Due: none

Simpler
  .github/workflows/check.yml
Due: none

Applied formatting
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

No `mold`
  .github/actions/rust/action.yml
  .github/workflows/check.yml
Due: none

No special linker
  .github/actions/rust/action.yml
Due: none

ci: Misc. bench changes (#2622)
  .github/workflows/bench.yml
Due: none

perf: use GSO
  .github/workflows/check.yml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

chore: Bump some deps to what Firefox is now using (#2615)
  Cargo.lock
  Cargo.toml
Due: none

chore: Bump `mtu` to 0.2.8 (#2614)
  Cargo.lock
Due: none

Build from source on non-Linux
  .github/actions/rust/action.yml
  .github/workflows/check.yml
Due: none

Finalize
  .github/actions/rust/action.yml
  .github/workflows/check.yml
Due: none

16 bytes buffer for `NewStreamHeadReader::read`
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

Make `FrameReader` own read buffer
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

Fix
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

Update neqo-http3/src/stream_type_reader.rs
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

fix: Move allocations outside of loops (#2620)
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/stream_type_reader.rs
Due: neqo-http3

ci: Manually key the Rust cache
  .github/actions/rust/action.yml
Due: none
