Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

ci: pin samply and match criterion short benchmark ids
  .github/actionlint.yml
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/build-samply.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

ci: do not report no timing changes when the IPC rows are missing
  .github/scripts/format-bench-results.py
  .github/workflows/build-samply.yml
Due: none

Final fixes
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/build-samply.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

ci: sample instructions and record perf stat counters (#3939)
  .github/actionlint.yml
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
  .github/workflows/build-samply.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
Due: none

fix: reject 0-RTT downgrade of extended CONNECT
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

DO NOT MERGE: diagnostic perf counters
  .github/workflows/bench.yml
Due: none

DO NOT MERGE: test the inlining cascade
  .github/workflows/bench.yml
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

perf: drop the coalesced prefix of RangeTracker::used in one split_off
  neqo-transport/src/send_stream.rs
Due: neqo-transport

perf: avoid duplicate monomorphization of the output path
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-http3, neqo-transport

test: apply review cleanup
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

chore(Cargo.lock): update to quinn-udp v0.6.2 (#3945)
  Cargo.lock
Due: none

Reject 0-RTT downgrade of the extended CONNECT setting (#3940)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

fix: Don't drop samples from corpus
  test/make-fuzz-corpus.sh
Due: none

fix: Don't drop samples from corpus (#3947)
  test/make-fuzz-corpus.sh
Due: none

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/test_internal.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/reset_stream_at.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

Fix clippy
  neqo-common/src/datagram.rs
Due: neqo-common

fix(transport): back-pressure the outbound QUIC datagram queue
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix(transport): back-pressure the outbound QUIC datagram queue (#3859)
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/events.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

chore: Use `EnumMap` more
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-qpack, neqo-transport

chore: Use `EnumMap` more (#3955)
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-qpack, neqo-transport

fix: Use static receive buffer in the simulator
  test-fixture/src/sim/connection.rs
Due: none

chore: Switch QNS cache location
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: Switch QNS cache location (#3957)
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

fix: Use static receive buffer in the simulator (#3956)
  test-fixture/src/sim/connection.rs
Due: none

fix: Fix profile download links
  .github/workflows/profile.yml
Due: none

fix: Install libc symbols for samply
  .github/actions/enable-perf/action.yml
  test/ansible/install.yml
Due: none

Update .github/workflows/profile.yml
  .github/workflows/profile.yml
Due: none

fix: Install libc symbols for samply (#3960)
  .github/actions/enable-perf/action.yml
  test/ansible/install.yml
Due: none

fix: Fix profile download links (#3959)
  .github/workflows/profile.yml
Due: none

fix: Narrow `AckRate` and `RecoveryToken` (#3908)
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix(transport): don't count FC-blocked time against receive window auto-tuning
  neqo-transport/src/fc.rs
Due: neqo-transport

fix: Box `ConnectionIdEntry` (#3910)
  neqo-transport/src/cid.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

fix: Keep the tail of a range that spans an unmarked range
  neqo-transport/benches/range_tracker.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: count a sent packet before judging the sender app-limited
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

fix: Keep the tail of a range that spans an unmarked range (#3962)
  neqo-transport/benches/range_tracker.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: count a sent packet before judging the sender app-limited (#3963)
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

fix: Collect base and PR profiles on the same machine
  .github/actions/build-neqo/action.yml
  .github/actions/bundle-nss/action.yml
  .github/actions/perfcompare-commands/action.yml
  .github/actions/process-perf/action.yml
  .github/actions/record-perf/action.yml
  .github/actions/upload-profile/action.yml
  .github/workflows/profile.yml
Due: none

Fixes
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/stats.rs
  test-fixture/src/lib.rs
  test/test.sh
Due: neqo-transport

fix: Collect base and PR profiles on the same machine (#3961)
  .github/actions/build-neqo/action.yml
  .github/actions/bundle-nss/action.yml
  .github/actions/perfcompare-commands/action.yml
  .github/actions/process-perf/action.yml
  .github/actions/record-perf/action.yml
  .github/actions/upload-profile/action.yml
  .github/workflows/profile.yml
Due: none

Update neqo-transport/src/stats.rs
  neqo-transport/src/stats.rs
Due: neqo-transport
