Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

feat: use u64 arithmetic in `Pacer` instead of u128 (#3594)
  neqo-transport/src/pace.rs
Due: neqo-transport

feat: cache effective retransmission priority in `SendStream` (#3592)
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Interior mutability
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Benchmark https://github.com/mozilla/nss-rs/pull/51
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
Due: none

add a test assertion
  neqo-transport/src/cc/tests/search.rs
Due: neqo-transport

chore: Avoid `Box<dyn CongestionControl>`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

Use shared macro
  neqo-common/src/lib.rs
  neqo-transport/src/cc/mod.rs
Due: neqo-common, neqo-transport

Fix
  neqo-common/src/lib.rs
Due: neqo-common

chore: Avoid `Box<dyn CongestionControl>` (#3451)
  neqo-common/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/sender.rs
Due: neqo-common, neqo-transport

nit
  neqo-transport/src/cc/search.rs
Due: neqo-transport

Merge branch 'main' into search
  neqo-common/src/lib.rs
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/sender.rs
Due: neqo-common, neqo-http3, neqo-transport

chore: Avoid `Box<dyn>` for HTTP/3 event and protocol traits
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3

fix: acked_bytes doesn't increment during app-limited
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/search.rs
Due: neqo-transport

chore: Avoid `Box<dyn SendStream>` and `Box<dyn RecvStream>`
  neqo-common/src/lib.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
Due: neqo-common, neqo-http3

Fix
  neqo-http3/src/connection.rs
Due: neqo-http3

fmt
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

feat(cc): SEARCH (#3518)
  .clippy.toml
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

fix: Kill interop servers better
  .github/scripts/perfcompare.py
  .github/workflows/perfcompare.yml
Due: none

chore: Benchmark "bypass SSL AEAD wrapper in RecordProtection"
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
Due: none

fix: Kill interop servers better (#3604)
  .github/scripts/perfcompare.py
  .github/workflows/perfcompare.yml
Due: none

Fix
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Fixes
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

chore: Better `perf` sampling
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Optimize
  neqo-http3/src/recv_message.rs
Due: neqo-http3

chore: Update action deps
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

chore: Update action deps (#3612)
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/actions/quic-build/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

feat(cc): record drain-phase target cwnd to stats
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(cc): record how often SEARCH calculated zero bytes sent last RTT
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(cc): record first and second rtt to tune SEARCH init
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(cc): record norm_diff for THRESH tuning
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(cc): record if a reset happened
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(stats): expose min_rtt in connection stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(cc): record EXTRA_BINS needed as stat
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Better factoring of path response
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
Due: neqo-transport

fmt
  neqo-transport/src/path.rs
Due: neqo-transport

feat: Define a path migration event (#3598)
  neqo-bin/src/server/http09.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/events.rs
  neqo-transport/src/path.rs
Due: neqo-http3, neqo-transport

address review comments
  neqo-transport/src/cc/search.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(cc/stats): Add stats for SEARCH slow start heuristic (#3613)
  neqo-transport/src/cc/search.rs
  neqo-transport/src/cc/tests/search.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

chore: lockfile tool updates
  .gitignore
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/pyproject.toml
  test/update_lockfile.py
  test/uv.lock
Due: none
