Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

fix: Link `freebl_static` on static link
  neqo-crypto/build.rs
Due: neqo-crypto

More static
  neqo-crypto/build.rs
Due: neqo-crypto

Test that ECH and 0-RTT work
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Update the NSS version to 3.110, where the crash fix is
  neqo-crypto/min_version.txt
Due: neqo-crypto

Test that ECH and 0-RTT work (#2551)
  neqo-crypto/min_version.txt
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-transport

Less
  fuzz/fuzz_targets/server_initial.rs
  neqo-crypto/build.rs
Due: neqo-crypto

More
  neqo-crypto/build.rs
Due: neqo-crypto

pk11wrap
  neqo-crypto/build.rs
Due: neqo-crypto

More
  fuzz/fuzz_targets/server_initial.rs
  neqo-crypto/build.rs
Due: neqo-crypto

sqlite3
  neqo-crypto/build.rs
Due: neqo-crypto

sqlite
  neqo-crypto/build.rs
Due: neqo-crypto

More
  neqo-crypto/build.rs
  test-fixture/src/lib.rs
Due: neqo-crypto

Update neqo-transport/src/stats.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

More
  test-fixture/src/lib.rs
Due: none

Finalize
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  test-fixture/src/lib.rs
Due: none

Debug Windows
  .github/actions/nss/action.yml
Due: none

Revert "Debug Windows"
  .github/actions/nss/action.yml
Due: none

Fix
  neqo-crypto/build.rs
Due: neqo-crypto

Minimize
  .github/actions/nss/action.yml
Due: none

fix: Unbreak the fuzzer more (#2552)
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-crypto/build.rs
  test-fixture/src/lib.rs
Due: neqo-crypto

Leave the TX buffer alone for now
  neqo-bin/src/udp.rs
Due: none

Suggestions from @mxinden
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Update neqo-bin/src/udp.rs
  neqo-bin/src/udp.rs
Due: none

Fixes and simplifications
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Log result size
  neqo-bin/src/udp.rs
Due: none

Update neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Fix
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

fmt
  neqo-bin/src/udp.rs
Due: none

fix: Use 1MB socket RX buffers (#2470)
  Cargo.lock
  Cargo.toml
  neqo-bin/src/udp.rs
Due: none

Fix DSCP tracking and add some tests
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/common/mod.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
Due: neqo-transport

chore: Fix searchfox URL
  neqo-bin/src/udp.rs
Due: none

chore: Fix searchfox URL (#2553)
  neqo-bin/src/udp.rs
Due: none

Simplify
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-transport, neqo-udp

docs(transport/ecn): improve fn Info::ecn_mark docs
  neqo-transport/src/ecn.rs
Due: neqo-transport

Minimize more
  neqo-bin/src/udp.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-udp

docs(transport/ecn): improve fn Info::ecn_mark docs (#2554)
  neqo-transport/src/ecn.rs
Due: neqo-transport

clippy
  neqo-udp/src/lib.rs
Due: neqo-udp
