Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Try something else
  .github/actions/rust/action.yml
Due: none

Revamp
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ackrate.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  neqo-udp/src/lib.rs
  test-fixture/src/assertions.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

Save some lines
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/path.rs
Due: neqo-http3, neqo-transport

ci: Fix the bencher
  .github/workflows/bench.yml
Due: none

Also export bench binaries
  .github/workflows/bench.yml
Due: none

Revert "Also export bench binaries"
  .github/workflows/bench.yml
Due: none

Also export the bench binaries
  .github/workflows/bench.yml
Due: none

Doh!
  .github/workflows/bench.yml
Due: none

Fix harder
  .github/workflows/bench.yml
Due: none

And again
  .github/workflows/bench.yml
  Cargo.toml
Due: none

Faster
  .github/workflows/check.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

Finalize
  .github/workflows/bench.yml
  .github/workflows/check.yml
  Cargo.toml
Due: none

ci: Fix the bencher (#2627)
  .github/workflows/bench.yml
Due: none

feat: `clippy::field_scoped_visibility_modifiers`
  Cargo.toml
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/close.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

feat: `clippy::impl_trait_in_params`
  Cargo.toml
  neqo-bin/src/send_data.rs
  neqo-common/src/codec.rs
  neqo-common/src/lib.rs
  neqo-common/src/qlog.rs
  neqo-crypto/src/agent.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/version.rs
  neqo-udp/src/lib.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport, neqo-udp

Fix for 1.82
  neqo-transport/src/crypto.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

fix: `clippy::neqo-http3/src/connection.rs`
  Cargo.toml
  neqo-bin/src/lib.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

fix: `clippy::return_and_then`
  Cargo.toml
  neqo-common/src/codec.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-common, neqo-http3, neqo-transport

`map_with_unused_argument_over_ranges` fired for benches
  Cargo.toml
  neqo-http3/benches/streams.rs
Due: neqo-http3

fix: `clippy::iter_over_hash_type`
  Cargo.toml
  neqo-bin/src/server/http09.rs
  neqo-crypto/build.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/encoder.rs
Due: neqo-crypto, neqo-http3, neqo-qpack

ci: Use `samply` to convert `perf` data for the Firefox profiler (#2579)
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

fmt
  neqo-http3/src/connection_client.rs
Due: neqo-http3

fix: `clippy::partial_pub_fields` and `map_with_unused_argument_over_ranges` (#2630)
  Cargo.toml
  neqo-bin/src/lib.rs
  neqo-http3/benches/streams.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Missed one
  neqo-transport/tests/server.rs
Due: neqo-transport

feat: `clippy::field_scoped_visibility_modifiers` (#2628)
  Cargo.toml
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/close.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Update neqo-crypto/build.rs
  neqo-crypto/build.rs
Due: neqo-crypto

fix: `RecvdPackets` doesn't need a `VecDeque`
  neqo-transport/src/tracking.rs
Due: neqo-transport

fix: `clippy::return_and_then` (#2631)
  Cargo.toml
  neqo-common/src/codec.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-common, neqo-http3, neqo-transport

fix: Collect ranges into a `SmallVec`
  neqo-transport/src/tracking.rs
Due: neqo-transport

ci: Misc. fixes
  .github/workflows/check-vm.yml
  .github/workflows/check.yml
  neqo-common/src/hrtime.rs
  neqo-transport/src/connection/tests/vn.rs
  qns/Dockerfile
Due: neqo-common, neqo-transport

fix: `clippy::iter_over_hash_type` (#2632)
  Cargo.toml
  neqo-bin/src/server/http09.rs
  neqo-crypto/build.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/tests/server.rs
Due: neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

ci: Misc. fixes (#2636)
  .github/workflows/check-vm.yml
  .github/workflows/check.yml
  neqo-common/src/hrtime.rs
  neqo-transport/src/connection/tests/vn.rs
  qns/Dockerfile
Due: neqo-common, neqo-transport

SmallVec and add stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

ci: Add `cloudflare/quiche` and `aws/s2n-quic` to bench
  .github/workflows/bench.yml
Due: none

Again
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
