Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

connect-udp: return the queue's backpressure signal instead of a bool
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Transport: track datagrams actually sent per session
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: report the fate of outgoing datagrams via events and aggregate stats
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: drop a closed session's queued datagrams on teardown
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Add transport outgoing-datagram queue engine
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Add outgoing-datagram queues to QuicDatagrams/Connection
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

feat: read server body data into a reusable buffer
  neqo-http3/src/server.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-http3

feat: read server body data into a reusable buffer (#3994)
  neqo-http3/src/server.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-http3

feat: reuse reassembly buffers via a free list
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

perf: avoid heap allocations in the client and server wait loops
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
Due: none

fix: drop obsolete 'tools' package from Android SDK setup
  .github/actions/check-android/action.yml
  .github/actions/install-build-deps/action.yml
  Cargo.lock
  Cargo.toml
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-http3, neqo-transport

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

ci: add i686-unknown-linux-gnu compile check
  .github/actions/install-build-deps/action.yml
  .github/workflows/check.yml
Due: none

ci: add i686-unknown-linux-gnu compile check (#3901)
  .github/actions/install-build-deps/action.yml
  .github/workflows/check.yml
Due: none

WebTransport: cover the per-session datagram queue's watermark, priority, and byte-budget eviction
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

Remove the legacy per-connection outgoing-datagram queue
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: count a session's expired outgoing datagrams
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Process a connection whose only pending work is an expired datagram
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/server.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Expose Connection::expire_datagrams for callers that need the expired IDs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: rewire the new datagram queue onto Connection's engine
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Expose datagram high-water-mark/max-age controls as production API
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Reject datagrams the peer can't accept before they reach the queue
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Add outgoing-datagram queues to QuicDatagrams/Connection
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

fix: drop obsolete 'tools' package from Android SDK setup (#4000)
  .github/actions/check-android/action.yml
  Cargo.lock
  Cargo.toml
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-http3, neqo-transport

fix(http3): centralize TransportError-to-Error mapping
  neqo-bin/src/client/http3.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Update neqo-udp/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

fix(http3): centralize TransportError-to-Error mapping (#4002)
  neqo-bin/src/client/http3.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

perf: use a contiguous UDP receive buffer
  neqo-udp/src/lib.rs
Due: neqo-udp

perf: keep receive buffering unchanged
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/tests/server.rs
  neqo-udp/src/lib.rs
Due: neqo-http3, neqo-transport, neqo-udp

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
