Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

More fixes from @mxinden
  Cargo.lock
Due: none

Make more version the same
  Cargo.lock
Due: none

And more
  Cargo.lock
Due: none

chore: Use matrix for `clippy` (#3243)
  .github/actions/toolchains/action.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  neqo-bin/src/udp.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-transport, neqo-udp

fix: Fix QNS reporting in CI
  .github/workflows/pr-comment.yml
  .github/workflows/qns-pr.yml
Due: none

fix: Fix QNS reporting in CI (#3318)
  .github/workflows/pr-comment.yml
  .github/workflows/qns-pr.yml
Due: none

fix: Fix QNS reporting in CI
  .github/workflows/qns-pr.yml
Due: none

fix: Fix QNS reporting in CI (#3319)
  .github/workflows/qns-pr.yml
Due: none

chore: Use Codspeed runners for wallclock benches (#3194)
  .github/actions/nss/action.yml
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/transfer.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
Due: neqo-common, neqo-http3, neqo-transport

Addressing review comments:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

implement spurious congestion event undo mechanism
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
Due: neqo-transport

disregard lost pmtud probes for spurious event detection
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

add tests for spurious congestion event handling:
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

fix clippy
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

adding debug statements and moving stat count into `on_spurious_congestion_event`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

More updates:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

remove whitespace and a drive by code cleanup
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

intra-doc links and formatting
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

feat(transport/cc): spurious congestion event recovery (#3298)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

chore: Remove cirun.io config
  .cirun.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Also fix workflow trigger for on-prem
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Don't sudo install on self-hosted runners
  .github/actions/nss/action.yml
Due: none

ci: Add CodSpeed `memory` benchmark run
  .github/workflows/codspeed.yml
Due: none

Bump codspeed crates
  Cargo.lock
Due: none

Simplify
  .github/workflows/codspeed.yml
Due: none

Bump CodSpeedHQ/action
  .github/workflows/codspeed.yml
Due: none

Always self-hosted
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

zizmor
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

ci: Fix on-prem benchmark trigger (#3321)
  .cirun.yml
  .github/actions/nss/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

ci: Add CodSpeed `memory` benchmark run (#3322)
  .github/workflows/codspeed.yml
  Cargo.lock
Due: none

Update neqo-transport/src/fc.rs
  neqo-transport/src/fc.rs
Due: neqo-transport

Fix merge
  neqo-transport/src/fc.rs
Due: neqo-transport

fix(transport/fc): prevent auto-tuning to decrease max_active (#3314)
  neqo-transport/src/fc.rs
Due: neqo-transport

chore: prepare for v0.22.0 release
  Cargo.lock
  Cargo.toml
Due: none

chore: Different schedule for some fuzzing corpora
  .github/workflows/fuzz-corpus.yml
  test/make-fuzz-corpus.sh
Due: none

Update test/make-fuzz-corpus.sh
  test/make-fuzz-corpus.sh
Due: none

Update .github/workflows/fuzz-corpus.yml
  .github/workflows/fuzz-corpus.yml
Due: none

chore: prepare for v0.22.0 release (#3324)
  Cargo.lock
  Cargo.toml
Due: none

chore: Update NSS to version 3.120
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

Fix
  .github/actions/nss/action.yml
Due: none
