Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

A bunch of logging improvements (#2874)
  neqo-crypto/src/agentio.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/tests/connection.rs
  test-fixture/src/lib.rs
Due: neqo-crypto, neqo-transport

fix broken_intra_doc_links for CUBIC_ALPHA
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Completely rewrite dup_server_flight1 (#2868)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Force coverage up by simplifying a test (#2872)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Fix packet_with_only_padding test (#2873)
  neqo-transport/tests/connection.rs
Due: neqo-transport

fix(transport): downgrade qwarn to qdebug on pkt_dropped
  neqo-transport/src/stats.rs
Due: neqo-transport

fix(transport): downgrade qwarn to qdebug on pkt_dropped (#2876)
  neqo-transport/src/stats.rs
Due: neqo-transport

Add a further test for Initial before docking two bytes
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Fix compatible upgrade
  neqo-crypto/src/agent.rs
  neqo-crypto/src/secrets.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/tests/connection.rs
Due: neqo-crypto, neqo-transport

PTO across packet number spaces better
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Mention MSRV
  neqo-transport/src/crypto.rs
Due: neqo-transport

Capital idea
  neqo-transport/tests/connection.rs
Due: neqo-transport

PTO across packet number spaces better (#2878)
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

chore: Remove dead code
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/qlog.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/src/replay.rs
  neqo-crypto/src/time.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/server_events.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qpack_send_buf.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/streams.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

fix: Don't call `finish` in `std::hash::Hash` implementations
  neqo-http3/src/server_events.rs
Due: neqo-http3

Remove outdated comment.
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Fix the indication reservation and test it
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fix: Don't call `finish` in `std::hash::Hash` implementations (#2881)
  neqo-http3/src/server_events.rs
Due: neqo-http3

Restore some bits needed by Gecko, and add TODOs for them.
  neqo-crypto/src/agent.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/cert.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-udp/src/lib.rs
Due: neqo-crypto, neqo-http3, neqo-transport, neqo-udp

Apply suggestion from @martinthomson
  neqo-crypto/src/auth.rs
Due: neqo-crypto

fmt
  neqo-http3/src/connection_client.rs
Due: neqo-http3

refactor(bin/server): simplify run() removing need for HttpServer::new
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

refactor(bin/server): simplify run() removing need for HttpServer::new (#2883)
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

refactor: consolidate ConnectUdp and WebTransport session
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Fix compatible upgrade (#2877)
  neqo-crypto/src/agent.rs
  neqo-crypto/src/secrets.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/tests/connection.rs
Due: neqo-crypto, neqo-transport

refactor: unify most exchange_packets impls (#2851)
  neqo-http3/benches/streams.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/priority.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  test-fixture/src/lib.rs
Due: neqo-http3

docs(http3): remove partially outdated docs (#2859)
  neqo-http3/src/connection.rs
Due: neqo-http3

Make initial RTT configurable (#2825)
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

ci: Use implicit `$HOME` home directory (#2850)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

docs(transport): extend preprocess_packet docs on State::Closing (#2848)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore(clippy): remove expect for needless_match (#2835)
  neqo-transport/src/server.rs
Due: neqo-transport

Make discarded_initial_keys more robust (#2864)
  neqo-transport/src/connection/tests/keys.rs
Due: neqo-transport

refactor(http3): improve `FrameReader` `Debug` implementation (#2815)
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

fix(bin): replace buggy `to_headers` with `FromStr` `impl` (#2833)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-common/src/header.rs
Due: neqo-common

ci: Create cache on `merge_group` trigger (#2824)
  .github/actions/rust/action.yml
Due: none

ci: No `mold` (#2857)
  .github/actions/rust/action.yml
  test/ansible/install.yml
Due: none

Move connection parameter defaults to the type (#2869)
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/ackrate.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-transport

chore(.github/check.yaml): remove obsolete run_benchmarks input (#2826)
  .github/workflows/check.yml
Due: none

fix(transport/frame): prevent potential overflow in padding decode (#2839)
  neqo-common/src/codec.rs
  neqo-transport/src/frame.rs
Due: neqo-common, neqo-transport

fix(http3): reduce visibility of internal functions (#2802)
  neqo-http3/src/connection.rs
Due: neqo-http3
