Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

chore: Group dependabot updates
  .github/dependabot.yml
Due: none

feat: Run cargo crap in CI
  .github/workflows/check.yml
Due: none

Fixes
  .github/workflows/check.yml
Due: none

chore: Group dependabot updates (#3677)
  .github/dependabot.yml
Due: none

Fixes
  .github/actions/check-vm/action.yml
  mtu/src/bindings/openbsd.rs
Due: none

Try neqo CI with the new VM images
  .github/workflows/check.yml
  Cargo.lock
  Cargo.toml
Due: none

fix: guard qpack increment_acked against u64 overflow
  neqo-qpack/src/table.rs
Due: neqo-qpack

Fix clippy
  neqo-transport/src/crypto.rs
Due: neqo-transport

Fixes
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/packet_codec.rs
Due: neqo-transport

Add a packet encode/decode benchmark
  neqo-transport/Cargo.toml
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/packet_codec.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

feat: More benches
  neqo-common/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/pacer.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/send_stream.rs
Due: neqo-common, neqo-transport

Add send_streams bench
  neqo-transport/Cargo.toml
  neqo-transport/benches/send_streams.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: More benches (#3659)
  neqo-common/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/benches/frame_decode.rs
  neqo-transport/benches/pacer.rs
  neqo-transport/benches/packet_codec.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/send_streams.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-common, neqo-transport

chore: Fix clippy
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/pace.rs
Due: neqo-transport

feat: inline Pacer::spend return condition to avoid redundant next() call
  neqo-transport/src/pace.rs
Due: neqo-transport

feat: fast path in RxStreamOrderer::inbound_frame to skip backwards BTree probe
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: extend RefCell borrow lifetimes on hot write/input path
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Fix clippy (#3688)
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/pace.rs
Due: neqo-transport

Improve IntReader boundary tests
  neqo-qpack/src/reader.rs
Due: neqo-qpack

bot feedback
  neqo-qpack/src/reader.rs
Due: neqo-qpack

fix: guard qpack increment_acked against u64 overflow (#3684)
  neqo-qpack/src/table.rs
Due: neqo-qpack

Improve IntReader boundary tests (#3695)
  neqo-qpack/src/reader.rs
Due: neqo-qpack

feat: skip SmallVec allocation in mark_acked/mark_sent when covered is empty
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: skip streams with no data in SendStreams::write_frames
  neqo-transport/src/fc.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

feat: replace Packets BTreeMap with VecDeque
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Update neqo-transport/src/send_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fix
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: replace Packets `BTreeMap` with `VecDeque` (#3686)
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

feat: skip streams with no data in SendStreams::write_frames (#3687)
  neqo-transport/src/fc.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fmt
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Fixes
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: reuse ACK scratch buffer in LossRecoverySpace to reduce allocations
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Fixes
  neqo-transport/benches/sent_packets.rs
Due: neqo-transport

Fixes
  neqo-transport/src/pace.rs
Due: neqo-transport

feat: store `sent::Packet` tokens inline, removing `Rc`
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Return slice
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Add WebTransport ExportKeyingMaterial backend
  Cargo.lock
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-http3, neqo-transport

Add WebTransport ExportKeyingMaterial backend (#3464)
  Cargo.lock
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-http3, neqo-transport

feat: store `sent::Packet` tokens inline, removing `Rc` (#3696)
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
