Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

Update .github/actions/claude-review/prompt.md
  .github/actions/claude-review/prompt.md
Due: none

fix: Run zizmor on push to main to keep code scanning configuration current
  .github/workflows/actionlint.yml
Due: none

fix: Run zizmor on push to main (#3543)
  .github/workflows/actionlint.yml
Due: none

fix: Better instructions for the claude review action (#3542)
  .github/actions/claude-review/action.yml
  .github/actions/claude-review/prompt.md
  .github/workflows/claude.yml
Due: none

fix: Don't run Claude on bot PRs
  .github/workflows/claude.yml
Due: none

Debug
  .github/actions/claude-review/action.yml
Due: none

fix: Don't run Claude on bot PRs (#3544)
  .github/actions/claude-review/action.yml
  .github/workflows/claude.yml
Due: none

fix: Allow more Claude tools
  .github/actions/claude-review/action.yml
Due: none

fix: Allow more Claude tools (#3545)
  .github/actions/claude-review/action.yml
Due: none

fix: More Claude tweaking
  .github/actions/claude-review/action.yml
  .github/workflows/claude.yml
Due: none

fix: More Claude tweaking (#3546)
  .github/actions/claude-review/action.yml
  .github/workflows/claude.yml
Due: none

fix: And more Claude tweaking
  .github/actions/claude-review/action.yml
  .github/actions/claude-review/prompt.md
Due: none

fix: And more Claude tweaking (#3547)
  .github/actions/claude-review/action.yml
  .github/actions/claude-review/prompt.md
Due: none

clippy
  neqo-udp/src/lib.rs
Due: neqo-udp

Update neqo-udp/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Fixes
  neqo-common/src/event.rs
  neqo-crypto/src/aead_null.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sni.rs
  neqo-transport/src/tracking.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-transport, neqo-udp

chore: Increase Claude budget
  .github/actions/claude-review/action.yml
Due: none

chore: Increase Claude budget (#3548)
  .github/actions/claude-review/action.yml
Due: none

chore: Slay more mutants (#3534)
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-common/src/event.rs
  neqo-common/src/lib.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/src/constants.rs
  neqo-crypto/src/err.rs
  neqo-qpack/src/decoder.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/sni.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/tracking.rs
  neqo-transport/src/version.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-qpack, neqo-transport, neqo-udp

chore: Use local context `.` for QNS docker
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: Turn off Claude `track_progress`
  .github/actions/claude-review/action.yml
Due: none

chore: Use local context `.` for QNS docker (#3549)
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: Turn off Claude `track_progress` (#3550)
  .github/actions/claude-review/action.yml
Due: none

fix: Don't serve h09 requests before stream FIN
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  test/test.sh
Due: none

refactor(cc): split up `CongestionEvent` enum
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Fixes
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/mod.rs
Due: none

refactor(cc): split up `CongestionEvent` enum (#3553)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix: Make the server obey the amplification limit
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fmt
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: prepare v0.26.0 (#3532)
  Cargo.lock
  Cargo.toml
Due: none

fix: Enable keepalive for h09 client streams
  neqo-bin/src/client/http09.rs
Due: none

docs: add documentation for log::init function
  neqo-common/src/log.rs
Due: neqo-common

docs: add comprehensive documentation for logging API
  neqo-common/src/log.rs
Due: neqo-common

feat: add contains_handshake and assert_contains_handshake helpers
  test-fixture/src/assertions.rs
Due: none

test(transport): migrate pto_handshake_complete to assert_contains_handshake
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

fix: Enable keepalive for h09 client streams (#3554)
  neqo-bin/src/client/http09.rs
Due: none

reduce noisiness
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
