Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Minimize
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

Finalize
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

ci: Some fixes for the last bencher mega-commit (#2648)
  .github/workflows/bench.yml
Due: none

fmt & clippy
  neqo-http3/src/connection.rs
  neqo-http3/src/control_stream_local.rs
Due: neqo-http3

chore: Update `criterion` to 0.6.0
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

chore: New nightly clippy lints & remove unneeded suppressions
  neqo-bin/benches/main.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/header.rs
  neqo-common/src/lib.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/tests/handshake.rs
  neqo-crypto/tests/hp.rs
  neqo-http3/src/frames/hframe.rs
  neqo-qpack/src/table.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/version.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

ci: Don't run baseline bench if cache exists
  .github/workflows/bench.yml
Due: none

std::hint::black_box
  neqo-common/benches/decoder.rs
Due: neqo-common

chore: Update `criterion` to 0.6.0 (#2649)
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

Use variable
  .github/workflows/bench.yml
Due: none

feat: Implement `Write` for `Encoder`
  neqo-common/src/codec.rs
  neqo-http3/src/frames/hframe.rs
Due: neqo-common, neqo-http3

Tweak
  neqo-common/src/codec.rs
Due: neqo-common

Suggestion from @martinthomson
  neqo-common/src/codec.rs
  neqo-http3/src/frames/hframe.rs
Due: neqo-common, neqo-http3

allow_attributes
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

feat: Implement `Write` for `Encoder` (#2653)
  neqo-common/src/codec.rs
  neqo-http3/src/frames/hframe.rs
Due: neqo-common, neqo-http3

fix: Eliminate some variables that are only used for logging
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tracking.rs
  test-fixture/src/sim/mod.rs
Due: neqo-transport

Undo one
  neqo-crypto/tests/hp.rs
Due: neqo-crypto

Undo one
  test-fixture/src/sim/mod.rs
Due: none

ci: Don't run baseline bench if cache exists (#2651)
  .github/workflows/bench.yml
Due: none

chore: New nightly clippy lints & remove unneeded suppressions (#2650)
  neqo-bin/benches/main.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/header.rs
  neqo-common/src/lib.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/p11.rs
  neqo-crypto/tests/handshake.rs
  neqo-qpack/src/table.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/tparams.rs
  neqo-transport/src/version.rs
Due: neqo-common, neqo-crypto, neqo-qpack, neqo-transport

fix: Eliminate some variables that are only used for logging (#2654)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

fix: Set bench run length, and use `std::hint::black_box`
  neqo-bin/Cargo.toml
  neqo-bin/benches/main.rs
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-http3, neqo-transport

ci: Bump `hyperfine` runs to 100
  .github/workflows/bench.yml
Due: none

Use a saner `BIGSIZE`
  .github/workflows/bench.yml
Due: none

Start a fresh server for each hyperfine run
  .github/workflows/bench.yml
Due: none

Debug
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

Debug more
  .github/workflows/bench.yml
Due: none

Doh
  .github/workflows/bench.yml
Due: none
