Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Update neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http09.rs
Due: none

Address review comments
  mtu/Cargo.toml
  mtu/src/lib.rs
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-common/src/codec.rs
  neqo-common/src/incrdecoder.rs
  neqo-crypto/build.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/ext.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/secrets.rs
  neqo-crypto/src/time.rs
  neqo-http3/src/server.rs
  neqo-qpack/src/huffman_table.rs
  neqo-qpack/src/prefix.rs
  neqo-qpack/src/static_table.rs
  test-fixture/src/sim/mod.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack

Fix merge
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

Address review comments
  neqo-http3/src/frames/reader.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/frame.rs
  test/update-lockfile.sh
Due: neqo-http3, neqo-transport

fmt
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

chore: Disable flaky Codspeed memory benchmarks (#3356)
  .github/workflows/codspeed.yml
  neqo-bin/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-transport

chore: Fix monthly fuzzers workflow (#3355)
  .github/workflows/fuzz-corpus.yml
Due: none

chore: Improve Codecov configuration
  .codecov.yml
  .github/actions/check-vm/action.yml
  .github/workflows/check.yml
Due: none

chore: Remove `bencher.dev` workflows
  .github/workflows/bench.yml
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
Due: none

chore: Improve Codecov configuration (#3363)
  .codecov.yml
  .github/actions/check-vm/action.yml
  .github/workflows/check.yml
Due: none

chore: `RandomDelay` -> `Delay` in streams bench (#3352)
  neqo-http3/benches/common.rs
Due: neqo-http3

chore: Remove `bencher.dev` workflows (#3362)
  .github/workflows/bench.yml
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
Due: none

fix: this `if` statement can be collapsed
  neqo-bin/src/server/http3.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tracking.rs
  test-fixture/src/sim/connection.rs
Due: neqo-http3, neqo-qpack, neqo-transport

fix: Allow Initial CRYPTO retransmission during Handshake PTO
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Address comment
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

clippy
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Fix
  neqo-transport/src/pmtud.rs
Due: neqo-transport

fix: Restart PMTUD when full-sized packets are lost
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-transport

Revamp
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Squash some mutants
  neqo-transport/src/pmtud.rs
Due: neqo-transport

fmt
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Also trigger PMTUD on PTO. Cleanups.
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-transport

Address review comments
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/assertions.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-http3, neqo-transport

chore: Cleaner triggers for fuzz corpus runs
  .github/workflows/fuzz-corpus.yml
  test/make-fuzz-corpus.sh
Due: none

chore: Simplify `server_resends_1rtt_on_undecryptable_handshake`
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

chore: Reduce CI caching
  .github/actions/nss/action.yml
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: Use `binstall` for Rust tool installs in ci
  .github/actions/rust/action.yml
Due: none

Swatinem/rust-cache again
  .github/actions/rust/action.yml
Due: none

chore: Simplify `server_resends_1rtt_on_undecryptable_handshake` (#3366)
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

disable-cache: true
  .github/actions/check-vm/action.yml
Due: none

Revert "disable-cache: true"
  .github/actions/check-vm/action.yml
Due: none

chore: Reduce CI caching (#3368)
  .github/actions/check-vm/action.yml
  .github/actions/nss/action.yml
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

chore: `binstall` & `rust-cache` again for CI (#3369)
  .github/actions/rust/action.yml
Due: none

chore: Cleaner triggers for fuzz corpus runs (#3365)
  .github/workflows/fuzz-corpus.yml
  test/make-fuzz-corpus.sh
Due: none

chore: Bump other stacks in `perfcompare.yml` (#3346)
  .github/workflows/perfcompare.yml
Due: none
