Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Fix new clippy lints in Rust 1.98
  neqo-qpack/src/huffman.rs
Due: neqo-qpack

Oh, that's right, it's worse than I expected
  neqo-http3/src/push_controller.rs
Due: neqo-http3

Way, way more work to get this right
  neqo-http3/src/connection_client.rs
  neqo-http3/src/push_id.rs
Due: neqo-http3

cleanup test name
  neqo-http3/src/push_controller.rs
Due: neqo-http3

Fixup comments
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Fix those comments; bot fail
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Deal with a nightly false-positive in clippy
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Fix new clippy lints in Rust 1.98 (#3708)
  neqo-qpack/src/huffman.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-qpack, neqo-transport

fix: activate blapi for bench builds (#3701)
  neqo-transport/Cargo.toml
Due: neqo-transport

feat: Use `FxHasher` more
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

The test relies on a debug_assert
  neqo-http3/src/push_controller.rs
Due: neqo-http3

feat: Use `FxHasher` more (#3709)
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

Tweak the exceed_max_push_id tests to be tighter
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Suggestions from @martinthomson
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Fix off-by-one in max_push_id computation (#3707)
  neqo-http3/src/connection_client.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/push_id.rs
Due: neqo-http3

Cleanup
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Bump other QUIC stacks to latest releases
  .github/actions/quic-build/action.yml
Due: none

clamp webtransport datagram size to avoid prefix underflow
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

chore: Bump other QUIC stacks to latest releases (#3710)
  .github/actions/quic-build/action.yml
Due: none

Use quarter stream id for datagram prefix length
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

stats/cc: add new slow_start_exit stats
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

stats/cc: test new slow_start_exit stats
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

Move WebTransport stuff out
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Adjust whitespace
  neqo-http3/src/connection_client.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

pub(crate) visibility for internal traits
  neqo-http3/src/webtransport.rs
Due: neqo-http3

clamp webtransport datagram size to avoid prefix underflow (#3711)
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Fixes
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: Allow >1 MSS of `cwnd` growth
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/new_reno.rs
Due: neqo-transport

Suggestion from @mxinden
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

bench: fix remove_expired benchmark
  neqo-transport/Cargo.toml
  neqo-transport/benches/sent_packets.rs
Due: neqo-transport

fix: reject CR and LF in HTTP/3 field names
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

fix: reject CR and LF in HTTP/3 field names (#3719)
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

fix: reject invalid NEW_CONNECTION_ID retire_prior and cid length
  neqo-transport/src/frame.rs
Due: neqo-transport

Rename all the WebTransport things
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

fix: reject invalid NEW_CONNECTION_ID retire_prior and cid length (#3720)
  neqo-transport/src/frame.rs
Due: neqo-transport

Format
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Move WebTransport implementation out of core code (#3717)
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Trait-based refactor for CONNECT_UDP
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Crate-scope the events trait
  neqo-http3/src/connect_udp.rs
Due: neqo-http3

Do the client parts too
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3
