Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Update neqo-common/src/codec.rs
  neqo-common/src/codec.rs
Due: neqo-common

fix(transport/frame): prevent potential overflow in padding decode (#2839)
  neqo-common/src/codec.rs
  neqo-transport/src/frame.rs
Due: neqo-common, neqo-transport

refactor(crypto): improve `ResumptionToken` `Debug` impl
  neqo-crypto/src/agent.rs
Due: neqo-crypto

docs(transport/datagrams): remove outdated fn return docs (#2842)
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

test: debug impl
  neqo-crypto/src/agent.rs
Due: neqo-crypto

refactor(crypto): improve `ResumptionToken` `Debug` impl (#2847)
  neqo-crypto/src/agent.rs
Due: neqo-crypto

docs(transport): extend preprocess_packet docs on State::Closing
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

docs(transport): extend preprocess_packet docs on State::Closing (#2848)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

WIP
  test/ansible/install.yml
  test/ansible/shrink.yml
Due: none

Fix
  test/ansible/install.yml
Due: none

More fixes
  .cirun.yml
  test/ansible/install.yml
Due: none

ci: Use 6.11 kernel on GCP (#2849)
  .cirun.yml
  test/ansible/install.yml
  test/ansible/shrink.yml
Due: none

ci: Use implicit `~` home directory
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Use `$HOME` per `shellcheck`
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Quotes
  .github/workflows/perfcompare.yml
Due: none

Make initial RTT configurable
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

ci: Use implicit `$HOME` home directory (#2850)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

feat: Optimize `neqo-qpack` (#2831)
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/huffman.rs
Due: neqo-qpack

fix(http3): reduce visibility of internal functions (#2802)
  neqo-http3/src/connection.rs
Due: neqo-http3

Explain test failure
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/saved.rs
Due: neqo-transport

refactor: unify most exchange_packets impls
  neqo-http3/benches/streams.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/priority.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  test-fixture/src/lib.rs
Due: neqo-http3

refactor: unify most exchange_packets impls (#2851)
  neqo-http3/benches/streams.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/priority.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  test-fixture/src/lib.rs
Due: neqo-http3

Make initial RTT configurable (#2825)
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

fix(bin): replace buggy `to_headers` with `FromStr` `impl` (#2833)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-common/src/header.rs
Due: neqo-common

feat: implement MASQUE connect-udp
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxy.rs
  neqo-bin/src/lib.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/request_target.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3

refactor(webtransport): rename WebTransportEvent::Session to NewSession
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Handle datagram on connect-udp and webtransport
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Ignore connect-udp datagram context ID `0`
  neqo-http3/src/connection.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

refactor(webtransport): rename WebTransportEvent::Session to NewSession (#2853)
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

ci: No `mold`
  .github/actions/rust/action.yml
  test/ansible/install.yml
Due: none

ci: No `mold` (#2857)
  .github/actions/rust/action.yml
  test/ansible/install.yml
Due: none

chore: Bump `sfv` to 0.14
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/priority.rs
Due: neqo-http3

2.9.0 also seems to work and is what Gecko is currently using
  Cargo.lock
Due: none

Rename to ConnectUdpEvent::NewSession
  neqo-bin/src/client/proxy.rs
  neqo-http3/src/client_events.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

docs(http3): remove partially outdated docs
  neqo-http3/src/connection.rs
Due: neqo-http3

docs(http3): remove partially outdated docs (#2859)
  neqo-http3/src/connection.rs
Due: neqo-http3

refactor(http3): remove module_name_repetition lint
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

various fixes: - fixed `bytes_for_cwnd_increase` return value - using `unwrap_or_else()` for `t_epoch` now - fixed decicision between cubic and reno region - cleaning up comments
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

making tests pass - tcp_phase - cc_cong_avoidance_recovery_period_to_cong_avoidance_cubic
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/connection/tests/cc.rs
Due: neqo-transport

removed unused clippy expect
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
