Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

fix(cc): reset sample count when entering CSS
  neqo-transport/src/cc/hystart.rs
Due: neqo-transport

fix(cc): HyStart++ rounds are now properly started when the old round ends
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

add a test
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

docs: fix capitalization in copilot instructions
  .github/copilot-instructions.md
Due: none

docs: capitalize Matplotlib and Python in test README
  test/README.md
Due: none

docs: fix double space and typo
  mtu/README.md
  test/README.md
Due: mtu

fix(cc): HyStart++ rounds are now properly started when the old round (#3506)
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

fix(cc): reset hystart sample count when entering CSS (#3505)
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

feat: Enable the Apple fast datapath (#3455)
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/build.rs
  neqo-bin/src/bin/client.rs
  neqo-bin/src/udp.rs
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

Suggestions from @mxinden
  neqo-transport/src/sender.rs
Due: neqo-transport

feat: emit `pacing_rate` and `ssthresh` in qlog (#3435)
  neqo-common/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/sender.rs
Due: neqo-common, neqo-transport

feat: Trigger migration based on UDP send errors
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/path.rs
  neqo-udp/src/lib.rs
Due: neqo-http3, neqo-transport, neqo-udp

chore: prepare v0.25.0
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.25.0 (#3510)
  Cargo.lock
  Cargo.toml
Due: none

Revert capitalization change per review feedback
  test/README.md
Due: none

chore: Be more idiomatic (#3463)
  neqo-crypto/build.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/cert.rs
  neqo-crypto/tests/agent.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-qpack/src/huffman_decode_helper.rs
  neqo-qpack/src/table.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/src/path.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/tracking.rs
Due: neqo-http3, neqo-qpack, neqo-transport

chore: Update deps to what Firefox has
  .deny.toml
  Cargo.lock
  Cargo.toml
Due: none

Add license header
  neqo-transport/src/scone.rs
Due: neqo-transport

Address left-over review comments
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/scone.rs
Due: neqo-transport

Update Cargo.toml
  Cargo.toml
Due: none

chore: Update deps to what Firefox has (#3517)
  .deny.toml
  Cargo.lock
  Cargo.toml
Due: none

Events for SCONE
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/events.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-http3, neqo-transport

Restore missing file
  neqo-transport/src/scone.rs
Due: neqo-transport

Deny use of Instant::now()
  .clippy.toml
  mtu/tests/netns.rs
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/hrtime.rs
  neqo-common/src/log.rs
  neqo-crypto/src/time.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recv_stream.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-common, neqo-transport, mtu

Deny use of Instant::now() (#3522)
  .clippy.toml
  mtu/tests/netns.rs
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/hrtime.rs
  neqo-common/src/log.rs
  neqo-crypto/src/time.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recv_stream.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-common, neqo-transport, mtu

fix: Lint properly
  .github/workflows/clippy.yml
Due: none

--locked
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/mutants.yml
  .github/workflows/profile.yml
Due: none

Fixes
  neqo-udp/src/lib.rs
Due: neqo-udp

hack w/o --locked
  .github/workflows/clippy.yml
Due: none

ci: add windows-11-arm runner
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/firefox.yml
Due: none

Workaround for missing rustup
  .github/actions/rust/action.yml
Due: none

nsinstall.py
  .github/actions/nss/action.yml
Due: none

choco debug
  .github/actions/nss/action.yml
Due: none

Path
  .github/actions/nss/action.yml
Due: none

pacman -> choco
  .github/actions/nss/action.yml
Due: none

ls
  .github/actions/nss/action.yml
Due: none

mozfile
  .github/actions/nss/action.yml
Due: none

--debug
  .github/actions/nss/action.yml
Due: none

Undo
  .github/actions/rust/action.yml
Due: none

Simplify
  .github/actions/rust/action.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
