Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

chore: No Dependabot for `taskcluster` (#3224)
  .github/dependabot.yml
Due: none

chore: Try harder to minimize the fuzzing corpora
  test/make-fuzz-corpus.sh
Due: none

fix: Stop loss monitoring for PMTUD triggering (#3200)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

chore: Remove randomization from benches (#3202)
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-transport

Update test/make-fuzz-corpus.sh
  test/make-fuzz-corpus.sh
Due: none

chore: Fuzz `WebTransportFrame` decoding (#3175)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/wtframe.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

chore: Try harder to minimize the fuzzing corpora (#3227)
  test/make-fuzz-corpus.sh
Due: none

chore: No draft for fuzz corpus addition PRs
  .github/workflows/fuzz-corpus.yml
Due: none

chore: No draft for fuzz corpus addition PRs (#3229)
  .github/workflows/fuzz-corpus.yml
Due: none

Rebase
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

refactor(transport): move profile creation into output_dgram_on_path
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Update other QUIC stacks for `perfcompare`
  .github/workflows/perfcompare.yml
Due: none

feat: emit event on QUIC datagram sent
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/events.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

feat(transport/cc): lower cwnd reduction on ECN-CE
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
Due: neqo-transport

refactor(transport): move profile creation into output_dgram_on_path (#3230)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: Fix a new Rust 1.94 clippy
  neqo-common/benches/decoder.rs
Due: neqo-common

chore: Use `strum` and `enum-map` for `StreamId`
  neqo-transport/src/fc.rs
  neqo-transport/src/stream_id.rs
Due: neqo-transport

chore: Use `thiserror` more
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

Keep `new` `const`
  neqo-transport/src/fc.rs
Due: neqo-transport

It's a pity Google can't afford to pay for CI
  .github/workflows/perfcompare.yml
Due: none

For real, Google
  .github/workflows/perfcompare.yml
Due: none

feat: `send_atomic_with` to avoid `Encoder` alloc
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3

chore: Use `thiserror` more (#3237)
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

fix: Iterate once in `add_datagram`
  neqo-transport/src/events.rs
Due: neqo-transport

fix: `remove` once in `send_stream_complete`
  neqo-transport/src/events.rs
Due: neqo-transport

Let's not overcomplicate things
  neqo-common/benches/decoder.rs
Due: neqo-common

Suggestions from @martinthomson
  neqo-transport/src/fc.rs
  neqo-transport/src/stream_id.rs
Due: neqo-transport

chore: Use `strum` and `enum-map` for `StreamId` (#3236)
  neqo-transport/src/fc.rs
  neqo-transport/src/stream_id.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-http3/src/buffered_send_stream.rs
Due: neqo-http3

chore: Run less CI on merge to `main`
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  .github/workflows/qns.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

chore: Use Codspeed runners for wallclock benches
  .github/actions/nss/action.yml
  .github/workflows/codspeed.yml
  neqo-http3/Cargo.toml
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_wallclock.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/transfer.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_wallclock.rs
Due: neqo-http3, neqo-transport

Use codspeed runners for CI benchmarking
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

chore: Run less CI on merge to `main` (#3241)
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  .github/workflows/qns.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

Fix matrix determination
  .github/workflows/codspeed.yml
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-transport

`codspeed-macro` -> `Neqo`
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
Due: none

chore: Suppress a new Rust 1.94 clippy (#3235)
  neqo-common/benches/decoder.rs
Due: neqo-common

fix: `remove` once in `send_stream_complete` (#3240)
  neqo-transport/src/events.rs
Due: neqo-transport

Suggestion from @martinthomson
  neqo-http3/src/buffered_send_stream.rs
Due: neqo-http3

ci: Don't depend on cached QNS results
  .github/actions/docker-build-qns/action.yml
  .github/actions/quic-interop-runner/action.yml
  .github/workflows/qns.yml
Due: none

feat: `send_atomic_with` to avoid `Encoder` alloc (#3238)
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3
