Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

fmt
  test-fixture/src/lib.rs
Due: none

fix: Don't call `Instant::now()` in `neqo-common/src/qlog.rs` (#3008)
  neqo-bin/src/client/mod.rs
  neqo-common/src/qlog.rs
  neqo-transport/src/server.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-transport

feat: Remove use of add_event_data_now (alternative)
  Cargo.lock
  neqo-common/src/qlog.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/qlog.rs
  neqo-http3/src/recv_message.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qlog.rs
Due: neqo-common, neqo-http3, neqo-qpack

perf(http3): eliminate allocations with zero-copy `DatagramPayload``
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Minimize diff
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Update neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Update neqo-http3/src/lib.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Fixes
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

fix: Increase stream limits to 100
  neqo-transport/src/connection/params.rs
Due: neqo-transport

fix: Bump `max_datagram_frame_size` TP to 64K
  neqo-transport/src/connection/params.rs
Due: neqo-transport

fix: Replace `qpack::Data` with trait
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-common, neqo-qpack

fix: Implement a trait for `Aead`
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-crypto/tests/aead.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-transport

fix: address CoPilot review comments for buffer management
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
Due: neqo-common, neqo-qpack

fix: address CoPilot review comment for potential underflow
  neqo-crypto/src/aead.rs
Due: neqo-crypto

Suggestion from @martinthomson
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-transport/src/crypto.rs
Due: neqo-crypto, neqo-transport

More from @martinthomson
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
Due: neqo-crypto, neqo-transport

feat(http3): optimize stream sending to avoid repeatedly trying blocked streams
  neqo-http3/src/connection.rs
Due: neqo-http3

perf(http3): optimize stream sending to avoid blocked streams and O(n²) performance
  neqo-http3/src/connection.rs
Due: neqo-http3

Fix fuzzer
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
Due: none

Add tests
  neqo-http3/src/connection.rs
Due: neqo-http3

Remove `Sized`
  neqo-crypto/src/aead.rs
Due: neqo-crypto

Add test
  neqo-crypto/tests/aead.rs
Due: neqo-crypto

fix: Implement a trait for `Aead` (#3014)
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-crypto/tests/aead.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-transport

chore(transport/pmtud): improve logging
  neqo-transport/src/pmtud.rs
Due: neqo-transport

test(http3/connect-udp): context id as varint
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
Due: neqo-http3

fix(http3/connect-udp): parse context id as varint
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

fix(http3/connect-udp): parse context id as varint (#3018)
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

chore(transport/pmtud): improve logging (#3016)
  neqo-transport/src/pmtud.rs
Due: neqo-transport

refactor(transport/cubic): use `saturating_duration_since` for t
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

addressing PR comments
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

fix typo
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

refactor(transport/cubic): use `saturating_duration_since` for t (#2997)
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

cubic: reno region updates
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/connection/tests/cc.rs
Due: neqo-transport

re-introduce old ack-tracking logic
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/connection/tests/cc.rs
Due: neqo-transport

Fix version number
  .github/workflows/actionlint.yml
Due: none

Add action
  .github/actions/nss/action.yml
Due: none

Fixes
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
Due: neqo-http3

feat: Remove use of `add_event_data_now` (#3006)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/qlog.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/control_stream_remote.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/qlog.rs
  neqo-http3/src/qpack_decoder_receiver.rs
  neqo-http3/src/qpack_encoder_receiver.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/stream_type_reader.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/qlog.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-common, neqo-http3, neqo-qpack

removing `_f64` suffixes
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
