Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

chore: Less borrow checking in `output_dgram`
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

More
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Fixes
  neqo-crypto/tests/hp.rs
Due: neqo-crypto

Remove redundant length check.
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Suggestions by @martinthomson
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Update neqo-crypto/src/cert.rs
  neqo-crypto/src/cert.rs
Due: neqo-crypto

Simplify
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Update neqo-transport/src/send_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Add comment
  neqo-crypto/src/cert.rs
Due: neqo-crypto

Update test-fixture/src/header_protection.rs
  test-fixture/src/header_protection.rs
Due: none

Update neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Update neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

drop explicitly
  neqo-transport/src/streams.rs
Due: neqo-transport

fmt
  test-fixture/src/header_protection.rs
Due: none

Fix
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

div_ceil
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Simplify
  neqo-crypto/src/cert.rs
Due: neqo-crypto

feat: Improve `RxStreamOrderer::read`
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fix
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

perf(crypto): eliminate bounds checks in header protection mask computation (#3049)
  neqo-crypto/src/hp.rs
  neqo-crypto/tests/hp.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-transport

Fix comment
  neqo-transport/src/connection/params.rs
Due: neqo-transport

`dgram_no_allowed` is redundant now
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

fix: Bump `max_datagram_frame_size` TP to 64K (#3012)
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Cleanups
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Update neqo-transport/src/streams.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Fix
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Fixes
  neqo-transport/src/streams.rs
Due: neqo-transport

feature(transport/cubic): dynamic changing of alpha value
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

feat: Use a `BinaryHeap` for the `RxStreamOrderer`
  neqo-transport/Cargo.toml
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/rx_stream_orderer_comparison.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/rx_stream_orderer_heap.rs
Due: neqo-transport

Update builder.remaining() conditional
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

fix: Improve `mark_as_acked`
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: Improve `RangeTracker`
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: Optimize `write_frames`
  neqo-transport/src/send_stream.rs
Due: neqo-transport

fix: Improve `sent::Packets`
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

chore: prepare v0.17.0 (#3048)
  Cargo.lock
  Cargo.toml
Due: none

Suggestions from @mxinden
  README.md
Due: none
