Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Again
  neqo-udp/src/lib.rs
Due: neqo-udp

fix: Bubble up errors from `Crypto::confirm_version` (#2511)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

clippy
  neqo-udp/src/lib.rs
Due: neqo-udp

fix: Simplify `Paths::path_response()`
  neqo-transport/src/path.rs
Due: neqo-transport

Document 1.5 RTT being past time threshold based loss detection
  neqo-transport/src/connection/tests/zerortt.rs
Due: neqo-transport

chore: added `*.sqlog` to gitignore
  .gitignore
Due: none

Remove dbg!
  neqo-transport/src/connection/tests/zerortt.rs
Due: neqo-transport

fmt
  neqo-transport/src/connection/tests/zerortt.rs
Due: neqo-transport

chore(clippy): add dbg! to clippy.toml disallowed-macros
  .clippy.toml
Due: none

fix(transport/recovery): don't use loss_delay before first ACK (#2492)
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

chore: Get rid of some code by using `derive` more
  Cargo.lock
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/lib.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/secrets.rs
  neqo-crypto/src/ssl.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/tracking.rs
  neqo-transport/src/version.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

chore: removed `*.qlog` from gitignore
  .gitignore
Due: none

Fix
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
Due: none

chore(clippy): add dbg! to clippy.toml disallowed-macros (#2557)
  .clippy.toml
Due: none

chore: re-added `*.qlog` to gitignore
  .gitignore
Due: none

chore: adding `*.sqlog` and removing `*.qlog` from gitignore (#2558)
  .gitignore
Due: none

fix: Simplify `Paths::path_response()` (#2555)
  neqo-transport/src/path.rs
Due: neqo-transport

Suggestions from @mxinden
  neqo-crypto/src/lib.rs
  neqo-crypto/src/ssl.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-transport

feat: More ECN and DSCP stats (#2505)
  neqo-common/src/tos.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/common/mod.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
Due: neqo-common, neqo-transport

Fix merge
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Fix merge
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Fix bench and fuzz
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
Due: none

ci: Actually briefly run fuzzer and benches
  .github/workflows/fuzz-bench.yml
Due: none

More
  neqo-http3/src/server_events.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

--sanitizer none
  .github/workflows/fuzz-bench.yml
Due: none

chore: Get rid of some boilerplate code (#2556)
  Cargo.lock
  neqo-common/src/lib.rs
  neqo-crypto/src/secrets.rs
  neqo-crypto/src/ssl.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/server_events.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/state.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/stream_id.rs
  neqo-transport/src/tracking.rs
  neqo-transport/src/version.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

fix(transport/ecn): start after handshake and path validation
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
Due: neqo-transport

chore: update tokio to v1.42.0
  Cargo.lock
Due: none

chore(audit): ignore RUSTSEC-2025-0023
  .deny.toml
Due: none

Add FIXME to update once mozilla-central updates libc dep
  .deny.toml
Due: none

newline
  .deny.toml
Due: none

Fix comment
  .deny.toml
Due: none

chore(audit): ignore RUSTSEC-2025-0023 (#2565)
  .deny.toml
Due: none

chore: re-enabling `module_name_repetitions` lint
  Cargo.toml
  neqo-bin/src/server/mod.rs
  neqo-common/src/qlog.rs
  neqo-common/src/tos.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/hp.rs
  neqo-http3/src/frames/reader.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/huffman.rs
  neqo-qpack/src/huffman_table.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/version.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/sim/connection.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

chore: re-enabling `module_name_repetitions` - added some missing allow's
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-transport

ci: Actually briefly run fuzzer and benches (#2559)
  .github/workflows/fuzz-bench.yml
Due: none

chore: re-enabling `module_name_repetitions` lint (#2567)
  Cargo.toml
  neqo-bin/src/server/mod.rs
  neqo-common/src/qlog.rs
  neqo-common/src/tos.rs
  neqo-crypto/src/agent.rs
  neqo-crypto/src/hp.rs
  neqo-http3/src/frames/reader.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/huffman.rs
  neqo-qpack/src/huffman_table.rs
  neqo-qpack/src/reader.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/version.rs
  test-fixture/src/header_protection.rs
  test-fixture/src/sim/connection.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

chore: prepare v0.13.0 (#2549)
  Cargo.lock
  Cargo.toml
Due: none

fix: Fix QNS test errors with `nginx`
  neqo-transport/src/ecn.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
