Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Shorten
  .github/scripts/format-bench-results.py
Due: none

chore: Fuzz `WebTransportFrame` decoding
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/wtframe.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Fixes
  fuzz/fuzz_targets/qpack.rs
  neqo-qpack/src/fuzz.rs
Due: neqo-qpack

feat(transport/quic_datagrams): expose send queue capacity
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

feat: Fuzz QPACK decoding (#3160)
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/qpack.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/fuzz.rs
  neqo-qpack/src/lib.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-qpack, neqo-transport

fix: Off-by-one error in QPACK table size calc (#3174)
  neqo-qpack/src/table.rs
Due: neqo-qpack

chore: prepare v0.20.0
  Cargo.lock
  Cargo.toml
Due: none

fix: Handle empty directory in make-fuzz-corpus.sh
  test/make-fuzz-corpus.sh
Due: none

chore: prepare v0.20.0 (#3177)
  Cargo.lock
  Cargo.toml
Due: none

Fixes
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
Due: neqo-common, neqo-qpack

Fixes
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/header_block.rs
Due: neqo-common, neqo-qpack

fix: Handle empty directory in make-fuzz-corpus.sh (#3178)
  test/make-fuzz-corpus.sh
Due: none

chore: Reformat `bench` output (#3168)
  .flake8
  .github/scripts/format-bench-results.py
  .github/workflows/bench.yml
Due: none

WIP: Disable new test, to see if that "fixes" sanitizer
  neqo-crypto/src/aead.rs
Due: neqo-crypto

Move test
  neqo-crypto/src/aead.rs
  neqo-crypto/tests/aead.rs
Due: neqo-crypto

feat: Simplify some in-place crypto API things (#3139)
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/tests/aead.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-transport

chore: Reformat `perfcompare` results (#3167)
  .github/workflows/perfcompare.yml
Due: none

chore: Use `python` for `perfcompare`
  .github/scripts/compare-quic-implementations.py
  .github/workflows/perfcompare.yml
Due: none

Make `Decrypted` hold a reference
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Fix
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Fixes
  .github/scripts/compare-quic-implementations.py
  .github/workflows/perfcompare.yml
Due: none

fix: qpack idiomization
  neqo-qpack/src/table.rs
Due: neqo-qpack

Fix
  .github/workflows/perfcompare.yml
Due: none

chore: More fixes to corpus upload workflow
  .github/workflows/fuzz-corpus.yml
Due: none

chore: More fixes to corpus upload workflow (#3182)
  .github/workflows/fuzz-corpus.yml
Due: none

chore: More fixes to corpus PR workflow
  .github/workflows/fuzz-corpus.yml
Due: none

chore: More fixes to corpus PR workflow (#3183)
  .github/workflows/fuzz-corpus.yml
Due: none

Fixes
  .github/scripts/compare-quic-implementations.py
Due: none

Fix
  .github/scripts/compare-quic-implementations.py
Due: none

feat(http3): support the HTTP DATAGRAM Capsule
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/mod.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Update neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

More idiomatic
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Avoid data clone on error
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

chore: Use Codspeed runners for wallclock benches
  .github/actions/nss/action.yml
  .github/workflows/codspeed.yml
  neqo-http3/Cargo.toml
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_wallclock.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/transfer.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_wallclock.rs
Due: neqo-http3, neqo-transport

Use codspeed runners for CI benchmarking
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

test(transport): loosen min_bandwidth test tolerance
  neqo-transport/src/fc.rs
Due: neqo-transport

fix: qpack idiomization (#3181)
  neqo-qpack/src/table.rs
Due: neqo-qpack

test(transport): loosen min_bandwidth test tolerance (#3195)
  neqo-transport/src/fc.rs
Due: neqo-transport

Update .github/workflows/qns.yml
  .github/workflows/qns.yml
Due: none
