Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Use Bytes
  Cargo.lock
  Cargo.toml
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/lib.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Update neqo-http3/src/lib.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Update neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

fmt
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

clippy
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

import
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

feat: Use `jemalloc` as allocator
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/client.rs
  neqo-bin/src/bin/server.rs
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-http3, neqo-transport

Update neqo-bin/benches/main.rs
  neqo-bin/benches/main.rs
Due: none

fix: Don't condition `neqo_common::log::init` on `cfg(test)`
  neqo-common/src/log.rs
Due: neqo-common

Disable logging to check perf impact
  neqo-common/src/log.rs
Due: neqo-common

Fixes
  neqo-http3/src/qlog.rs
  neqo-http3/tests/webtransport.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-qpack, neqo-transport

Undo
  neqo-common/src/log.rs
Due: neqo-common

Fixes
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

qlog_dir help text
  neqo-bin/src/lib.rs
Due: none

chore: Measure impact of logging
  Cargo.toml
Due: none

Turn logging of for bench
  .github/workflows/perfcompare.yml
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-crypto/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

docs(readme): add NSS compile instructions
  README.md
Due: none

cubic: reno region updates (#2973)
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/connection/tests/cc.rs
Due: neqo-transport

release_max_level_off -> release_max_level_info
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-crypto/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

fix(transport/ecn): downgrade validation result from warn to info
  neqo-transport/src/ecn.rs
Due: neqo-transport

No more Bytes dep
  Cargo.lock
  Cargo.toml
  neqo-common/src/bytes.rs
  neqo-common/src/lib.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-common, neqo-http3

chore: Address new clippy `unchecked_time_subtraction` lint
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  test-fixture/src/sim/delay.rs
Due: neqo-transport

fmt
  neqo-transport/src/rtt.rs
Due: neqo-transport

fix(transport/ecn): downgrade validation result from warn to info (#3033)
  neqo-transport/src/ecn.rs
Due: neqo-transport

chore: Address new clippy `unchecked_time_subtraction` lint (#3034)
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  test-fixture/src/sim/delay.rs
Due: neqo-transport

fix: Limit logging to `info` for `bench` feature (#3025)
  .github/workflows/perfcompare.yml
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-crypto/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Update neqo-common/src/bytes.rs
  neqo-common/src/bytes.rs
Due: neqo-common

feat(udp): expose quinn-udp may_fragment
  neqo-bin/src/client/mod.rs
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Comments from @mxinden
  neqo-common/src/bytes.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-common, neqo-http3

feat(udp): expose quinn-udp may_fragment (#3035)
  neqo-bin/src/client/mod.rs
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Make the `qlog` feature the default
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  test-fixture/Cargo.toml
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Fixes
  .github/workflows/claude-code-review.yml
Due: none

Claude PR Assistant workflow (#2998)
  .github/workflows/actionlint.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr-comment.yml
  .github/workflows/qns.yml
Due: none

Final fixes
  neqo-common/src/bytes.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-common, neqo-http3

Update neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/params.rs
Due: neqo-transport

Update neqo-qpack/src/qpack_send_buf.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-qpack

Update neqo-common/src/codec.rs
  neqo-common/src/codec.rs
Due: neqo-common
