Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

refactor(transport): replace magic +1 with named constant (#3047)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

feat: Add GitHub Copilot PR review instructions (#3044)
  .github/copilot-instructions.md
  .github/workflows/claude-code-review.yml
Due: none

refactor(transport): replace magic number with MAX_PACKET_NUMBER_LEN
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

refactor(transport): replace magic number with MAX_PACKET_NUMBER_LEN (#3060)
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

feat(bin): support combined up- and download benchmark
  neqo-bin/src/server/http3.rs
Due: none

feat(bin): support combined up- and download benchmark (#3066)
  neqo-bin/src/server/http3.rs
Due: none

Use my patched fork, and update more deps
  Cargo.lock
  mtu/Cargo.toml
  neqo-crypto/Cargo.toml
  test/update-lockfile.sh
Due: neqo-crypto

Update comment
  test/update-lockfile.sh
Due: none

test(transport/packet): assert Builder account for dummy length
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix(transport/packet): ensure sufficient space for packet length
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Update neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

fix(build): fix build failure and instructions
  README.md
  neqo-crypto/build.rs
Due: neqo-crypto

feat(common): enforce non-zero length for Datagram
  neqo-common/src/datagram.rs
Due: neqo-common

Increase test coverage
  neqo-common/src/datagram.rs
Due: neqo-common

feat(common): enforce non-zero length for Datagram (#3070)
  neqo-common/src/datagram.rs
Due: neqo-common

feat(common): use NonZeroUsize for DatagramBatch::datagram_size
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-transport, neqo-udp

chore: Fix claude
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Fix
  .github/workflows/claude.yml
Due: none

bun
  .github/workflows/claude.yml
Due: none

ci: Use `codspeed` for benchmarking
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

Minimize
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
Due: neqo-common, neqo-http3, neqo-transport

.github/workflows/codspeed.yml
  .github/workflows/codspeed.yml
Due: none

chore: Fix new `zizmor` lints
  .github/dependabot.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/firefox.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/machete.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/pr-comment.yml
  .github/workflows/qns.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

feat(common): use NonZeroUsize for DatagramBatch::datagram_size (#3068)
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-transport, neqo-udp

Increase test coverage
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

chore: `clippy::use_self` lint got more aggressive
  neqo-crypto/src/p11.rs
  neqo-crypto/src/prio.rs
  neqo-crypto/src/ssl.rs
  neqo-qpack/src/huffman_decode_helper.rs
Due: neqo-crypto, neqo-qpack

fix(transport/packet): ensure sufficient space for packet length (#3069)
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

chore(Cargo.toml): prepare for version 0.18.0
  Cargo.lock
  Cargo.toml
Due: none

chore: Fix new `zizmor` lints (#3072)
  .github/dependabot.yml
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/firefox.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/machete.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/pr-comment.yml
  .github/workflows/qns.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

chore(Cargo.toml): prepare for version 0.18.0 (#3074)
  Cargo.lock
  Cargo.toml
Due: none

Fix
  neqo-crypto/src/p11.rs
Due: neqo-crypto

test(common/codec): assert as_decoder exposes only encoded bytes
  neqo-common/src/codec.rs
Due: neqo-common

fix(common/codec): have as_decoder expose encoded bytes only
  neqo-common/src/codec.rs
Due: neqo-common

refactor(transport): merge build_packet_header and add_packet_number
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: `clippy::use_self` lint got more aggressive (#3073)
  neqo-crypto/src/p11.rs
  neqo-crypto/src/prio.rs
  neqo-crypto/src/ssl.rs
  neqo-qpack/src/huffman_decode_helper.rs
Due: neqo-crypto, neqo-qpack

fix(common/codec): have as_decoder expose encoded bytes only (#3075)
  neqo-common/src/codec.rs
Due: neqo-common

Also actions
  .github/actions/pr-comment-data-export/action.yml
  .github/actions/quic-interop-runner/action.yml
Due: none

Also action
  .github/actions/pr-comment/action.yml
Due: none

feat: Try `RustCrypto`
  Cargo.lock
  neqo-crypto/Cargo.toml
  neqo-crypto/src/aead_rustcrypto.rs
  neqo-crypto/src/lib.rs
Due: neqo-crypto

feat: Try `aws-lc-rs`
  Cargo.lock
  neqo-crypto/Cargo.toml
  neqo-crypto/src/aead_awslc.rs
  neqo-crypto/src/lib.rs
Due: neqo-crypto
