Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Test server closing connect-udp session
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Suggestions from @mxinden
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat(transport,http3): enable SETTINGS_H3_DATAGRAM and max_datagram_frame_size (#2972)
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

feat(bin/server): add `HttpServer::poll` (#2974)
  neqo-bin/src/server/mod.rs
Due: none

feat(common): implement iter and iter_mut for DatagramBatch (#2975)
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-common, neqo-transport

Test datagram sent on non active session
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Test create_request_headers handling of invalid CONNECT type
  neqo-http3/src/connection.rs
Due: neqo-http3

Cleanup
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat(http3): support classic HTTP CONNECT (#2886)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/httpconn.rs
  test-fixture/src/lib.rs
Due: neqo-http3

fix(http3/webtransport): buffer new stream before session acceptance (#2806)
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Update neqo-transport/src/recv_stream.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Refactor more
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Test datagram arriving before session acceptance
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Test create_session without CONNECT setting
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Test server reset results in client session close
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

More tweaks
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

test(http3/settings): increase coverage
  neqo-http3/src/settings.rs
Due: neqo-http3

Test connect-udp operations on fetch stream
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

test(webtransport): handle session acceptance and WT datagram in same UDP datagram
  neqo-http3/src/server.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

refactor(bin): move reinit to UrlHandler and maintain URL order (#2931)
  neqo-bin/src/client/http3.rs
Due: none

cubic: streamline test value setters/getters (#2968)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

test(http3/settings): increase coverage (#2978)
  neqo-http3/src/settings.rs
Due: neqo-http3

cubic: cubic region updates
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

refactor(http3): simplify RequestTarget (#2966)
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/request_target.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/httpconn.rs
  neqo-http3/tests/priority.rs
  neqo-http3/tests/send_message.rs
  neqo-http3/tests/webtransport.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-http3

fixed clippy
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

test(http3): expect server to efficiently pack single UDP datagram
  neqo-http3/tests/send_message.rs
Due: neqo-http3

feat(transport/server): add process_multiple_input
  neqo-http3/src/server.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/send_message.rs
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-transport

cubic: dynamic changing of alpha value
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

ci: Upload multiple bencher files in one go
  .github/workflows/bencher-upload.yml
Due: none

feat: Don't re-allocate inbound datagram to remove varint
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

fix: Make `PublicPacket::decrypt` take non-`mut` `self`
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

Don't need packet length
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

feat(transport/server): add process_multiple_input (#2984)
  neqo-http3/src/server.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/send_message.rs
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-transport
