Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Add script
  .github/scripts/perfcompare.py
Due: none

Fixes
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

feat: Fuzz address validation tokens
  fuzz/Cargo.toml
  fuzz/fuzz_targets/addr_valid.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/server.rs
Due: neqo-transport

Update neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Don't collect when decoding a header block
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Suggestions from @martinthomson
  fuzz/fuzz_targets/addr_valid.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/server.rs
Due: neqo-transport

Fix
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

Fixes
  fuzz/fuzz_targets/addr_valid.rs
  neqo-transport/src/addr_valid.rs
Due: neqo-transport

Don't collect when decoding a header block (#3197)
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

chore: Use `python` for `perfcompare` (#3180)
  .github/scripts/perfcompare.py
  .github/workflows/perfcompare.yml
Due: none

fix: Make `PublicPacket::decrypt` take non-`mut` `self` (#2989)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

feat: Fuzz address validation tokens (#3196)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/addr_valid.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/server.rs
Due: neqo-transport

feat: Use tokens to identify PMTUD probes
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

feat: Use tokens to identify PMTUD probes (#3199)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

fix: Stop loss monitoring for PMTUD triggering
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Simplify test
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Fixes
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
Due: neqo-transport

chore: Remove randomization from benches
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-transport

chore: Fuzz `Priority` decoding
  fuzz/Cargo.toml
  fuzz/fuzz_targets/priority.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/priority.rs
Due: neqo-http3

chore: Fuzz `HSettings` decoding
  fuzz/Cargo.toml
  fuzz/fuzz_targets/hsettings.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/lib.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

chore: Fuzz `Priority` decoding (#3203)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/priority.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/priority.rs
Due: neqo-http3

Consolidate fuzzing corpus writing
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

@martinthomson's suggestion
  neqo-common/src/qlog.rs
Due: neqo-common

feat(bin/client): add --proxy to proxy HTTP/3
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxied_http3.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

feat(transport): make max_udp_payload_size tparam configurable
  neqo-transport/src/connection/params.rs
Due: neqo-transport

chore(transport/fc): add debug_assert to catch underflow
  neqo-transport/src/fc.rs
Due: neqo-transport

Update qlog.rs
  neqo-common/src/qlog.rs
Due: neqo-common

chore(transport/fc): add debug_assert to catch underflow (#3209)
  neqo-transport/src/fc.rs
Due: neqo-transport

Also actions
  .github/actions/docker-build-qns/action.yml
  .github/actions/nss/action.yml
  .github/actions/quic-interop-runner/action.yml
Due: none

ci: Run Dependabot on actions
  .github/dependabot.yml
Due: none

Suggestion from @mxinden
  neqo-common/src/qlog.rs
Due: neqo-common

chore: Bump action dependencies
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/actions/docker-build-qns/action.yml
  .github/actions/nss/action.yml
  .github/actions/pr-comment/action.yml
  .github/actions/quic-interop-runner/action.yml
  .github/actions/rust/action.yml
Due: none

ci: Run Dependabot on actions (#3215)
  .github/dependabot.yml
Due: none

chore: Fix dependabot configuration
  .github/dependabot.yml
Due: none

chore: Fix dependabot configuration (#3217)
  .github/dependabot.yml
Due: none

chore: No Dependabot for `taskcluster`
  .github/dependabot.yml
Due: none

Params have been renamed
  .github/actions/pr-comment/action.yml
Due: none

Update neqo-common/src/qlog.rs
  neqo-common/src/qlog.rs
Due: neqo-common

Suggestion from @martinthomson
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
