Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Pin<&mut Self> for HttpServer::poll
  neqo-bin/src/server/mod.rs
Due: none

Remove connect-udp stream type
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Display on Session
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Close logs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

De-duplicate client mod.rs
  neqo-bin/src/client/mod.rs
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

Improve proxy docs
  neqo-bin/src/client/proxied_http3.rs
Due: none

docs(http3/connection): fix outdated identifiers and add doc links
  neqo-http3/src/connection.rs
Due: neqo-http3

docs(http3/connection): fix outdated identifiers and add doc links (#2935)
  neqo-http3/src/connection.rs
Due: neqo-http3

ci: Unpin `bencherdev/bencher`
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
Due: none

ci: Unpin `bencherdev/bencher` (#2936)
  .github/workflows/bencher-archive.yml
  .github/workflows/bencher-upload.yml
Due: none

Improve proxied_http3 code
  neqo-bin/src/client/proxied_http3.rs
Due: none

test for dynamic changing of cubic's `alpha` value
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

streamlined how we access Cubic struct fields from tests
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Create http3 client in Proxy::new
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxied_http3.rs
Due: none

ci: More bencher debugging
  .github/workflows/bencher-upload.yml
Due: none

ci: More bencher debugging (#2937)
  .github/workflows/bencher-upload.yml
Due: none

Improve Extended CONNECT docs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

Docs on AcceptAction
  neqo-http3/src/connection.rs
Due: neqo-http3

Improve HTTP/3 Connection docs
  neqo-bin/src/server/mod.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

chore: Use workspace deps for `mtu`
  .deny.toml
  Cargo.toml
  mtu/Cargo.toml
  neqo-udp/Cargo.toml
Due: neqo-udp

chore: Use workspace deps for `mtu` (#2938)
  .deny.toml
  Cargo.toml
  mtu/Cargo.toml
  neqo-udp/Cargo.toml
Due: neqo-udp

ci: Remove last traces of `mold`
  .github/actions/rust/action.yml
Due: none

ci: `recreate` PR comments
  .github/actions/pr-comment/action.yml
Due: none

ci: `recreate` PR comments (#2940)
  .github/actions/pr-comment/action.yml
Due: none

Use lld
  .github/actions/rust/action.yml
Due: none

ci: Debug bencher upload
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

Again
  .github/actions/rust/action.yml
Due: none

Install lld
  .github/actions/rust/action.yml
Due: none

fmt
  .github/actions/rust/action.yml
Due: none

Different SHA
  .github/workflows/bench.yml
Due: none

ci: Remove last traces of `mold` (#2939)
  .github/actions/rust/action.yml
Due: none

ci: Debug bencher upload (#2941)
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
Due: none

feat: Put tokens into `Rc` (#2780)
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

feat(http3): implement classic HTTP CONNECT
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/httpconn.rs
  test-fixture/src/lib.rs
Due: neqo-http3

Revert "ci: Remove last traces of `mold` (#2939)"
  .github/actions/rust/action.yml
Due: none

fix(.github/rust): remove custom linker args
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

fix CI failures (clippy + check)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

fix(.github/rust): remove custom linker args (#2943)
  .github/actions/rust/action.yml
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

ci: More bencher fixes Fingers crossed.
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none
