Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Expose Connection::expire_session_datagrams for per-session expiry counts
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: rewire the new datagram queue onto Connection's engine
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Remove the legacy per-connection outgoing-datagram queue
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: count a session's expired outgoing datagrams
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Process a connection whose only pending work is an expired datagram
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/server.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-http3, neqo-transport

ci: profile every benchmark from the cargo bench matrix
  .github/actions/bench-matrix/action.yml
  .github/actions/build-neqo/action.yml
  .github/actions/process-perf/action.yml
  .github/actions/record-perf/action.yml
  .github/actions/upload-profile/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  .github/workflows/pr-comment.yml
  .github/workflows/profile.yml
  .github/workflows/quic-build-cache.yml
Due: none

ci: fix bench binary name; only skip baseline bench if absent
  .github/actions/build-neqo/action.yml
Due: none

ci: batch CodSpeed runs per mode; delete bench PR comment without results
  .github/actions/bench-matrix/action.yml
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/pr-comment.yml
Due: none

fix: quiet per-packet bench warnings; keep bench profile links without walltime results
  .github/workflows/bench.yml
  neqo-transport/src/streams.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-transport

ci: profile every benchmark from the cargo bench matrix (#4021)
  .github/actions/bench-matrix/action.yml
  .github/actions/build-neqo/action.yml
  .github/actions/process-perf/action.yml
  .github/actions/record-perf/action.yml
  .github/actions/upload-profile/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  .github/workflows/pr-comment.yml
  .github/workflows/profile.yml
  .github/workflows/quic-build-cache.yml
  neqo-transport/src/streams.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-transport

ci(codspeed): run when a PR's base branch changes
  .github/workflows/codspeed.yml
Due: none

ci: run all PR workflows when a PR's base branch changes
  .github/workflows/actionlint.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/firefox.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/machete.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/perfcompare.yml
  .github/workflows/qns-pr.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

ci(codspeed): also check the merge commit's base parent
  .github/workflows/codspeed.yml
Due: none

qvis
  test/qvis.py
Due: none

chore: Update qlog to 0.18.0
  Cargo.lock
  Cargo.toml
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Do not log raw bytes
  neqo-transport/src/qlog.rs
Due: neqo-transport

Fixes
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

neqo-qpack: remove dead qlog stub
  Cargo.lock
  neqo-qpack/Cargo.toml
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qlog.rs
Due: neqo-qpack

chore: move qvis visualizer to larseggert/qvis
  test/qvis.html
  test/qvis.js
  test/qvis.py
Due: none

chore: move qvis visualizer to larseggert/qvis (#4023)
  test/qvis.html
  test/qvis.js
  test/qvis.py
Due: none

test: move Cargo.lock/Gecko alignment scripts to pin-gecko-deps
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/pyproject.toml
  test/update_lockfile.py
  test/uv.lock
Due: none

test: move Cargo.lock/Gecko alignment scripts to pin-gecko-deps (#4024)
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/pyproject.toml
  test/update_lockfile.py
  test/uv.lock
Due: none

chore: prepare v0.32.0 (#4006)
  Cargo.lock
  Cargo.toml
Due: none

Add transport outgoing-datagram queue engine
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Add outgoing-datagram queues to QuicDatagrams/Connection
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: rewire the new datagram queue onto Connection's engine
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

WebTransport: add anticipatedConcurrentIncomingUni/BidirectionalStreams support
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Reject datagrams when the peer supports no datagram path
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: drop a closed session's queued datagrams on teardown
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: count a session's expired outgoing datagrams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-http3, neqo-transport

WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: report the fate of outgoing datagrams via aggregate stats
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

Remove the legacy per-connection outgoing-datagram queue
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Add Connection::set_remote_max_streams to raise the incoming stream limit
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

Transport: track datagrams actually sent per session
  neqo-http3/src/features/extended_connect/session.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

Expose datagram outgoingMaxBufferedDatagrams/outgoingMaxAge setters as production API
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Reject datagrams larger than the peer's max_datagram_frame_size in enqueue_datagram
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

fix: encode ACK ranges incrementally and rewind one on overrun
  neqo-transport/src/tracking.rs
Due: neqo-transport
