Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

fix: Unbreak the periodic corpus generation (#3937)
  neqo-bin/Cargo.toml
Due: none

fix: Unbreak the mutants cron job
  .github/workflows/mutants.yml
Due: none

fix: Unbreak the mutants cron job (#3938)
  .github/workflows/mutants.yml
Due: none

chore: use Vec instead of SmallVec in NewTokenState (#3911)
  neqo-transport/src/addr_valid.rs
Due: neqo-transport

WebTransport: mark the server as needing processing on set_datagram_max_age
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: drop queued datagrams on a peer-initiated session close
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: rename WebTransportDatagramQueue to DatagramQueue
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: cache next_datagram_expiry on the server too
  neqo-http3/src/server.rs
Due: neqo-http3

WebTransport: skip the extended-connect datagram-queue scan when no session could exist
  neqo-http3/src/connection.rs
Due: neqo-http3

connect-udp: propagate the server's send_datagram outcome
  neqo-http3/src/connect_udp.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: add datagrams_dropped_outgoing counter
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

WebTransport: document that the capsule fallback bypasses the queue
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

WebTransport: refresh the server's datagram-expiry clamp after processing, not before
  neqo-http3/src/connection.rs
  neqo-http3/src/server.rs
Due: neqo-http3

WebTransport: report set_datagram_max_age outcomes via connect_type
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: add missing datagram outcome test coverage
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

WebTransport: stop double-reporting a hard-limit eviction
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Use strum whenever possible
  Cargo.lock
  neqo-http3/src/connection.rs
  test-fixture/Cargo.toml
  test-fixture/src/sim/http3_connection.rs
Due: neqo-http3

Derive `From` for `ConnectionId`, `Into` for `Builder`, `Display` for `MockServer`
  neqo-bin/src/server/mod.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-transport

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/test_internal.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/reset_stream_at.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/vn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

feat: add neqo-server `--stats`, emit connection stats as JSON
  Cargo.lock
  Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-common/src/json.rs
  neqo-common/src/lib.rs
  neqo-common/src/tos.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/src/version.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test/test.sh
Due: neqo-common, neqo-transport

Fixes
  neqo-common/src/json.rs
  test/test.sh
Due: neqo-common

Fixes
  Cargo.lock
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-common/src/json.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/ecn.rs
Due: neqo-common, neqo-transport

Fixes
  neqo-bin/src/client/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Fixes
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
Due: none

Suggestions from @martinthomson and further cleanups.
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/json.rs
  neqo-transport/src/stats.rs
Due: neqo-common, neqo-transport

Don't pretty-print the JSON anymore
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/Cargo.toml
  neqo-common/src/json.rs
  neqo-common/src/lib.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/ecn.rs
  neqo-transport/src/stats.rs
  test-fixture/Cargo.toml
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
Due: neqo-common, neqo-transport

Suggestions from @martinthomson
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
Due: none

Omit zero ECN counts
  Cargo.lock
  Cargo.toml
  neqo-bin/src/server/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/stats.rs
  test/test.sh
Due: neqo-transport

Improve test coverage
  neqo-transport/src/stats.rs
Due: neqo-transport

Fixes
  Cargo.toml
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/tos.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/common/mod.rs
  test-fixture/src/lib.rs
  test/test.sh
Due: neqo-common, neqo-transport

Improve this a bit more, to see where performance ends up
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-http3/tests/connect_udp.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

server: keep the extend-based active_conns loop, track the datagram-expiry min incrementally
  neqo-http3/src/server.rs
Due: neqo-http3

Gate should_be_processed's expiry check on active()
  neqo-http3/src/connection_server.rs
Due: neqo-http3

Use DEFAULT_HARD_LIMIT instead of a hardcoded 1000 in the backpressure test
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Doc and comment cleanup
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/server.rs
Due: neqo-http3

Track extended-CONNECT session ids in a set instead of walking recv_streams
  neqo-http3/src/connection.rs
Due: neqo-http3

Mark the datagram-outcome event enums #[non_exhaustive]
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Expire stale datagrams before enqueueing, not after
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Add test coverage for remaining_datagram_queue_capacity
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Share the datagram-expiry callback clamp between client and server
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
Due: neqo-http3
