Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Fix QNS docker image building (#3244)
  .github/workflows/qns.yml
Due: none

Add test to catch mutants and verify behavior
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Update neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Make Copilot happy
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Reduce repetition
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Minimize diff
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

chore: add tests for `neqo-common/src/lib.rs`
  neqo-common/src/lib.rs
Due: neqo-common

chore: Improve `mtu` crate coverage
  mtu/src/bsd.rs
  mtu/src/lib.rs
  mtu/src/linux.rs
  mtu/src/routesocket.rs
Due: none

chore: improve `Bytes` test coverage
  neqo-common/src/bytes.rs
Due: neqo-common

chore: improve `codec` test coverage
  neqo-common/src/codec.rs
Due: neqo-common

chore: improve `Datagram`&`DatagramBatch` coverage
  neqo-common/src/datagram.rs
Due: neqo-common

chore: improve `Header` and `HeadersExt` test coverage
  neqo-common/src/header.rs
Due: neqo-common

chore: improve `Tos` and `Ecn` test coverage
  neqo-common/src/tos.rs
Due: neqo-common

chore: improve `IncrementalDecoder` test coverage
  neqo-common/src/incrdecoder.rs
Due: neqo-common

chore: remove `Qlog::add_event_with_instant`
  neqo-common/src/qlog.rs
Due: neqo-common

chore: unit tests for `Period` and `PeriodSet`
  neqo-common/src/hrtime.rs
Due: neqo-common

chore: improve mutation coverage for `neqo-udp`
  neqo-udp/src/lib.rs
Due: neqo-udp

ci: Use `wild` on Linux
  .github/actions/rust/action.yml
Due: none

chore: improve `Tos` and `Ecn` test coverage (#3251)
  neqo-common/src/tos.rs
Due: neqo-common

chore: add tests for `neqo-common/src/lib.rs` (#3246)
  neqo-common/src/lib.rs
Due: neqo-common

chore: add `http3` tests to eliminate missed mutants
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

Suggestions from @martinthomson
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

chore: Address new clippy warnings
  Cargo.lock
  neqo-transport/src/packet/mod.rs
  neqo-transport/tests/server.rs
Due: neqo-transport

chore: unit tests for `Period` and `PeriodSet` (#3254)
  neqo-common/src/hrtime.rs
Due: neqo-common

chore: improve `codec` test coverage (#3248)
  neqo-common/src/codec.rs
Due: neqo-common

chore: remove `Qlog::add_event_with_instant` (#3253)
  neqo-common/src/qlog.rs
  neqo-http3/src/qlog.rs
  neqo-qpack/src/qlog.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Address code review comments
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

chore: add `http3` tests to eliminate missed mutants (#3257)
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_controller.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

chore: Align CI triggers across workflows
  .github/workflows/actionlint.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/mutants.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
Due: none

chore: Try and fix Claude workflow
  .github/workflows/claude.yml
Due: none

chore: Try and fix Claude workflow (#3261)
  .github/workflows/claude.yml
Due: none

Update .github/workflows/actionlint.yml
  .github/workflows/actionlint.yml
Due: none

Nice job Copilot
  .github/workflows/actionlint.yml
Due: none

chore: Fix Claude more
  .github/workflows/claude.yml
Due: none

chore: Fix Claude more (#3265)
  .github/workflows/claude.yml
Due: none

chore: Fix Claude more (#3266)
  .github/workflows/claude.yml
Due: none

chore: Align CI triggers across workflows (#3260)
  .github/workflows/actionlint.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/mutants.yml
  .github/workflows/readme.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sanitize.yml
Due: none

fix(common/qlog): disable qlog on error on inner (shared) option
  neqo-common/src/qlog.rs
Due: neqo-common

chore: Address new clippy warnings (#3259)
  Cargo.lock
  neqo-transport/src/packet/mod.rs
  neqo-transport/tests/server.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
