Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

feat(transport): optionally close a connection after N consecutive PTOs (#3662)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

doc comments
  neqo-qpack/src/header_block.rs
Due: neqo-qpack

Add tests for some fairly gnarly corner cases
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

Bump version of cfg_aliases to deal with nightly clippy errors
  Cargo.lock
  mtu/Cargo.toml
Due: mtu

fix comment
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Fix clippy mess
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Use the workspace version
  Cargo.toml
  mtu/Cargo.toml
Due: mtu

Remove clippy overrides
  mtu/build.rs
  neqo-bin/build.rs
  neqo-udp/build.rs
Due: neqo-udp, mtu

assert that connect is enabled
  neqo-http3/src/conn_params.rs
Due: neqo-http3

Take a comment suggestion
  neqo-transport/src/connection/tests/idle.rs
Due: neqo-transport

A version of the suggestion
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

drop redundant is_pseudo guard and fold te into the test loop
  neqo-http3/src/headers_checks.rs
Due: neqo-http3

address review: fold token check into the match, simplify test
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fix: reject qpack dynamic reference at or above required insert count (#3807)
  neqo-qpack/src/header_block.rs
Due: neqo-qpack

test: preserve receive stream update order
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

expand connection stats
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Implement support for stats for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Snapshot stats at session close
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Add basic connection stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

stats tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Address remaining stats review feedback
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-http3, neqo-transport

move cwnd tracking from CC stats to connection-level stats snapshot
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

address review comments on stats patches
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Address martinthomson review: keep cwnd/bytes_in_flight under CongestionControlStats
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Support sendGroup Id's and sendOrder for datagrams
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

subtract out some overheads from the max datagram size
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Support for the WT_DRAIN_SESSION frame to initiate draining a specific session
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Support handling queuing and highwatermarks/max-age for outgoing datagrams per the WebTransport spec
  .claude/scheduled_tasks.lock
  neqo-common/src/bytes.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-common, neqo-http3

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

datagram_queue
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Add support for waitUntilAvailable
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/webtransport.rs
  test/test-0rtt-cross-ip.sh
Due: neqo-http3

atomicWrite support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/atomic_write.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

change time handling so we can accurately test
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

Optimize drain() by avoiding hot-path vector allocation Add documentation
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

remove debug_assert that could cause debug builds to fail in a race condition
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Track bytesSentOverhead separately per WebTransport spec
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
Due: neqo-http3

draft 15 support
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/negotiation.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Bump version of cfg_aliases to deal with nightly clippy errors (#3833)
  Cargo.lock
  Cargo.toml
  mtu/Cargo.toml
  mtu/build.rs
  neqo-bin/build.rs
  neqo-udp/build.rs
Due: neqo-udp, mtu

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
