Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

Fix for "grey holes"
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Update comment
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Fix merge
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fmt
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

fix: Restart PMTUD when full-sized packets are lost (#3335)
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/assertions.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-http3, neqo-transport

Revert "fix: Restart PMTUD when full-sized packets are lost (#3335)"
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/assertions.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-http3, neqo-transport

Fix mutants and update stats.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Revert "fix: Restart PMTUD when full-sized packets are lost (#3335)" (#3417)
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/assertions.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-http3, neqo-transport

feat(transport): respect peer's max_udp_payload_size tp (#3414)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

chore: prepare v0.23.0
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.23.0 (#3418)
  Cargo.lock
  Cargo.toml
Due: none

fix(Cargo.lock): pin enumset to 1.1.2 to avoid darling conflict in Firefox
  Cargo.lock
  Cargo.toml
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix(Cargo.lock): pin enumset to 1.1.2 to avoid darling conflict in Firefox (#3419)
  Cargo.lock
  Cargo.toml
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

feat: GSO-aware pacing
  neqo-transport/src/connection/params.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

use hystart in non-initial slow start
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

add early returns to reduce indentation
  neqo-transport/src/cc/hystart.rs
Due: neqo-transport

make slow start runtime configurable
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

fix css exit and re-entry bounce on same ack
  neqo-transport/src/cc/hystart.rs
Due: neqo-transport

fixing clippy nightly
  neqo-transport/src/cc/hystart.rs
Due: neqo-transport

hystart++ tests
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/mod.rs
Due: neqo-transport

re-architecture of `SlowStart` trait
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/mod.rs
Due: neqo-transport

implement rfc9406 hystart++
  .clippy.toml
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

make slow start pluggable
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

more review suggestions:
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

absorb `on_slow_start_exit` into `on_packets_acked`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

address review comments:
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/cc.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

cargo fmt
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
Due: neqo-transport

replace `Duration::MAX` with `None` to indicate unset values
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
Due: neqo-transport

use `Cubic` in test helper
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/mod.rs
Due: neqo-transport

add `SlowStart::reset` to erase state after persistent congestion
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

chore: Use `muladd`
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

chore: Use `muladd` (#3421)
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

fix(build): NSS now builds when NSS_PREBUILT is unset or zero
  neqo-crypto/build.rs
Due: none

add `rerun-if-env-changed` directive for `NSS_PREBUILT`
  neqo-crypto/build.rs
Due: none

fix(build): NSS now builds when NSS_PREBUILT is unset or zero (#3429)
  neqo-crypto/build.rs
Due: none

downgrade nss requirement to 3.120.1
  neqo-crypto/min_version.txt
Due: none

Add support for GOAWAY draining events to support WebTransport
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
Due: neqo-http3

Add WebTransport ExportKeyingMaterial backend
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/tests/agent.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-http3, neqo-transport
