Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Remove criterion data
  .github/workflows/bench.yml
Due: none

Shorten runs
  neqo-bin/benches/main.rs
  neqo-common/benches/decoder.rs
  neqo-http3/benches/streams.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-http3, neqo-transport

1.82
  Cargo.toml
Due: none

1.81
  Cargo.toml
Due: none

Move env
  .github/workflows/bench.yml
Due: none

Don't put secrets into env
  .github/workflows/bench.yml
Due: none

chore: Get NSPR via release tarball (#2675)
  .github/actions/nss/action.yml
  qns/Dockerfile
Due: none

ci(check): use Rust 1.82 instead of 1.81 on Windows
  .github/workflows/check.yml
Due: none

ci(check): use Rust 1.82 instead of 1.81 on Windows (#2676)
  .github/workflows/check.yml
Due: none

Changed the type of Name to &CStr
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Changed the type of safe decoder function
  neqo-crypto/src/agent.rs
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

perf(common): make Encoder generic over borrowed or owned buffer
  Cargo.lock
  neqo-common/Cargo.toml
  neqo-common/src/codec.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/qpack_send_buf.rs
  neqo-transport/src/tparams.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

Fixes
  .github/workflows/bench.yml
Due: none

Token
  .github/workflows/bench.yml
Due: none

Doh
  .github/workflows/bench.yml
Due: none

ci: Drop `nextest`
  .config/nextest.toml
  .github/workflows/check.yml
  .github/workflows/mutants.yml
  .github/workflows/sanitize.yml
Due: none

No `--profile ci`
  .github/workflows/check.yml
  .github/workflows/sanitize.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

ci: Drop `nextest` (#2679)
  .config/nextest.toml
  .github/workflows/check.yml
  .github/workflows/mutants.yml
  .github/workflows/sanitize.yml
Due: none

perf(transport): don't rotate_left then truncate stream send buffer
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Doh
  .github/workflows/bench.yml
  .github/workflows/check.yml
Due: none

Finalize
  neqo-bin/benches/main.rs
  neqo-common/benches/decoder.rs
  neqo-http3/benches/streams.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-http3, neqo-transport

chore: Lower bench times again
  neqo-bin/benches/main.rs
  neqo-common/benches/decoder.rs
  neqo-http3/benches/streams.rs
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer.rs
Due: neqo-common, neqo-http3, neqo-transport

ci: Inexact bench cache hits are OK
  .github/workflows/bench.yml
Due: none

Permissions
  .github/workflows/check.yml
Due: none

More permissions
  .github/workflows/check.yml
Due: none

bench(bin): spawn new server for each iteration
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
Due: none

bench(bin): spawn new server for each iteration (#2681)
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
Due: none

Redo
  .github/workflows/bench.yml
  .github/workflows/bencher-upload.yml
  .github/workflows/check.yml
Due: none

ci: Inexact bench cache hits are OK (#2683)
  .github/workflows/bench.yml
Due: none

Fix
  neqo-transport/benches/transfer.rs
Due: neqo-transport

ci: Don't cache `main` bench results
  .github/workflows/bench.yml
Due: none

Tweak
  .github/workflows/bench.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
