Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Fix comment
  .github/actions/rust/action.yml
Due: none

chore(.github/check.yaml): remove obsolete run_benchmarks input
  .github/workflows/check.yml
Due: none

chore(.github/check.yaml): remove obsolete run_benchmarks input (#2826)
  .github/workflows/check.yml
Due: none

ci: Create cache on `merge_group` trigger (#2824)
  .github/actions/rust/action.yml
Due: none

refactor(http3): improve `FrameReader` `Debug` implementation
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

refactor(http3): improve `FrameReader` `Debug` implementation (#2815)
  neqo-http3/src/frames/reader.rs
Due: neqo-http3

feat: Optimize neqo-common
  neqo-common/src/codec.rs
  neqo-common/src/incrdecoder.rs
Due: neqo-common

feat: Optimize `neqo-transport`
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

feat: Optimize `neqo-http3`
  neqo-http3/src/buffered_send_stream.rs
  neqo-http3/src/control_stream_remote.rs
Due: neqo-http3

feat: Optimize `neqo-bin`
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/server/http3.rs
Due: none

feat: Optimize `neqo-qpack`
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/huffman.rs
Due: neqo-qpack

Address @martinthomson's comments
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/huffman.rs
Due: neqo-qpack

feat: Optimize `neqo-crypto`
  neqo-crypto/src/agent.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/src/cert.rs
Due: neqo-crypto

fix(bin): replace buggy to_headers with <Header as FromStr>::from_str
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-common/src/header.rs
Due: neqo-common

chore(clippy): remove expect for needless_match
  neqo-transport/src/server.rs
Due: neqo-transport

chore(clippy): remove expect for needless_match (#2835)
  neqo-transport/src/server.rs
Due: neqo-transport

chore: Fix `clippy::or_fun_call`
  neqo-bin/src/client/mod.rs
Due: none

chore(clippy): update to latest lints
  Cargo.toml
  neqo-bin/src/client/mod.rs
Due: none

fmt
  neqo-common/src/header.rs
Due: neqo-common

chore(clippy): update to latest lints (#2837)
  Cargo.toml
  neqo-bin/src/client/mod.rs
Due: none

SmallVec
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

Undo
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

Fixes
  Cargo.lock
  Cargo.toml
  neqo-crypto/Cargo.toml
  neqo-crypto/src/agent.rs
  neqo-transport/Cargo.toml
Due: neqo-crypto, neqo-transport

Fix
  neqo-crypto/src/agentio.rs
Due: neqo-crypto

Fix rebase
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat: implement MASQUE connect-udp
  echo.py
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/client/proxy.rs
  neqo-bin/src/lib.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/headers_checks.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/request_target.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3

Fixes
  neqo-transport/src/crypto.rs
Due: neqo-transport

ci: Disable systemd unified cgroups on GCP (#2803)
  test/ansible/install.yml
Due: none

test(transport/frame): decode padding frame > u16::MAX
  neqo-transport/src/frame.rs
Due: neqo-transport

fix(transport/frame): prevent potential overflow in padding decode
  neqo-common/src/codec.rs
  neqo-transport/src/frame.rs
Due: neqo-common, neqo-transport

Make initial RTT configurable
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/path.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

ci: Use an older kernel with `cpuset` support for benchers
  test/ansible/install.yml
Due: none

Add test
  neqo-transport/tests/connection.rs
Due: neqo-transport

Remove `first_initial_pn` stat
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Change randomization formula
  neqo-transport/src/crypto.rs
Due: neqo-transport

docs(transport/datagrams): remove outdated fn return docs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Add actions
  .github/actions/pr-comment/action.yml
Due: none

Also actions
  .github/actions/nss/action.yml
Due: none

Fixes
  .github/workflows/perfcompare.yml
  test/ansible/install.yml
Due: none

ci: Use an older kernel with `cpuset` support for benchers (#2840)
  .github/workflows/perfcompare.yml
  test/ansible/install.yml
Due: none
