Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

Add a client-side check for CONNECT_UDP (#3729)
  neqo-http3/src/connect_udp.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

rename a var
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

stats/cc: add new slow_start_exit stats (#3716)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix: reject RETIRE_CONNECTION_ID for an unissued sequence number
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
Due: neqo-transport

fix: reject max_ack_delay transport parameter of 2^14 or greater (#3730)
  neqo-transport/src/tparams.rs
Due: neqo-transport

fix: reject STREAMS_BLOCKED limit above 2^60 (#3727)
  neqo-transport/src/frame.rs
Due: neqo-transport

reject trailing data in single-field HTTP/3 frames
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/hframe.rs
Due: neqo-http3

Reject trailing data in HTTP/3 frames
  neqo-http3/src/frames/hframe.rs
Due: neqo-http3

Add to existing tests
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/wtframe.rs
Due: neqo-http3

Remove unused type parameter
  neqo-http3/src/frames/tests/mod.rs
Due: neqo-http3

Reject trailing data in HTTP/3 frames (#3734)
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/tests/hframe.rs
  neqo-http3/src/frames/tests/mod.rs
  neqo-http3/src/frames/tests/wtframe.rs
Due: neqo-http3

bench: remove remove_expired none-expired variant
  neqo-transport/benches/sent_packets.rs
Due: neqo-transport

fix: reject RETIRE_CONNECTION_ID for an unissued sequence number (#3731)
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/migration.rs
Due: neqo-transport

bench: remove remove_expired none-expired variant (#3735)
  neqo-transport/benches/sent_packets.rs
Due: neqo-transport

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/test_internal.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

bench: seed the http3 simulator with a fixed seed
  neqo-http3/benches/common.rs
Due: neqo-http3

Address comments
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fix
  neqo-http3/benches/common.rs
Due: neqo-http3

Fixes
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

fix: reject duplicate transport parameters
  neqo-transport/src/tparams.rs
Due: neqo-transport

feat: fast path in RxStreamOrderer::inbound_frame (#3690)
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fix clippy
  neqo-transport/src/tparams.rs
Due: neqo-transport

add benchmark for fair stream scheduling throughput
  neqo-transport/benches/send_streams.rs
Due: neqo-transport

Add send group support for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Fixes
  neqo-transport/src/cc/search.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Update SendGroup support and add fairness tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
Due: neqo-http3

Add sendgroup round-robin support
  neqo-http3/src/connection.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Remove redundant per_group clear loop (fold into pqmr)
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Restrict SendStream::set_send_group to pub(crate)
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Support clearing the sendGroup for a stream
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Use neqo-transport's SendGroupId in neqo-http3
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Use FxHashSet for WebTransport session stream and group sets
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Move id from thread-local to per-connection
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
Due: neqo-http3

Add sendgroup/sendorder fairness tests and fix stream starvation
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

Round-robin the single-sendGroup fast path by map index
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

Make transport SendGroupId a newtype instead of a u64 alias
  neqo-http3/src/connection.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/benches/send_streams.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Add sendGroup benchmarks
  neqo-transport/benches/send_streams.rs
Due: neqo-transport

Add fast-path for a single sendGroup
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Update neqo-transport/src/tparams.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
