Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

chore: lockfile tool updates (#3614)
  .gitignore
  test/README.md
  test/compare_lockfile.py
  test/lockfile_utils.py
  test/pyproject.toml
  test/update_lockfile.py
  test/uv.lock
Due: none

chore: prepare v0.28.0
  Cargo.lock
  Cargo.toml
Due: none

chore: prepare v0.28.0 (#3615)
  Cargo.lock
  Cargo.toml
Due: none

chore: upgrade http@1.4.0 and bump version
  Cargo.lock
  Cargo.toml
Due: none

fix: limit QPACK header list size during decoding
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-qpack

chore: upgrade http@1.4.0 and bump version (#3617)
  Cargo.lock
  Cargo.toml
Due: none

Improve coverage
  neqo-qpack/src/header_block.rs
Due: neqo-qpack

chore: nss-rs@0.10.0
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

chore: nss-rs@0.10.0 (#3620)
  Cargo.lock
  Cargo.toml
  neqo-bin/src/bin/client.rs
  neqo-bin/src/client/mod.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

fix: limit QPACK header list size during decoding (#3618)
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
Due: neqo-qpack

chore: rely on nss-rs for NSS initialization and test DB
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  README.md
  neqo-bin/Cargo.toml
  neqo-bin/benches/main.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  test-fixture/Cargo.toml
  test-fixture/db/cert9.db
  test-fixture/db/key4.db
  test-fixture/db/pkcs11.txt
  test-fixture/src/lib.rs
  test/README.md
  test/upload_test.sh
Due: none

Potential fix for pull request finding
  Cargo.toml
Due: none

chore: rely on nss-rs for NSS initialization and test DB (#3621)
  .github/actions/build-neqo/action.yml
  .github/actions/check-android/action.yml
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  README.md
  neqo-bin/Cargo.toml
  neqo-bin/benches/main.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  test-fixture/Cargo.toml
  test-fixture/db/cert9.db
  test-fixture/db/key4.db
  test-fixture/db/pkcs11.txt
  test-fixture/src/lib.rs
  test/README.md
  test/upload_test.sh
Due: none

feat: use the `nss-rs` `blapi` feature
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  Cargo.lock
  Cargo.toml
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  test-fixture/Cargo.toml
  test-fixture/src/header_protection.rs
Due: neqo-http3, neqo-qpack, neqo-transport

chore: Exclude `mozilla/actions` from Dependabot updates
  .github/dependabot.yml
Due: none

chore: Exclude `mozilla/actions` from Dependabot updates (#3624)
  .github/dependabot.yml
Due: none

fix: grant discussions:read to Claude review workflow
  .github/workflows/claude.yml
Due: none

fix: grant discussions:read to Claude review workflow (#3626)
  .github/workflows/claude.yml
Due: none

chore: Re-enable the BSDs in CI
  .github/workflows/check.yml
Due: none

openbsd
  .github/actions/check-vm/action.yml
Due: none

Only netbsd
  .github/workflows/check.yml
Due: none

Fix
  .github/actions/check-vm/action.yml
Due: none

ci: add SBOM workflow for SSDLC compliance
  .github/workflows/sbom.yml
Due: none

chore: Re-enable NetBSD in CI (#3627)
  .github/workflows/check.yml
Due: none

ci: add SBOM workflow for SSDLC compliance (#3628)
  .github/workflows/sbom.yml
Due: none

nss-rs 0.12.0
  Cargo.lock
  Cargo.toml
Due: none

Fix
  neqo-transport/src/crypto.rs
Due: neqo-transport

Fix
  test/make-fuzz-corpus.sh
Due: none

feat: use the `nss-rs` `blapi` feature (#3601)
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  Cargo.lock
  Cargo.toml
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  test-fixture/Cargo.toml
  test-fixture/src/header_protection.rs
  test/make-fuzz-corpus.sh
Due: neqo-http3, neqo-qpack, neqo-transport

chore(http3,qpack): remove leftover blapi feature
  neqo-http3/Cargo.toml
  neqo-qpack/Cargo.toml
Due: neqo-http3, neqo-qpack

chore: `nss-rs@0.12.1`
  Cargo.lock
  Cargo.toml
Due: none

Change interface
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

fix: Handle `ENOBUFS` in UDP send
  neqo-udp/src/lib.rs
Due: neqo-udp

clippy
  neqo-udp/src/lib.rs
Due: neqo-udp

Update neqo-udp/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Add test
  neqo-udp/src/lib.rs
Due: neqo-udp

Drop pkt with no error
  neqo-udp/src/lib.rs
Due: neqo-udp

0.12.2
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
