Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Improve feature listener
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connection.rs
Due: neqo-http3

perf: don't allocate in client UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/test_internal.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

test(http3): expect WebTransport handles new stream before session accept
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

fix(http3/webtransport): handle new stream before session acceptance
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/server_connection_events.rs
Due: neqo-http3

Make the drop_handshake_packet_from_wrong_address robust
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

compatible_upgrade_large_initial robustness
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-transport

Make discarded_initial_keys more robust
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-transport

Fix import foul-up
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-transport

Make only_server_initial more robust
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Improve resending of Initial on undecryptable
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/saved.rs
Due: neqo-transport

Rename the function
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/saved.rs
Due: neqo-transport

Move the strip_padding function out
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/vn.rs
  test-fixture/src/lib.rs
Due: neqo-transport

Make the coalesce_05rtt test robust
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Completely rewrite dup_server_flight1
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Move connection parameter defaults to the type
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/ackrate.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-transport

Make sure to strip padding
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/vn.rs
Due: neqo-transport

Move test_frame_writer use
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Update doc link
  neqo-transport/src/fc.rs
Due: neqo-transport

Make the drop_handshake_packet_from_wrong_address robust (#2862)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Make discarded_initial_keys more robust (#2864)
  neqo-transport/src/connection/tests/keys.rs
Due: neqo-transport

Improve the ALPN handling
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
Due: neqo-crypto

chore: Bump `sfv` to 0.14 (#2856)
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/priority.rs
Due: neqo-http3

Also take byte arrays, which is more general ( counts)
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Improve resending of Initial on undecryptable (#2866)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/saved.rs
Due: neqo-transport

compatible_upgrade_large_initial robustness (#2863)
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/vn.rs
  test-fixture/src/lib.rs
Due: neqo-transport

Move connection parameter defaults to the type (#2869)
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/ackrate.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/ackrate.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/keys.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-transport

Factor out the overfill test for datagrams
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Add a test for the ALPN to get coverage back
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Move test_frame_writer use (#2870)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Remove redundant &
  neqo-crypto/tests/agent.rs
Due: neqo-crypto

Improve the ALPN handling (#2871)
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/tests/agent.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-transport

Force coverage up by simplifying a test
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Make only_server_initial more robust (#2865)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Fix packet_with_only_padding test
  neqo-transport/tests/connection.rs
Due: neqo-transport

fix unused import in tests/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

A bunch of logging improvements
  neqo-crypto/src/agentio.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/tests/connection.rs
  test-fixture/src/lib.rs
Due: neqo-crypto, neqo-transport

Get the imports right this time
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Even shorter
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Enable the client-side assertion as well.
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

coalesce_05rtt robustness improvements (#2867)
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport
