Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

debug
  .github/actions/nss/action.yml
Due: none

Fix
  .github/actions/nss/action.yml
Due: none

Fix
  .github/actions/nss/action.yml
  .github/workflows/check.yml
  neqo-bin/src/lib.rs
Due: none

Finalize
  .github/actions/nss/action.yml
  .github/workflows/check.yml
  neqo-bin/src/lib.rs
Due: none

Suggestions from @mxinden
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

chore: Clippy fixes for nightly
  neqo-qpack/src/table.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-qpack, neqo-transport

Update neqo-transport/src/crypto.rs
  neqo-transport/src/crypto.rs
Due: neqo-transport

Revert comment
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

test(transport): trigger earliest > now via blocked Initial and HS
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

fix: Don't prime the handshake PTO w/o keys
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Merge commit from fork
  neqo-qpack/src/table.rs
Due: neqo-qpack

chore: Sync deps with Gecko
  Cargo.lock
Due: none

fix: QNS renamed implementations.json
  .github/actions/quic-interop-runner/action.yml
  .github/workflows/qns-pr.yml
Due: none

zmij@1.0.20 and fix the bug that caused it to be wrong
  Cargo.lock
  test/update-lockfile.py
Due: none

Suggestions from @martinthomson
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

fix: Allow Initial CRYPTO retransmission during Handshake PTO (#3350)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

feat(transport): respect peer's max_udp_payload_size tp
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

fix: Work around Claude action bug
  .github/workflows/claude-approve.yml
  .github/workflows/claude.yml
Due: none

fix: QNS renamed implementations.json (#3412)
  .github/actions/quic-interop-runner/action.yml
  .github/workflows/qns-pr.yml
Due: none

fix: Ignore !FreeBSD VM CI failures
  .github/workflows/check.yml
Due: none

Fixes
  .github/workflows/claude-approve.yml
Due: none

Fixes
  .github/workflows/check.yml
Due: none

Fix
  .github/workflows/claude-approve.yml
Due: none

fix: Ignore !FreeBSD VM CI failures (#3416)
  .github/workflows/check.yml
Due: none

fix: Work around Claude action bug (#3415)
  .github/workflows/claude-approve.yml
  .github/workflows/claude.yml
Due: none

chore: Sync deps with Gecko (#3413)
  Cargo.lock
  test/update-lockfile.py
Due: none

fix: Don't prime the handshake PTO w/o keys (#3411)
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix: Restart PMTUD when full-sized packets are lost
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-transport

Fix
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Squash some mutants
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Revamp
  neqo-transport/src/pmtud.rs
Due: neqo-transport

fmt
  neqo-transport/src/pmtud.rs
Due: neqo-transport

Also trigger PMTUD on PTO. Cleanups.
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/tests/network.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-transport

Address review comments
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/ecn.rs
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/stats.rs
  neqo-transport/tests/network.rs
  test-fixture/src/assertions.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/mtu.rs
Due: neqo-http3, neqo-transport

Address code review comments
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  test-fixture/src/sim/connection.rs
Due: neqo-transport
