Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: improve `Datagram`&`DatagramBatch` coverage (#3249)
  neqo-common/src/datagram.rs
Due: neqo-common

chore: improve `Header` and `HeadersExt` test coverage (#3250)
  neqo-common/src/header.rs
Due: neqo-common

chore: improve `Bytes` test coverage (#3247)
  neqo-common/src/bytes.rs
Due: neqo-common

chore: Improve `mtu` crate coverage (#3245)
  mtu/src/bsd.rs
  mtu/src/lib.rs
  mtu/src/linux.rs
  mtu/src/routesocket.rs
Due: none

Suggestion by @mxinden
  Cargo.lock
  neqo-udp/src/lib.rs
Due: neqo-udp

chore: improve `IncrementalDecoder` test coverage (#3252)
  neqo-common/src/incrdecoder.rs
Due: neqo-common

feat(transport/cc): lower cwnd reduction on ECN-CE vs loss (#3233)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

chore: improve mutation coverage for `neqo-udp` (#3255)
  neqo-udp/src/lib.rs
Due: neqo-udp

feat: Fuzz `HFrame` decoding (#3161)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/hframe.rs
  neqo-http3/src/frames/hframe.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/frames/wtframe.rs
Due: neqo-http3

fix(common/qlog): disable qlog on error on inner (shared) option (#3267)
  neqo-common/src/qlog.rs
Due: neqo-common

Update .github/workflows/codspeed.yml
  .github/workflows/codspeed.yml
Due: none

fix(transport): expose CongestionEvent
  neqo-transport/src/lib.rs
Due: neqo-transport

chore: Fuzz `HSettings` decoding (#3204)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/hsettings.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/settings.rs
Due: neqo-http3

fix: Add `ImageOS` info to the cache key
  .github/actions/nss/action.yml
Due: none

ImageOS doesn't exist
  .github/actions/nss/action.yml
Due: none

fix(transport): expose CongestionEvent (#3268)
  neqo-transport/src/lib.rs
Due: neqo-transport

fix: Add Ubuntu version to the cache key (#3269)
  .github/actions/nss/action.yml
Due: none

chore: Fix ternary expressions in GitHub Actions
  .github/actions/nss/action.yml
  .github/actions/rust/action.yml
Due: none

chore: prepare v0.21.0 release
  Cargo.lock
  Cargo.toml
Due: none

chore: Shard the codebase-wide mutants run
  .github/workflows/mutants.yml
  Cargo.toml
Due: none

Fix
  .github/workflows/mutants.yml
Due: none

Merge commit from fork
  neqo-crypto/src/selfencrypt.rs
  neqo-crypto/tests/selfencrypt.rs
Due: neqo-crypto

Merge commit from fork
  neqo-qpack/src/reader.rs
Due: neqo-qpack

chore: Fix formatting in selfencrypt.rs
  neqo-crypto/src/selfencrypt.rs
Due: neqo-crypto

chore: Fix ternary expressions in GitHub Actions (#3270)
  .github/actions/nss/action.yml
  .github/actions/rust/action.yml
Due: none

chore: Fix merge issues and clippy lints
  neqo-common/src/header.rs
  neqo-common/src/hrtime.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-qpack/src/reader.rs
Due: neqo-common, neqo-crypto, neqo-qpack

More
  .github/workflows/mutants.yml
Due: none

chore: Fix merge issues and clippy lints (#3275)
  neqo-common/src/header.rs
  neqo-common/src/hrtime.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-qpack/src/reader.rs
Due: neqo-common, neqo-crypto, neqo-qpack

Make artifacts on failure
  .github/workflows/mutants.yml
Due: none

chore: prepare v0.21.0 release (#3272)
  Cargo.lock
  Cargo.toml
Due: none

chore: Some simple additions to drive up coverage
  neqo-common/src/datagram.rs
  neqo-common/src/qlog.rs
  neqo-crypto/src/auth.rs
  neqo-crypto/src/err.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/control_stream_remote.rs
  neqo-http3/src/priority.rs
  neqo-http3/src/push_id.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/mod.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/stream_id.rs
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport

chore: Use strum instead of manual `FromStr`
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/lib.rs
  neqo-transport/src/cc/mod.rs
Due: neqo-transport

Fixes
  .github/actions/nss/action.yml
Due: none

Keep intrumentation on GitHub
  .github/workflows/codspeed.yml
Due: none

Fix merge
  .github/workflows/mutants.yml
Due: none

Fixes
  .github/workflows/mutants.yml
Due: none

chore: Split QNS workflows
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
