Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

fix: increase `MAX_TRACKED_RANGES` from 32 to 128
  neqo-transport/src/tracking.rs
Due: neqo-transport

chore: `nss-rs@0.12.2` (#3638)
  Cargo.lock
  Cargo.toml
Due: none

fix: do not suppress cwnd growth when pacing limits sends
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

fix: remove RTT dependency from flow control auto-tuning
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

fix: improve congestion control and loss timer logging
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

feat: Add a qlog plotter
  test/qvis.py
Due: none

fmt
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Suggestions from @martinthomson
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

Assert on spend()
  neqo-transport/src/pace.rs
Due: neqo-transport

Fixes
  neqo-http3/tests/httpconn.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-http3, neqo-qpack, neqo-transport

Fixes
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

Fix
  neqo-transport/src/connection/tests/recovery.rs
Due: neqo-transport

Fix
  neqo-transport/src/sender.rs
Due: neqo-transport

Fix
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix: do not suppress cwnd growth when pacing limits sends (#3640)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/sender.rs
Due: neqo-transport

Cleanup
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Generate HTML
  test/qvis.py
Due: none

Split into files, drag-to-zoom
  test/qvis.html
  test/qvis.js
  test/qvis.py
Due: none

Tweaks
  test/qvis.html
  test/qvis.js
  test/qvis.py
Due: none

Fixes
  test/qvis.html
  test/qvis.js
  test/qvis.py
Due: none

fix: remove duplicate word in two source comments
  neqo-http3/src/push_controller.rs
  neqo-transport/src/cid.rs
Due: neqo-http3, neqo-transport

Fixes
  test/qvis.js
  test/qvis.py
Due: none

fix: remove duplicate word in two source comments (#3647)
  neqo-http3/src/push_controller.rs
  neqo-transport/src/cid.rs
Due: neqo-http3, neqo-transport

Fixes
  test/qvis.py
Due: none

Update test/qvis.py
  test/qvis.py
Due: none

Fixes
  test/qvis.js
Due: none

feat: Add a qlog plotter (#3644)
  test/qvis.html
  test/qvis.js
  test/qvis.py
Due: none

fix: Patches for Redox targets
  mtu/src/lib.rs
Due: mtu

fmt
  mtu/src/lib.rs
Due: mtu

fix: Patches for Redox targets (#3652)
  mtu/src/lib.rs
Due: mtu

Update neqo-transport/src/recv_stream.rs
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

Fixes
  neqo-transport/src/recv_stream.rs
Due: neqo-transport

feat: Add OS timer jitter/skew to simulator
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mod.rs
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
