Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

no need to be public and trigger the missing_panics_doc lint
  neqo-transport/benches/min_bandwidth.rs
Due: neqo-transport

Review comments
  neqo-common/src/tos.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-common

Document Negotiated bool
  neqo-http3/src/client_events.rs
Due: neqo-http3

Use thiserror transparent
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/mod.rs
  neqo-qpack/src/lib.rs
Due: neqo-qpack

chore(transport): assert GSO requirements and break on PMTUD probe
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore: improve QUIC datagram logging
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Improve logging
  neqo-http3/src/features/extended_connect/mod.rs
Due: neqo-http3

Remove pmtud(true)
  test-fixture/src/sim/http3_connection.rs
Due: none

deps(Cargo.lock): update cc
  Cargo.lock
Due: none

Revise to quadratic and fix buffer sizes
  neqo-transport/benches/min_bandwidth.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-transport

deps(Cargo.lock): update cc (#2920)
  Cargo.lock
Due: none

Update neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

chore(transport): assert GSO requirements and break on PMTUD probe (#2918)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Move session into separate file
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

refactor(bin): derive Clone for Args
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
Due: none

Fixup fuzzing
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
Due: none

Add ECN to the simulator (#2914)
  fuzz/fuzz_targets/client_initial.rs
  fuzz/fuzz_targets/server_initial.rs
  neqo-common/src/tos.rs
  neqo-http3/src/connection_client.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/tracking.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/network.rs
  neqo-transport/tests/retry.rs
  neqo-transport/tests/server.rs
  neqo-transport/tests/sni.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/taildrop.rs
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport

More
  .github/actions/check-vm/action.yml
Due: none

feat: Import the `mtu` crate (#2897)
  .codecov.yml
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check-vm.yml
  .github/workflows/check.yml
  .github/workflows/machete.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
  Cargo.lock
  Cargo.toml
  mtu/.clippy.toml
  mtu/Cargo.toml
  mtu/LICENSE-APACHE
  mtu/LICENSE-MIT
  mtu/README.md
  mtu/SECURITY.md
  mtu/build.rs
  mtu/src/bsd.rs
  mtu/src/lib.rs
  mtu/src/linux.rs
  mtu/src/routesocket.rs
  mtu/src/windows.rs
  neqo-bin/src/lib.rs
  neqo-common/src/datagram.rs
  neqo-common/src/header.rs
  neqo-crypto/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
  test-fixture/Cargo.toml
Due: neqo-common, neqo-crypto, neqo-http3, neqo-transport, neqo-udp

chore: improve QUIC datagram logging (#2919)
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Add criterion dep
  Cargo.lock
  neqo-http3/Cargo.toml
Due: neqo-http3

cargo machete ignore criterion
  neqo-http3/Cargo.toml
Due: neqo-http3

tests(transport): reduce iterations to reduce test runtime
  neqo-transport/src/fc.rs
Due: neqo-transport

feat(test-fixtures): add http3 support to Simulator (#2890)
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/benches/streams.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mod.rs
Due: neqo-http3

chore: Bump deps to Gecko versions
  Cargo.lock
  test/update-lockfile.sh
Due: none

get rid of `self.new_bytes_acked` struct field as it wasn't tracking anything
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

tests(transport): reduce iterations to reduce test runtime (#2929)
  neqo-transport/src/fc.rs
Due: neqo-transport

Apply suggestions from code review
  neqo-crypto/src/err.rs
  neqo-http3/src/lib.rs
  neqo-qpack/src/lib.rs
  neqo-transport/src/lib.rs
Due: neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

Minor wording improvements
  neqo-http3/src/lib.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-transport

address small review comment changes (code comments, doc links, asserts)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

fmt
  neqo-qpack/src/lib.rs
Due: neqo-qpack

refactor: replace all manual impl std::error::Error with thiserror (#2912)
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  neqo-crypto/Cargo.toml
  neqo-crypto/src/err.rs
  neqo-http3/Cargo.toml
  neqo-http3/src/lib.rs
  neqo-qpack/Cargo.toml
  neqo-qpack/src/lib.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/lib.rs
Due: neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

fix broken_intra_doc_link clippy warning
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

refactor(bin): derive Clone for Args (#2926)
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
Due: none

refactor(bin): move reinit to UrlHandler and maintain URL order
  neqo-bin/src/client/http3.rs
Due: none

Added some references to RFC section 5.8 - app limited behavior
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

Minor refactor
  neqo-http3/src/conn_params.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Improve datagram context identifier error handling
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Consistency
  neqo-http3/src/frames/connect_udp_frame.rs
  neqo-http3/src/frames/mod.rs
Due: neqo-http3

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
