Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Again
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

Again
  .github/workflows/bench.yml
Due: none

Fix
  .github/workflows/check.yml
Due: none

Final fix
  .github/workflows/bench.yml
Due: none

ci: Fix Cirun trigger (#2776)
  .github/workflows/bench.yml
  .github/workflows/perfcompare.yml
Due: none

v2 of martinthomson:smallvec-tokens
  neqo-transport/src/ackrate.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/idle.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Update Cargo.toml
  Cargo.toml
Due: none

Fix bench
  neqo-transport/benches/sent_packets.rs
Due: neqo-transport

ci: Avoid large pass-by-value instances (#2623)
  .clippy.toml
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/ecn.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

Rename
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/ackrate.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/idle.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

Just introduce the type
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

Increase GCP disk size
  .cirun.yml
Due: none

Adjust runner disk size to image size
  .cirun.yml
Due: none

Introduce a `recovery::Tokens` type (#2777)
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/ackrate.rs
  neqo-transport/src/addr_valid.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/cc/tests/new_reno.rs
  neqo-transport/src/cid.rs
  neqo-transport/src/connection/idle.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/idle.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/path.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/quic_datagrams.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recovery/token.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/rtt.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
  neqo-transport/src/tracking.rs
Due: neqo-transport

feat: Use `SmallVec` for `recovery::Token`
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

feat: Put tokens into `Rc`
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

perf(transport): reserve profile.limit() space in send_buffer
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

bench(bin/server): process input datagram in batches
  neqo-bin/benches/main.rs
  neqo-bin/src/bin/server.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-http3/src/server.rs
  neqo-transport/src/server.rs
Due: neqo-http3, neqo-transport

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

perf: don't allocate in UDP send path
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
  neqo-common/src/codec.rs
  neqo-common/src/datagram.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/server.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/test_internal.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/connection/tests/migration.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/server.rs
  neqo-transport/tests/connection.rs
  neqo-udp/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport, neqo-udp

chore(Cargo.toml): prepare v0.14.0 release
  Cargo.lock
  Cargo.toml
Due: none

chore(Cargo.toml): prepare v0.14.0 release (#2783)
  Cargo.lock
  Cargo.toml
Due: none

fmt
  neqo-transport/src/recovery/sent.rs
Due: neqo-transport

SmallVec
  neqo-transport/src/recovery/token.rs
Due: neqo-transport

ci: Debug/fix `cpupower` setting on GCP runners
  test/ansible/bin/prep.sh
  test/ansible/bin/unprep.sh
Due: none

ci: Debug/fix `cpupower` setting on GCP runners (#2784)
  test/ansible/bin/prep.sh
  test/ansible/bin/unprep.sh
Due: none

fix(common): add DatagramBatch::set_tos
  neqo-common/src/datagram.rs
Due: neqo-common

fix(.clippy.toml): fully qualify std::dbg macro
  .clippy.toml
Due: none

Add silly unit test for code coverage
  neqo-common/src/datagram.rs
Due: neqo-common

fix(common): add DatagramBatch::set_tos (#2787)
  neqo-common/src/datagram.rs
Due: neqo-common

fix(.clippy.toml): fully qualify std::dbg macro (#2788)
  .clippy.toml
Due: none

Add Server::saved_datagrams
  neqo-common/src/datagram.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-transport

Merge commit from fork
  README.md
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
Due: neqo-transport

fix(crypto): do not filter transport parameters on invalid ECH conf
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-transport

Update neqo-crypto/src/agent.rs
  neqo-crypto/src/agent.rs
Due: neqo-crypto

fix(crypto): do not filter transport parameters on invalid ECH conf (#2789)
  neqo-crypto/src/agent.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-crypto, neqo-transport

chore(Cargo.toml): prepare v0.14.1 release
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
