Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

prefix stat names with `hystart_`
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

feat(stats): add HyStart++ stats (#3432)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/classic_slow_start.rs
  neqo-transport/src/cc/hystart.rs
  neqo-transport/src/cc/tests/hystart.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

make `Cubic::w_max` an `Option<f64>`
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Support for the WT_DRAIN_SESSION frame to initiate draining a specific session
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/frames/tests/reader.rs
  neqo-http3/src/frames/wtframe.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

Don't send datagrams combined with PMTUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

Add support for passing send_group_id and send_order with each datagram
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

DatagramOutcome build fix
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

Support handling queuing and highwatermarks/max-age for outgoing datagrams per the WebTransport spec
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Snapshot stats at session close
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

change time handling so we can accurately test
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Make id an Option so we can pass None if we don't want tracking and don't need outcomes
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

formatting
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Track bytesSentOverhead separately per WebTransport spec
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Add basic connection stats
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/sender.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

Support clearing the sendGroup for a stream
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Add support for GOAWAY draining events to support WebTransport
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server.rs
Due: neqo-http3

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

atomicWrite support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/atomic_write.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
Due: neqo-http3, neqo-transport

Support sendGroup Id's and sendOrder for datagrams
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Add support for waitUntilAvailable
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/classic_connect.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

datagram NotAvailable
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

Update SendGroup support and add fairness tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
Due: neqo-http3

stats tests
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

Add sendgroup round-robin support
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Add WebTransport ExportKeyingMaterial backend
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/tests/#agent.rs#
  neqo-http3/src/connection_client.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-http3, neqo-transport

Add send group support for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Implement support for stats for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Get the negotiated protocol to support WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

datagram_queue
  neqo-http3/src/features/extended_connect/datagram_queue.rs
Due: neqo-http3

finish hooking up anticipated streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

subtract out some overheads from the max datagram size
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
Due: neqo-http3

expand connection stats
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/stats.rs
Due: neqo-http3, neqo-transport

remove debug_assert that could cause debug builds to fail in a race condition, plus one that should never happen
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

fix: Handle `ENOBUFS` in UDP send
  neqo-udp/src/lib.rs
Due: neqo-udp

feat: emit `pacing_rate`` and `ssthresh` in qlog
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

Suggesttions from @mxinden.
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/pace.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

address review comments
  neqo-transport/src/cc/classic_cc.rs
Due: neqo-transport

feat(stats): add a stat recording cubic's w_max (#3431)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/cc/cubic.rs
  neqo-transport/src/cc/new_reno.rs
  neqo-transport/src/cc/tests/cubic.rs
  neqo-transport/src/stats.rs
Due: neqo-transport

chore: default SCONE to off
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/handshake.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
  mtu: any of: mtu/, but not: fuzz, neqo-bin, test-fixture, mtu/src/bindings
