Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

fix: Increase the socket TX buffer to hold a GSO batch
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Update neqo-udp/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Fixes
  neqo-udp/src/lib.rs
Due: neqo-udp

Caller controls the sizes
  neqo-udp/src/lib.rs
Due: neqo-udp

chore: prepare v0.32.0
  Cargo.lock
  Cargo.toml
Due: none

chore(cc): add regression test for cubic ack-ratio unfairness
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

Add transport outgoing-datagram queue engine
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

chore(cc): add regression test for cubic ack-ratio unfairness (#4005)
  neqo-transport/src/cc/tests/cubic.rs
Due: neqo-transport

chore: use GitHub's self-repository syntax - #240
  .github/dependabot.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/qns-pr.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
Due: none

chore: use GitHub's self-repository syntax (#4007)
  .github/dependabot.yml
  .github/workflows/bench.yml
  .github/workflows/check-mtu.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/perfcompare.yml
  .github/workflows/qns-pr.yml
  .github/workflows/readme.yml
  .github/workflows/sanitize.yml
Due: none

ci: Run all CodSpeed benchmarks and client/server perfcompare on the macro runner
  .github/actionlint.yml
  .github/actions/bench-matrix/action.yml
  .github/workflows/codspeed-perfcompare.yml
  .github/workflows/codspeed.yml
Due: none

ci: Install a fresh toolchain per job on the CodSpeed macro runner
  .github/workflows/codspeed.yml
Due: none

ci: Run benchmarks on CodSpeed macro runners
  .github/actionlint.yml
  .github/actions/bench-machine/action.yml
  .github/actions/bench-matrix/action.yml
  .github/actions/cpu-tuning/action.yml
  .github/actions/process-perf/action.yml
  .github/dependabot.yml
  .github/scripts/format-bench-results.py
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/codspeed-perfcompare.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/quic-build-cache.yml
  AGENTS.md
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/lib.rs
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
  test-fixture/src/sim/connection.rs
  test/ansible/README.md
  test/ansible/bin/prep.sh
  test/ansible/bin/unprep.sh
  test/ansible/etc/apt.conf.d/99-disable-periodic
  test/ansible/etc/journald.conf.d/99-neqo.conf
  test/ansible/etc/perfconfig
  test/ansible/etc/sudoers.d.bench
  test/ansible/install.yml
  test/ansible/inventory.ini
  test/ansible/shrink.yml
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

Add outgoing-datagram queues to QuicDatagrams/Connection
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: address mxinden's 2026-09-18 review of #3985
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

WebTransport: count a session's expired outgoing datagrams
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

WebTransport: rewire the new datagram queue onto Connection's engine
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-http3

WebTransport: cover the per-session datagram queue's watermark, priority, and byte-budget eviction
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-http3, neqo-transport

Expose Connection::expire_datagrams for callers that need the expired IDs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Remove the legacy per-connection outgoing-datagram queue
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

ci: Use CodSpeed-hosted runners for perf CI (#4001)
  .github/actionlint.yml
  .github/actions/bench-machine/action.yml
  .github/actions/bench-matrix/action.yml
  .github/actions/cpu-tuning/action.yml
  .github/actions/process-perf/action.yml
  .github/dependabot.yml
  .github/scripts/format-bench-results.py
  .github/scripts/perfcompare.py
  .github/workflows/bench.yml
  .github/workflows/codspeed-perfcompare.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare.yml
  .github/workflows/profile.yml
  .github/workflows/quic-build-cache.yml
  AGENTS.md
  neqo-bin/Cargo.toml
  neqo-common/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-http3/src/connection.rs
  neqo-qpack/Cargo.toml
  neqo-transport/Cargo.toml
  neqo-transport/benches/min_bandwidth.rs
  neqo-transport/src/lib.rs
  neqo-udp/Cargo.toml
  test-fixture/Cargo.toml
  test-fixture/src/sim/connection.rs
  test/ansible/README.md
  test/ansible/bin/prep.sh
  test/ansible/bin/unprep.sh
  test/ansible/etc/apt.conf.d/99-disable-periodic
  test/ansible/etc/journald.conf.d/99-neqo.conf
  test/ansible/etc/perfconfig
  test/ansible/etc/sudoers.d.bench
  test/ansible/install.yml
  test/ansible/inventory.ini
  test/ansible/shrink.yml
Due: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Bump workflow/action deps
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/actions/install-build-deps/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/machete.yml
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
Due: none

chore: Bump workflow/action deps (#4015)
  .github/actions/check-android/action.yml
  .github/actions/check-vm/action.yml
  .github/actions/install-build-deps/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/check.yml
  .github/workflows/claude.yml
  .github/workflows/clippy.yml
  .github/workflows/deny.yml
  .github/workflows/dependency-review.yml
  .github/workflows/machete.yml
  .github/workflows/qns-pr.yml
  .github/workflows/qns.yml
  .github/workflows/rustfmt.yml
  .github/workflows/sbom.yml
  .github/workflows/semver.yml
Due: none

chore: Add more QPACK encoding vectors
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-qpack

Cleanup
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-qpack

Fixes and cleanup
  neqo-qpack/src/encoder.rs
Due: neqo-qpack

perf(common): decode varints with a single fixed-width load
  neqo-common/src/codec.rs
Due: neqo-common

Update neqo-common/src/codec.rs
  neqo-common/src/codec.rs
Due: neqo-common

Condense decode_varint comment
  neqo-common/src/codec.rs
Due: neqo-common

ci: upload all CodSpeed results from a single workflow run
  .github/workflows/codspeed-perfcompare.yml
  .github/workflows/codspeed.yml
  AGENTS.md
Due: none

ci: do not require CODSPEED_TOKEN when calling the perfcompare workflow
  .github/workflows/codspeed-perfcompare.yml
Due: none

ci: inline the client/server jobs instead of calling a reusable workflow
  .github/workflows/codspeed-perfcompare.yml
  .github/workflows/codspeed.yml
  AGENTS.md
Due: none

feat: report why a resumption token is refused
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/resumption.rs
  neqo-transport/src/lib.rs
Due: neqo-http3, neqo-transport

Improve coverage
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Test for max_datagram_frame_size
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport
