Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-crypto"
      paths:
        - "neqo-crypto/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    project:
      default:
        threshold: 0.05%

Update neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder.rs
Due: neqo-qpack

Update neqo-common/src/codec.rs
  neqo-common/src/codec.rs
Due: neqo-common

refactor: replace dynamic expansion() calls with AEAD_EXPANSION_SIZE const
  neqo-crypto/src/aead.rs
  neqo-crypto/src/aead_null.rs
  neqo-crypto/src/lib.rs
  neqo-crypto/src/selfencrypt.rs
  neqo-crypto/tests/aead.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/packet/retry.rs
  neqo-transport/tests/connection.rs
  neqo-transport/tests/server.rs
Due: neqo-crypto, neqo-transport

feat(transport/cubic): simplify byte tracking across acks
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

chore: `QlogMetric` -> `qlog::Metric` (#3007)
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/rtt.rs
Due: neqo-transport

Fixes
  neqo-common/src/bytes.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
Due: neqo-common, neqo-http3

chore: Fix claude
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Fix
  .github/workflows/claude.yml
Due: none

bun
  .github/workflows/claude.yml
Due: none

Update .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: none

Update neqo-common/src/bytes.rs
  neqo-common/src/bytes.rs
Due: neqo-common

impl From<Vec<u8>> for Bytes
  neqo-common/src/bytes.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
Due: neqo-common, neqo-http3

Fix
  neqo-common/src/log.rs
Due: neqo-common

feat(common/datagram): support Bytes as data store
  neqo-common/src/bytes.rs
  neqo-common/src/datagram.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-common, neqo-http3

feat: Add GitHub Copilot PR review instructions
  .github/copilot-instructions.md
  .github/workflows/claude-code-review.yml
Due: none

perf(http3): eliminate allocations with zero-copy `Bytes` (#3010)
  neqo-common/src/bytes.rs
  neqo-common/src/datagram.rs
  neqo-common/src/lib.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/server_events.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/webtransport.rs
Due: neqo-common, neqo-http3

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Unbreak
  neqo-common/src/log.rs
Due: neqo-common

refactor(transport): move UDP datagram limit calc outside loop
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

refactor(transport): move UDP datagram limit calc outside loop (#3045)
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Cleanup
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
Due: neqo-common, neqo-qpack

skip
  neqo-common/src/codec.rs
  neqo-qpack/src/decoder.rs
Due: neqo-common, neqo-qpack

Rename
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/lib.rs
  neqo-qpack/src/qpack_send_buf.rs
Due: neqo-qpack

refactor(transport): replace magic +1 with named constant
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

Cleanup
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-common/src/qlog.rs
  neqo-http3/src/buffered_send_stream.rs
  neqo-transport/src/cc/classic_cc.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/rtt.rs
Due: neqo-common, neqo-http3, neqo-transport

Update tokio
  Cargo.lock
Due: none

Update neqo-transport/src/connection/params.rs
  neqo-transport/src/connection/params.rs
Due: neqo-transport

fix the assert
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

feat(transport/cubic): cubic region RFC9438 updates
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

remove assert
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

fixes
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

adressing review comments
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

feat(transport/cubic): cubic region RFC9438 updates (#2983)
  neqo-transport/src/cc/cubic.rs
Due: neqo-transport

chore: prepare v0.17.0
  Cargo.lock
  Cargo.toml
Due: none

Update test/update-lockfile.sh
  test/update-lockfile.sh
Due: none

perf(crypto): eliminate bounds checks in header protection mask computation
  neqo-crypto/src/hp.rs
  neqo-crypto/tests/hp.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  test-fixture/src/header_protection.rs
Due: neqo-crypto, neqo-transport

chore: Use `Vec::with_capacity` where we can
  neqo-crypto/src/cert.rs
  neqo-http3/src/connection.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/packet/mod.rs
Due: neqo-crypto, neqo-http3, neqo-transport
