Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-crypto, neqo-http3, neqo-qpack, neqo-transport, neqo-udp

chore: Update MSRV to 1.90 (#3349)
  Cargo.toml
  neqo-bin/src/server/http3.rs
  neqo-crypto/src/agentio.rs
  neqo-crypto/tests/hp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_connection_events.rs
  neqo-http3/src/settings.rs
  neqo-qpack/src/encoder.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/params.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tracking.rs
  test-fixture/src/sim/connection.rs
Due: neqo-crypto, neqo-http3, neqo-qpack, neqo-transport

Handle multiple versions, wrappers, compare script
  Cargo.lock
  Cargo.toml
  build/rust/getrandom/Cargo.toml
  build/rust/getrandom/lib.rs
  build/rust/wasi/Cargo.toml
  build/rust/wasi/lib.rs
  test/compare-lockfile.py
  test/update-lockfile.py
Due: none

Always copy patches from Gecko
  build/rust/backtrace/Cargo.toml
  build/rust/backtrace/lib.rs
  build/rust/hermit-abi/Cargo.toml
  build/rust/hermit-abi/lib.rs
  build/rust/r-efi/Cargo.toml
  build/rust/r-efi/lib.rs
  test/update-lockfile.py
Due: none

chore: Build CodSpeed walltime benches on github
  .github/actionlint.yml
  .github/workflows/codspeed.yml
Due: none

chore: Stabilize benchmarks for better signal
  Cargo.lock
  Cargo.toml
  neqo-bin/Cargo.toml
  neqo-bin/benches/main.rs
  neqo-common/Cargo.toml
  neqo-common/benches/decoder.rs
  neqo-http3/Cargo.toml
  neqo-http3/benches/common.rs
  neqo-http3/benches/streams_simulated.rs
  neqo-http3/benches/streams_walltime.rs
  neqo-transport/Cargo.toml
  neqo-transport/benches/range_tracker.rs
  neqo-transport/benches/rx_stream_orderer.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/benches/transfer_common.rs
  neqo-transport/benches/transfer_simulated.rs
  neqo-transport/benches/transfer_walltime.rs
  test-fixture/Cargo.toml
  test-fixture/src/bench.rs
  test-fixture/src/lib.rs
Due: neqo-common, neqo-http3, neqo-transport

Add WebTransport ExportKeyingMaterial backend
  WEBTRANSPORT_IMPLEMENTATION_PLAN.md
  neqo-crypto/bindings/bindings.toml
  neqo-crypto/src/agent.rs
  neqo-crypto/src/err.rs
  neqo-crypto/tests/agent.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
Due: neqo-crypto, neqo-http3, neqo-transport

Get the negotiated protocol to support WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Add support for draining event to support WebTransport
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Add send group support for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
Due: neqo-http3

Update SendGroup support and add fairness tests
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/send_group.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
Due: neqo-http3

finish hooking up anticipated streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/streams.rs
Due: neqo-http3, neqo-transport

Support handling queuing and highwatermarks/max-age for outgoing datagrams per the WebTransport spec
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

sendgroup fixes
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

fix atomic writes of unitdirectional streams - must ensure init is sent
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/send_message.rs
Due: neqo-http3

add interfaces to set anticipated incoming uni/bi-directional streams
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Implement support for stats for WebTransport
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

protocol fixes
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
Due: neqo-http3

Don't send datagrams combined with PTMUD packets since lost datagrams can't be retried
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

Add support for waitUntilAvailable
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection_client.rs
Due: neqo-http3

atomicWrite support
  neqo-http3/src/connection_client.rs
Due: neqo-http3

Snapshot stats at session close
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/server_events.rs
Due: neqo-http3

transport implementation of sendgroups
  neqo-crypto/tests/agent.rs
  neqo-http3/src/client_events.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/features/extended_connect/datagram_queue.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/sessions.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/streams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-crypto, neqo-http3, neqo-transport

chore: Build CodSpeed walltime benches on github (#3371)
  .github/actionlint.yml
  .github/workflows/codspeed.yml
Due: none

chore: Fix more `clippy` warnings
  neqo-http3/src/connection_client.rs
Due: neqo-http3

chore: Fix more `clippy` warnings (#3372)
  neqo-http3/src/connection_client.rs
Due: neqo-http3

feat: Investigate using onbject pools
  neqo-common/src/lib.rs
  neqo-common/src/pool.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-common, neqo-transport

feat: Investigate using onbject pools
  neqo-common/src/lib.rs
  neqo-common/src/pool.rs
  neqo-transport/benches/sent_packets.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/recovery/sent.rs
  neqo-transport/src/recv_stream.rs
  neqo-transport/src/send_stream.rs
  neqo-transport/src/streams.rs
Due: neqo-common, neqo-transport

chore: Simplify NSS minimum version determination
  .github/actions/nss/action.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

chore: Simplify NSS minimum version determination (#3374)
  .github/actions/nss/action.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/codspeed.yml
  .github/workflows/fuzz-bench.yml
  .github/workflows/fuzz-corpus.yml
  .github/workflows/mutants-pr.yml
  .github/workflows/mutants.yml
  .github/workflows/sanitize.yml
  .github/workflows/semver.yml
Due: none

Use codspeed.yml
  .github/actions/rust/action.yml
  .github/workflows/codspeed.yml
  .github/workflows/perfcompare-codspeed.yml
Due: none

feat: Run perfcompare on CodSpeed
  .github/workflows/perfcompare-codspeed.yml
Due: none

Do perf
  .github/actions/perf-profile/action.yml
  .github/workflows/codspeed.yml
  .github/workflows/pr-comment.yml
Due: none

Refactor
  .github/actions/bench-matrix/action.yml
  .github/actions/perf-profile/action.yml
  .github/actions/perfcompare-commands/action.yml
  .github/actions/quic-build/action.yml
  .github/actions/testdata-setup/action.yml
  .github/workflows/codspeed.yml
  .github/workflows/pr-comment.yml
  .github/workflows/profile.yml
Due: none

Address code review comments
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/pmtud.rs
  neqo-transport/src/recovery/mod.rs
  neqo-transport/src/stats.rs
  test-fixture/src/sim/connection.rs
Due: neqo-transport

Fix more things
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-crypto/Cargo.toml
  neqo-transport/Cargo.toml
  test/compare-lockfile.py
  test/lockfile_utils.py
  test/update-lockfile.py
Due: neqo-crypto, neqo-transport

Fix for "grey holes"
  neqo-transport/src/pmtud.rs
Due: neqo-transport

feat: Re-enable Firefox vendoring validation in CI
  .github/workflows/firefox.yml
  .github/workflows/pr-comment.yml
Due: none

Only build Firefox on workflow_dispatch
  .github/workflows/firefox.yml
  .github/workflows/pr-comment.yml
Due: none

Optimize the workflow
  .github/workflows/codspeed.yml
Due: none

improve congestion control
  neqo-transport/src/send_stream.rs
Due: neqo-transport

Path conditions:
  neqo-common: any of: neqo-common/, but not: fuzz, neqo-bin, test-fixture
  neqo-crypto: any of: neqo-crypto/, but not: fuzz, neqo-bin, test-fixture
  neqo-http3: any of: neqo-http3/, but not: fuzz, neqo-bin, test-fixture
  neqo-qpack: any of: neqo-qpack/, but not: fuzz, neqo-bin, test-fixture
  neqo-transport: any of: neqo-transport/, but not: fuzz, neqo-bin, test-fixture
  neqo-udp: any of: neqo-udp/, but not: fuzz, neqo-bin, test-fixture
