Repository mozilla/neqo: changes, and which Codecov flags are due for each by the changed paths.
All: neqo-common, neqo-http3, neqo-qpack, neqo-transport, neqo-udp, mtu

.codecov.yml:

# neqo has no test coverage for its example client and server, and for the fuzzing code.
# Also ignore the test fixture and the bindings for the `mtu` component.
ignore:
  - "fuzz"
  - "neqo-bin"
  - "test-fixture"
  - "mtu/src/bindings"

# Coverage flags for each platform. Carryforward reuses cached coverage if an upload fails.
flags:
  linux:
    carryforward: true
  macos:
    carryforward: true
  windows:
    carryforward: true
  freebsd:
    carryforward: true

# Add any new components to the list below.
component_management:
  individual_components:
    - component_id: "neqo-common"
      paths:
        - "neqo-common/"
    - component_id: "neqo-http3"
      paths:
        - "neqo-http3/"
    - component_id: "neqo-qpack"
      paths:
        - "neqo-qpack/"
    - component_id: "neqo-transport"
      paths:
        - "neqo-transport/"
    - component_id: "neqo-udp"
      paths:
        - "neqo-udp/"
    - component_id: "mtu"
      paths:
        - "mtu/"

# Do not notify until at least three results have been uploaded from the CI pipeline.
# (This corresponds to the three main platforms we support: Linux, macOS, and Windows.)
codecov:
  notify:
    after_n_builds: 3
comment:
  layout: "header, diff, flags, components"  # Show component info in the PR comment.
  after_n_builds: 3

coverage:
  status:
    # Only post coverage status on pull requests, not on merge queue commits.
    # This prevents PRs from failing in the merge queue due to coverage changes
    # introduced by other recently-merged PRs.
    project:
      default:
        threshold: 0.05%
        only_pulls: true
    patch:
      default:
        only_pulls: true

WebTransport: count a session's expired outgoing datagrams
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

Return NotAvailable instead of TooMuchData when the peer has no datagram path
  neqo-http3/src/features/extended_connect/session.rs
Due: neqo-http3

Expose datagram outgoingMaxBufferedDatagrams/outgoingMaxAge setters as production API
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Transport: count datagrams actually sent per session
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/lib.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

WebTransport: report the fate of outgoing datagrams via aggregate stats
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/stats.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/webtransport.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/datagram_queue.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

WebTransport: expose outgoing datagram queue capacity per session
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

Add Connection::set_remote_max_streams to raise the incoming stream limit
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/stream.rs
  neqo-transport/src/connection/tests/zerortt.rs
  neqo-transport/src/fc.rs
  neqo-transport/src/streams.rs
Due: neqo-transport

WebTransport: add anticipatedConcurrentIncomingUni/BidirectionalStreams support
  neqo-http3/src/connection.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/anticipated_streams.rs
  neqo-http3/src/features/extended_connect/tests/webtransport/mod.rs
  neqo-http3/src/lib.rs
  neqo-http3/src/webtransport.rs
Due: neqo-http3

perf(transport): pre-size datagram batch buffer [skip ci]
  neqo-transport/src/connection/mod.rs
Due: neqo-transport

fix(transport): check max frame size for outbound dgrams
  neqo-http3/src/features/extended_connect/tests/webtransport/datagrams.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-http3, neqo-transport

test(transport): include tests from mozilla#4020
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

tests(transport): test frame limit for dgram with length field
  neqo-transport/src/connection/tests/datagram.rs
Due: neqo-transport

refactor(http3): use tracing instead of log
  Cargo.lock
  neqo-http3/Cargo.toml
  neqo-http3/src/client_events.rs
  neqo-http3/src/conn_params.rs
  neqo-http3/src/connect_udp.rs
  neqo-http3/src/connection.rs
  neqo-http3/src/connection_client.rs
  neqo-http3/src/connection_server.rs
  neqo-http3/src/control_stream_local.rs
  neqo-http3/src/control_stream_remote.rs
  neqo-http3/src/features/extended_connect/connect_udp_session.rs
  neqo-http3/src/features/extended_connect/mod.rs
  neqo-http3/src/features/extended_connect/session.rs
  neqo-http3/src/features/extended_connect/webtransport_session.rs
  neqo-http3/src/features/extended_connect/webtransport_streams.rs
  neqo-http3/src/features/mod.rs
  neqo-http3/src/frames/capsule.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/recv_message.rs
  neqo-http3/src/send_message.rs
  neqo-http3/src/server.rs
  neqo-http3/src/server_events.rs
  neqo-http3/src/settings.rs
  neqo-http3/src/stream_type_reader.rs
  neqo-http3/src/webtransport.rs
  neqo-http3/tests/connect_udp.rs
  neqo-http3/tests/httpconn.rs
Due: neqo-http3

refactor(qpack): use tracing instead of log
  Cargo.lock
  neqo-qpack/Cargo.toml
  neqo-qpack/src/decoder.rs
  neqo-qpack/src/decoder_instructions.rs
  neqo-qpack/src/encoder.rs
  neqo-qpack/src/encoder_instructions.rs
  neqo-qpack/src/header_block.rs
  neqo-qpack/src/reader.rs
  neqo-qpack/src/table.rs
Due: neqo-qpack

refactor(common): emit q-macro logs via tracing
  Cargo.lock
  Cargo.toml
  README.md
  neqo-common/Cargo.toml
  neqo-common/src/lib.rs
  neqo-common/src/log.rs
  neqo-common/src/qlog.rs
  test-fixture/src/sim/mod.rs
Due: neqo-common

refactor(udp): use tracing instead of log
  Cargo.lock
  Cargo.toml
  neqo-udp/Cargo.toml
  neqo-udp/src/lib.rs
Due: neqo-udp

refactor(test-fixture): use tracing instead of log
  Cargo.lock
  test-fixture/Cargo.toml
  test-fixture/src/header_protection.rs
  test-fixture/src/lib.rs
  test-fixture/src/sim/aqm.rs
  test-fixture/src/sim/connection.rs
  test-fixture/src/sim/drop.rs
  test-fixture/src/sim/http3_connection.rs
  test-fixture/src/sim/mod.rs
  test-fixture/src/sim/taildrop.rs
Due: none

refactor(common): remove the q-macros
  neqo-common/src/lib.rs
  neqo-common/src/log.rs
  neqo-common/tests/log.rs
Due: neqo-common

refactor(bin): use tracing instead of log
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/client/http09.rs
  neqo-bin/src/client/http3.rs
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/http09.rs
  neqo-bin/src/server/http3.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
Due: none

chore: prepare v0.33.0
  Cargo.lock
  Cargo.toml
Due: none

chore(transport): make clippy happy
  neqo-transport/src/connection/tests/datagram.rs
  neqo-transport/src/quic_datagrams.rs
Due: neqo-transport

tests(transport): fix new test from main
  neqo-http3/tests/connect_udp.rs
Due: neqo-http3

feat: Add `log-payload` feature
  neqo-bin/Cargo.toml
  neqo-http3/Cargo.toml
  neqo-http3/src/connection_client.rs
  neqo-http3/src/frames/reader.rs
  neqo-http3/src/server.rs
  neqo-transport/Cargo.toml
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/crypto.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/server.rs
  neqo-transport/src/tparams.rs
Due: neqo-http3, neqo-transport

fix: Try increasingly smaller send buffer sizes (#4035)
  neqo-bin/src/udp.rs
Due: none

perf: avoid heap allocations in the client and server wait loops
  Cargo.lock
  neqo-bin/Cargo.toml
  neqo-bin/src/client/mod.rs
  neqo-bin/src/lib.rs
  neqo-bin/src/server/mod.rs
  neqo-bin/src/udp.rs
Due: none

Update neqo-udp/src/lib.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Fixes
  neqo-udp/src/lib.rs
Due: neqo-udp

fix: Increase the socket TX buffer to hold a GSO batch
  neqo-bin/src/udp.rs
  neqo-udp/src/lib.rs
Due: neqo-udp

Caller controls the sizes
  neqo-udp/src/lib.rs
Due: neqo-udp

Halve the socket buffer request until the OS accepts it
  neqo-udp/src/lib.rs
Due: neqo-udp

Test socket buffer halving; deduplicate send buffer raise
  neqo-udp/src/lib.rs
Due: neqo-udp

fix: Pad to the PMTUD probe size only when sending a probe
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/pmtud.rs
  neqo-transport/src/path.rs
  neqo-transport/src/recovery/mod.rs
Due: neqo-transport

fix: Report packet and datagram sizes accurately in qlog
  neqo-common/src/qlog.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/saved.rs
  neqo-transport/src/server.rs
Due: neqo-common, neqo-transport

Suggestions from @martinthomson and further cleanups
  neqo-common/src/qlog.rs
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/packet/metadata.rs
  neqo-transport/src/packet/mod.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/saved.rs
Due: neqo-common, neqo-transport

fix: Redact all stateless reset tokens in qlog, report full dropped tail
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-transport

style: Format tparams_set for stable rustfmt
  neqo-transport/src/qlog.rs
Due: neqo-transport

fix: Log a received packet's own CIDs in qlog
  neqo-transport/src/connection/tests/handshake.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/packet/metadata.rs
Due: neqo-transport

fix: Scale qlog ack_delay by the ACK sender's ack_delay_exponent
  neqo-transport/src/connection/mod.rs
  neqo-transport/src/connection/tests/recovery.rs
  neqo-transport/src/frame.rs
  neqo-transport/src/qlog.rs
  neqo-transport/src/tparams.rs
Due: neqo-transport

fix: Keep qlog event times monotonic
  neqo-common/src/qlog.rs
  neqo-transport/src/connection/tests/mod.rs
  neqo-transport/src/connection/tests/qlog.rs
  neqo-transport/src/qlog.rs
Due: neqo-common, neqo-transport
